<form [formGroup]="formulario">
  <div class="linha-seletor">
    <label>LEILÃO:</label>
    <ng-select
      [items]="leiloes"
      formControlName="leilao"
      bindLabel="nome"
      (change)="emitirLeilao()"
    >
      <ng-template
        ng-option-tmp
        let-item="item"
        let-index="index"
        let-search="searchTerm"
      >
        <small
          >{{ item.id }} - {{ item.nome | uppercase }} -
          {{ item.titulo | uppercase }}</small
        >
      </ng-template>
    </ng-select>
  </div>
</form>
