<ngx-loading [show]="loading" [config]="{ backdropBrecolhimentoRadius: '0px' }"></ngx-loading>
<div class="animated fadeIn">
  <div class="dashboard-bar">
    <div class="row justify-content-end">
      <div class="col-md-3 text-right">
        <i class="far fa-calendar"></i>&nbsp; <span #dp="bsDaterangepicker" [(bsValue)]="periodo" bsDaterangepicker [bsConfig]="bsConfig" title="Periodo" class="dash-periodo">{{periodo[0] | amDateFormat:'DD MMM YY' }} - {{periodo[1] | amDateFormat:'DD MMM YY' }}</span>
      </div>
      <div class="col-md-2 text-left">
        <div class="dropdown" dropdown title="Cliente">
          <div class="dropdown-toggle text-truncate" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            <i class="far fa-user"></i>&nbsp;
            <span class="d-md-down-none">{{clienteSelected?.nome}}</span>
          </div>
          <div class="dropdown-menu dropdown-menu-right scrollable-dropdown" *dropdownMenu aria-labelledby="simple-dropdown">
            <div class="dropdown-header text-center"><strong>CLIENTE</strong></div>
            <div class="dropdown-item" *ngFor="let cli of clientes; let i = index" (click)="setCliente(cli)" style="cursor:pointer">{{cli.nome}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-left">
        <div class="dropdown" dropdown title="Deposito">
          <div class="dropdown-toggle text-truncate" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            <i class="far fa-building"></i>&nbsp;
            <span class="d-md-down-none">{{depositoSelected?.descricao}}</span>
          </div>
          <div class="dropdown-menu dropdown-menu-right scrollable-dropdown " *dropdownMenu aria-labelledby="simple-dropdown">
            <div class="dropdown-header text-center"><strong>DEPÓSITO</strong></div>
            <div class="dropdown-item" *ngFor="let dep of clienteSelected.depositos; let i = index" (click)="setDeposito(dep)" style="cursor:pointer">{{dep.descricao}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-left">
        <form [formGroup]="selectForm">
          <i class="far fa-bookmark"></i>&nbsp;
          <ss-multiselect-dropdown [options]="tiposLiberacao" [texts]="textsSelect" [settings]="settingsSelect" formControlName="optionsModel" class="multi-select" ></ss-multiselect-dropdown>
        </form>
      </div>
      <div class="col-md-3 text-left pr-5">
        <div class="dropdown" dropdown title="Autoridade">
          <div class="dropdown-toggle text-truncate" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            <i class="fas fa-shield-alt"></i>&nbsp;
            <span class="d-md-down-none">{{autoridadeResponsavel?.descricao}}</span>
          </div>
          <div class="dropdown-menu dropdown-menu-right scrollable-dropdown" *dropdownMenu aria-labelledby="simple-dropdown">
            <div class="dropdown-header text-center"><strong>AUTORIDADE</strong></div>
            <div class="dropdown-item" (click)="setAutoridades({ id_autoridade_responsavel: 0, descricao: 'TODAS'})" style="cursor:pointer">TODOS</div>
            <div class="dropdown-item" *ngFor="let a of listAutoridades; let i = index" (click)="setAutoridades(a)" style="cursor:pointer">{{a.descricao}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row" *ngIf="liberadosConsolidado?.length > 0">
        <div class="col text-right">
          <button   type="button"
                    (click)="exportAsPDF()"
                    class="btn btn-danger ml-3"
                    title="Exportar para PDF">
              <i class="fas fa-file-pdf"></i>&nbsp;PDF
          </button>
          <button type="button"
                  (click)="exportAsExcel()"
                  class="btn btn-success ml-2"
                  title="Exportar para Excel">
            <i class="fas fa-file-excel"></i>&nbsp;Excel
        </button>
        </div>
      </div>
      <div class="table-responsive mt-4">
        <div class="table-responsive mt-1">
          <table class="table table-striped table-sm table-responsive-sm" [mfData]="liberadosConsolidado" #mfLiberadosConsolidado="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="numero_formulario_grv">GRV</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="placa">Placa</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="chassi">Chassi</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="marca_modelo">Marca/Modelo</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="tipo_veiculo">Tipo Veiculo</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="data_liberacao">Data Liberação</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="autoridade_responsavel">Autoridade</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="forma_pagamento">Forma Pag</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="total_item">Total Pago</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="tipo_liberacao_descricao">Tipo</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="nota_fiscal">NF</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mfLiberadosConsolidado.data">
                <td>{{item.numero_formulario_grv }}</td>
                <td>{{item.placa}}</td>
                <td>{{item.chassi}}</td>
                <td>{{item.marca_modelo}}</td>
                <td>{{item.tipo_veiculo}}</td>
                <td class="text-nowrap">{{item.data_liberacao | amDateFormat:'DD/MM/YYYY HH:mm'}}</td>
                <td>{{item.autoridade_responsavel}}</td>
                <td>{{item.forma_pagamento}}</td>
                <td class="text-nowrap">{{item.total_item | currency:'R$ '}}</td>
                <td>{{item.tipo_liberacao_descricao}}</td>
                <td>{{item.nota_fiscal}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="13">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row" *ngIf="resumo?.length > 0">
        <div class="col text-right">
          <button   type="button"
                    (click)="exportResumoAsPDF()"
                    class="btn btn-danger ml-3"
                    title="Exportar para PDF">
              <i class="fas fa-file-pdf"></i>&nbsp;PDF
          </button>
          <button type="button"
                  (click)="exportResumoAsExcel()"
                  class="btn btn-success ml-2"
                  title="Exportar para Excel">
            <i class="fas fa-file-excel"></i>&nbsp;Excel
        </button>
        </div>
      </div>
      <div class="table-responsive mt-4">
        <div class="table-responsive mt-1">
          <table class="table table-striped table-sm table-responsive-sm" [mfData]="resumo" #mfResumo="mfDataTable" [mfRowsOnPage]="50">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="descricao">Tipo Veiculo</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="valor">Valor Pagamento</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="qtd">Qtd</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="ticketMedio">Ticket Médio</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mfResumo.data">
                <td>{{item.descricao }}</td>
                <td>{{item.valor | currency:'R$ '}}</td>
                <td>{{item.qtd}}</td>
                <td>{{item.ticketMedio | currency:'R$ '}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
