<ngx-loading [show]="loading" [config]="{ backdropBrecolhimentoRadius: '0px' }"></ngx-loading>
<div class="animated fadeIn">
  <div class="dashboard-bar">
    <div class="row justify-content-end form-inline">
      <div class="col-md-auto text-right">
        <div class="form-group">
          <span>Placa:&nbsp;</span>
          <input type="text" name="placa" class="form-control" [(ngModel)]="placa">
        </div>
      </div>
      <div class="col-md-auto text-right">
        <div class="form-group">
          <span>Chassi:&nbsp;</span>
          <input type="text" name="chassi" class="form-control" [(ngModel)]="chassi">
        </div>
      </div>
      <div class="col-md-auto text-right pr-5">
        <div class="form-group">
          <span>GRV:&nbsp;</span>
          <input type="text" name="grv" class="form-control" [(ngModel)]="grv">
        </div>
      </div>
      <div class="col-md-auto text-right pr-5">
        <button class="btn btn-primary btn-block" (click)="getPericiaLeilao()"><i class="fa fa-search"></i> Consultar</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div *ngIf="!pericialeilao" class="text-center p-5">
        <h4>Entre com os dados de Placa, Chassi ou GRV para consultar a Perícia de Leilão</h4>
      </div>
      <div *ngIf="pericialeilao && !loading">
          <div class="row mb-5">
            <div class="col-md-12 text-right">
              <button class="btn btn-link" (click)="exportAsPDF('relatorio');"><i class="fa fa-file-pdf"></i> Baixar PDF</button>
            </div>
          </div>
          <div id="relatorio">
            <div class="row">
              <div class="col-md-12">
                <h5>Classificação</h5>
              </div>
              <div class="col-md-8">
               <span class="square"></span> SUCATA INSERVÍVEIS IDENTIFICÁVEL
              </div>
              <div class="col-md-4">
                <span class="square"></span><span class="text-success">APROVADO</span>
               </div>
              <div class="col-md-8 mt-1">
                <span class="square"></span> SUCATA INSERVIVEL NAO IDENTIFICAVEL
               </div>
               <div class="col-md-4 mt-1">
                <span class="square"></span><span class="text-danger">REPROVADO</span>
               </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-8">
                <h5>Numero do Processo</h5>
              </div>
              <div class="col-md-4">
                <h5>Data de Emissão</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                {{pericialeilao.numero_formulario_grv}}
              </div>
              <div class="col-md-4">
                {{dataAtual}}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <h5>Dados do Veículo</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
              <label>Placa: </label>
              <span>{{pericialeilao.placa}}</span>
              </div>
              <div class="col-md-3">
              <label>Marca/Modelo: </label>
              <span>{{pericialeilao.marca_modelo}}</span>
              </div>
              <div class="col-md-3">
              <label>Tipo do Veículo: </label>
              <span>{{pericialeilao.tipoVeiculo}}</span>
              </div>
              <div class="col-md-3">
                <label>Categoria: </label>
                <span>{{pericialeilao.descricao_categoria}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
              <label>Ano Mod: </label>
              <span>{{pericialeilao.ano_modelo}}</span>
              </div>
              <div class="col-md-3">
              <label>Ano Fab: </label>
              <span>{{pericialeilao.ano_fabricacao}}</span>
              </div>
              <div class="col-md-3">
              <label>Cor: </label>
              <span>{{pericialeilao.cor}}</span>
              </div>
              <div class="col-md-3">
                <label>Combustível: </label>
                <span>{{pericialeilao.combustivel || "N/A"}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
              <label>Tipo Carroceria: </label>
              <span>{{pericialeilao.tipoCarroceria || "N/A"}}</span>
              </div>
              <div class="col-md-3">
              <label>Espécie: </label>
              <span>{{pericialeilao.especie || "N/A"}}</span>
              </div>
              <div class="col-md-3">
                <label>Eixo: </label>
                <span>{{pericialeilao.eixo || "0"}}</span>
              </div>
              <div class="col-md-3">
                <label>Potencia: </label>
                <span>{{pericialeilao.potencia || "0"}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
              <label>Cilindrada: </label>
              <span>{{pericialeilao.cilindrada || "0"}}</span>
              </div>
              <div class="col-md-3">
                <label>Cap Carga: </label>
                <span>{{pericialeilao.capacidade_carga || "0,00"}}</span>
              </div>
              <div class="col-md-3">
                <label>CMT: </label>
                <span>{{pericialeilao.cmt || "0"}}</span>
              </div>
              <div class="col-md-3">
                <label>PBT: </label>
                <span>{{pericialeilao.pbt || "0"}}</span>
              </div>
              <div class="col-md-3">
                <label>Cap Pass: </label>
                <span>{{pericialeilao.capacidade_passageiros || "0,00"}}</span>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <h5>Fotos do Veículo</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 text-center p-2" *ngFor="let foto of pericialeilao.fotos">
                <img [src]="foto.fotoBase64" height="180px">
                <div class="mt-2">
                  CH<span class="square"></span>
                  MT<span class="square"></span>
                  FR<span class="square"></span>
                  F/D<span class="square"></span>
                  L/D<span class="square"></span>
                  L/E<span class="square"></span>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <h5>Observações</h5>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-md-12">
                <!-- Este documento só é válido com o laudo de classificação dos danos veiculares, anexos. -->
                <hr class="mt-4">
                <hr class="mt-4">
                <hr class="mt-4">
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-4">
                Local, __________________________________________________
              </div>
              <div class="col-md-3">
                Data __________/__________/__________
              </div>
              <div class="col-md-5">
                Assinatura e Carimbo _________________________________________________
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                *Legenda das fotos CH=Chassi, MT=Motor, FR=Frente, FD=Fundo, LD=lateral direita, LE=Lateral esquerda
              </div>
              <div class="col-md-12 text-center mt-3">
                <b>Referência da classificação: Art. 7º, a e/ou Art. 16, &#167; 4º da Resolução CONTRAN Nº 623/2016</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
