<form [formGroup]="formulario" (ngSubmit)="onSubmit()" >
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <i class="fa fa-building" aria-hidden="true"></i>
            &nbsp;Informações da Empresa - Obrigatorios*
          </div>
          <div class="card-block">
            <div class="row ">
              <div class="form-group col-4" >
                <ng-template #nomeFantasia><app-error-msg [control]="formulario.get('nomeFantasia')" label="Nome Fantasia"></app-error-msg></ng-template>
                <label for="nomeFantasia">Nome Fantasia</label>
                <input [popover]="nomeFantasia" type="text" class="form-control" [ngClass]="aplicaCssErro('nomeFantasia')" id="nomeFantasia" placeholder="Nome Fantasia" name="nomeFantasia" formControlName="nomeFantasia" triggers="keypress:focusout">
              </div>
              <div class="form-group col-4" >
                <ng-template #razaoSocial><app-error-msg [control]="formulario.get('razaoSocial')" label="Razão Social"></app-error-msg></ng-template>
                <label for="razaoSocial">Razão Social</label>
                <input [popover]="razaoSocial" type="text" class="form-control" [ngClass]="aplicaCssErro('razaoSocial')" id="razaoSocial" placeholder="Razão Social" name="razaoSocial" formControlName="razaoSocial" triggers="keypress:focusout">
              </div>
              <div class="form-group col-4">
                <ng-template #cnpj><app-error-msg [control]="formulario.get('cnpj')" label="CNPJ"></app-error-msg></ng-template>
                <label for="cnpj">CNPJ</label>
                <input [ngClass]="aplicaCssErro('cnpj')"  type="text" class="form-control" id="cnpj" placeholder="CNPJ" formControlName="cnpj"
                [popover]="cnpj" triggers="keypress:focusout" [textMask]="{mask: maskCnpj}">
              </div>
              
          </div>
          <div class="row">

            <div class="form-group col-4" >
              <ng-template #codigoTributarioMunicipio><app-error-msg [control]="formulario.get('codigoTributarioMunicipio')" label="Código Tributário Município"></app-error-msg></ng-template>
              <label for="codigoTributarioMunicipio">Código Tributário Município</label>
              <input [popover]="codigoTributarioMunicipio" type="text" class="form-control" [ngClass]="aplicaCssErro('codigoTributarioMunicipio')" id="codigoTributarioMunicipio" placeholder="Código Tributário Município" name="codigoTributarioMunicipio" formControlName="codigoTributarioMunicipio" triggers="keypress:focusout">
            </div>
            <div class="form-group col-4">
              <ng-template #telefone><app-error-msg [control]="formulario.get('telefone')" label="Telefone"></app-error-msg></ng-template>
              <label for="telefone">Telefone</label>
              <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefone')" id="telefone"  formControlName="telefone"
               [popover]="telefone" triggers="keypress:focusout" [textMask]="{mask: mask}">
            </div>
            <div class="form-group col-4">
              <label for="ativo">Ativo</label>
              <select class="form-control" [ngClass]="aplicaCssErro('ativo')" formControlName="ativo" >
                <option value="true">Sim</option>
                <option value="false">Não</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <i class="fa fa-building" aria-hidden="true"></i>
            &nbsp; Inscrição / Grupo Econômico
          </div>
          <div class="card-block">
            <div class="row ">
              <div class="form-group col-4" >
                <ng-template #grupoEconomico><app-error-msg [control]="formulario.get('grupoEconomico')" label="Grupo Econômico"></app-error-msg></ng-template>
                <label for="grupoEconomico">Grupo Econômico</label>
                <input [popover]="grupoEconomico" type="text" class="form-control" [ngClass]="aplicaCssErro('grupoEconomico')" id="grupoEconomico" placeholder="Grupo Econômico" name="grupoEconomico" formControlName="grupoEconomico" triggers="keypress:focusout">
              </div>
              <div class="form-group col-4" >
                <ng-template #inscricaoEstadual><app-error-msg [control]="formulario.get('inscricaoEstadual')" label="Inscrição Estadual"></app-error-msg></ng-template>
                <label for="inscricaoEstadual">Inscrição Estadual</label>
                <input [popover]="inscricaoEstadual" type="text" class="form-control" [ngClass]="aplicaCssErro('inscricaoEstadual')" id="inscricaoEstadual" placeholder="Inscrição Estadual" name="inscricaoEstadual" formControlName="inscricaoEstadual" triggers="keypress:focusout">
              </div>
              <div class="form-group col-4" >
                <ng-template #inscricaoMunicipal><app-error-msg [control]="formulario.get('inscricaoMunicipal')" label="Inscrição Municipal"></app-error-msg></ng-template>
                <label for="inscricaoMunicipal">Inscrição Municipal</label>
                <input [popover]="inscricaoMunicipal" type="text" class="form-control" [ngClass]="aplicaCssErro('inscricaoMunicipal')" id="inscricaoMunicipal" placeholder="Inscrição Municipal" name="inscricaoMunicipal" formControlName="inscricaoMunicipal" triggers="keypress:focusout">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="animated fadeIn" formGroupName="endereco">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
            Endereço
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-4">
                <ng-template #cep><app-error-msg [control]="formulario.get('endereco.cep')" label="Cep"></app-error-msg></ng-template>
                <label for="cep">Cep</label>
                <input type="text" class="form-control" id="cep" [ngClass]="aplicaCssErro('endereco.cep')"
                  formControlName="cep" (blur)="consultaCEP()" [popover]="cep" triggers="keypress:focusout" [textMask]="{mask: maskCep}">
              </div>
              <div class="form-group col-4">
                <ng-template #logradouro><app-error-msg [control]="formulario.get('endereco.logradouro')" label="Logradouro"></app-error-msg></ng-template>
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.logradouro')" id="logradouro"
                  formControlName="logradouro" [popover]="logradouro" triggers="keypress:focusout">
              </div>

              <div class="form-group col-4">
                <ng-template #numero><app-error-msg [control]="formulario.get('endereco.numero')" label="Número"></app-error-msg></ng-template>
                <label for="numero">Número</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.numero')" id="numero"
                  formControlName="numero" [popover]="numero" triggers="keypress:focusout">
              </div>
            </div>

            <div class="row">
              <ng-template #complemento><app-error-msg [control]="formulario.get('endereco.complemento')" label="Complemento"></app-error-msg></ng-template>
              <div class="form-group col-3">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.complemento')" id="complemento"
                  formControlName="complemento" [popover]="complemento" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <ng-template #bairro><app-error-msg [control]="formulario.get('endereco.bairro')" label="Bairro"></app-error-msg></ng-template>
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.bairro')" id="bairro"
                  formControlName="bairro" [popover]="bairro" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <ng-template #cidade><app-error-msg [control]="formulario.get('endereco.cidade')" label="Cidade"></app-error-msg></ng-template>
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade"
                  formControlName="cidade" [ngClass]="aplicaCssErro('endereco.cidade')" [popover]="cidade" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <ng-template #estado><app-error-msg [control]="formulario.get('endereco.estado')" label="Estado"></app-error-msg></ng-template>
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado"
                  formControlName="estado" [ngClass]="aplicaCssErro('endereco.estado')" [popover]="estado" triggers="keypress:focusout" maxlength="2">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary saveCancel"><i class="fa fa-save"></i> Salvar</button>
            <button type="reset" class="btn btn-danger" [routerLink]="['/usuarios']"><i class="fa fa-undo"></i>
              Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
