<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-user-secret"></i> Novo Leilão - Informações Obrigatorias*
          </div>

          <div class="card-block">
            <div class="row ">
              <div class="form-group col-6">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
              </div>
              <div class="form-group col-6">
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo" placeholder="Título" formControlName="titulo">
              </div>

            </div>
            <div class="row">
              <div class="form-group col-6">
                <label for="dataLeilao">Data Leilão</label>
                <input type="date" class="form-control" id="dataLeilao" placeholder="dd/mm/aaaa"
                  formControlName="dataLeilao">
              </div>
              <div class="form-group col-6">
                <label for="dataAberturaLance">Data Abertura de Lances</label>
                <input type="date" class="form-control" id="dataAberturaLance" placeholder="dd/mm/aaaa"
                  formControlName="dataAberturaLance">
              </div>
            </div>




          </div>
          <div class="col-4" formGroupName="foto">
            <fieldset class="form-group">

              <label>Upload Logo</label>
              {{imageError}}
              <div class="custom-file fileInputProfileWrap">
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                <div class="img-space">

                  <ng-container *ngIf="isImageSaved; else elseTemplate">
                    <img [src]="cardImageBase64" />
                  </ng-container>
                  <ng-template #elseTemplate>

                    <img src="./../../assets/placeholder.png" class="img-responsive">
                  </ng-template>

                </div>

              </div>
            </fieldset>
            <a class="btn btn-danger col-8" (click)="removeImage()" *ngIf="isImageSaved">Remove</a>
          </div>







        </div>
      </div>
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-user-secret"></i> Datas Opcionais
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-6">
                <label for="dataInicioAgendamento">Data Início Agendamento</label>
                <input type="date" class="form-control" id="dataInicioAgendamento"
                  formControlName="dataInicioAgendamento">
              </div>
              <div class="form-group col-6">
                <label for="dataFimAgendamento">Data Fim Agendamento</label>
                <input type="date" class="form-control" id="dataFimAgendamento" formControlName="dataFimAgendamento">
              </div>
            </div>

            <div class="row ">
              <div class="form-group col-6">
                <label for="dataEdital">Data Edital</label>
                <input type="date" class="form-control" id="dataEdital" formControlName="dataEdital">
              </div>
              <div class="form-group col-6">
                <label for="dataNotificacao">Data Notificação</label>
                <input type="date" class="form-control" id="dataNotificacao" formControlName="dataNotificacao">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label for="dataIncioLiberacao">Data Início Liberação</label>
                <input type="date" class="form-control" id="dataIncioLiberacao" placeholder=""
                  formControlName="dataIncioLiberacao">
              </div>
              <div class="form-group col-6">
                <label for="dataFimLiberacao">Data Fim Liberação</label>
                <input type="date" class="form-control" id="dataFimLiberacao" formControlName="dataFimLiberacao">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label for="emailsNotificacao">Emails</label>
                <input type="text" class="form-control" id="emailsNotificacao" placeholder="Emails"
                  formControlName="emailsNotificacao">
              </div>
              <div class="form-group col-6">
                <label for="dataDiarioOficial">Data Diário Oficial</label>
                <input type="date" class="form-control" id="dataDiarioOficial" formControlName="dataDiarioOficial">
              </div>
            </div>




          </div>



        </div>
      </div>
    </div>
  </div>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-user-secret"></i> Diário Oficial
          </div>
          <div class="card-block">
            <div class="row">

              <div class="form-group col-6">
                <label for="dataDiarioOficial">Data Diário Oficial</label>
                <input type="date" class="form-control" id="dataDiarioOficial" formControlName="dataDiarioOficial">
              </div>
              <div class="form-group col-6">
                <label for="numeroDiarioOficial">Número Diario Oficial</label>
                <input type="number" class="form-control" id="numeroDiarioOficial"
                  formControlName="numeroDiarioOficial">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-user-secret"></i> Identificador - Informações Obrigatórias*
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-6">
                <label for="categoriaId">Categoria </label>
                <select class="form-control" formControlName="categoriaId">
                  <option *ngFor="let item of categorias" value="{{item.categoriaId}}">{{item.descricao}}</option>
                </select>
              </div>
              <div class="form-group col-6">
                <label for="comitenteId">Comitente </label>
                <select class="form-control" formControlName="comitenteId">
                  <option *ngFor="let item of comitentes" value="{{item.comitenteId}}">{{item.nome}}</option>
                </select>
              </div>
            </div>
            <div class="row">

              <div class="form-group col-6">
                <label for="leiloeiroId">Leiloeiro </label>
                <select class="form-control" formControlName="leiloeiroId">
                  <option *ngFor="let item of leiloeiros" value="{{item.leiloeiroId}}">{{item.pessoa.nomeCompleto}}
                  </option>

                </select>
              </div>
              <div class="form-group col-6">
                <label for="empresaId">Empresa </label>
                <select class="form-control" formControlName="empresaId">
                  <option *ngFor="let item of empresas" value="{{item.empresaId}}">{{item.nomeFantasia}}</option>

                </select>
              </div>
            </div>



          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
            <button type="reset" class="btn btn-danger" [routerLink]="['/agents']"><i class="fa fa-undo"></i>
              Cancelar</button>
          </div>


        </div>
      </div>
    </div>
  </div>
</form>