<div class="dashboard-bar">
  <div class="row justify-content-end">
    <div class="col-md-auto text-right">
      <div class="dropdown" dropdown title="Leilões">
        <div class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
          <i class="fa fa-gavel"></i>
          <span class="d-md-down-none">{{leilaoNome}}</span>
        </div>
        <div class="dropdown-menu dropdown-menu-right scrollable-dropdown" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Leilão</strong></div>
          <div class="dropdown-item" *ngFor="let item of leiloes; let i = index" (click)="setLeilao(item.id, item.nome)" style="cursor:pointer">{{item.nome}} - {{item.titulo}}</div>
        </div>
      </div>
    </div>
    <div class="col-md-auto text-right pr-5">
      <div class="dropdown" dropdown title="Lotes">
        <div class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
          <i class="fa fa-list"></i>
          <span class="d-md-down-none">Lote {{idLote}}</span>
        </div>
        <div class="dropdown-menu dropdown-menu-right scrollable-dropdown " *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Lote</strong></div>
          <div class="dropdown-item" *ngFor="let item of lotes; let i = index" (click)="setLotes(item.loteId, item.numeroLote)" style="cursor:pointer">{{item.numeroLote}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-history" aria-hidden="true"></i>
            Histórico de Lances
          </div>

          <button type="button" class="btn btn-success btn-sm" title="Exportar para Excel"><i class="fa fa-file-excel" aria-hidden="true"></i>&nbsp;Excel</button>

        </div>

        <div class="card-block" >
          <div class="table-responsive mt-4">
            <table class="table table-striped" [mfData]="lances" #mfLances="mfDataTable" [mfRowsOnPage]="5">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="posicao">Posição</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="nomeUsuario">Usuário</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="dataLance">Data do Lance</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="valor">Valor</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="taxas">Taxas</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="comissao">Comissão</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="total">Total</mfDefaultSorter>
                  </th>
                  <th *ngIf="ehLeilaoEncerrado">
                    <mfDefaultSorter by="vencedor">Vencedor</mfDefaultSorter>
                  </th>
                  <th class="text-center" >
                    Ação
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfLances.data; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{item.nomeUsuario}}</td>
                  <td>{{item.dataLance | date: 'dd/MM/yyyy H:MM' }}</td>
                  <td>{{item.valor | currencyFormat }}</td>
                  <td>{{item.taxas | currencyFormat}}</td>
                  <td>{{item.comissao | currencyFormat}}</td>
                  <td>{{item.total | currencyFormat}}</td>
                  <td *ngIf="ehLeilaoEncerrado" >
                    <button *ngIf="!item.vencedor" type="button" class="btn btn-info btn-sm" (click)="gravarLanceVencedor(item.lanceId)">&nbsp; Selecionar</button>
                    <div *ngIf="item.vencedor"> Vencedor!</div>
                  </td>
                  <td class="text-center" nowrap>
                    <div class="dropdown" dropdown>
                      <button class="btn" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                        <li><a class="dropdown-item" (click)="openModal(cancelarLeilao, item.lanceId)">Cancelar Lance</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="loading">
                  <td class="text-center text-muted" colspan="9">
                    <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                  </td>
                </tr>
                <tr *ngIf="!loading && mfLances.data.length === 0 && idLote">
                  <td class="text-center text-muted" colspan="9">
                    <h6>Este lote ainda não teve lances</h6>
                  </td>
                </tr>
                <tr *ngIf="!loading && mfLances.data.length === 0 && !idLote">
                  <td class="text-center text-muted" colspan="9">
                    <h6>Selecione um lote para visualizar o histórico</h6>
                  </td>
                </tr>

              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
            <ng-template #cancelarLeilao>
              <div class="modal-body">
                <h3>Deseja realmente cancelar o lance?</h3>
              </div>
              <form [formGroup]="formulario">
                <div class="row d-flex justify-content-center">
                  <div class="form-group col-11">
                    <label for="motivo">Motivo</label>
                    <input type="text" class="form-control" id="motivo" formControlName="motivo">
                  </div>
                  </div>
              </form>

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary "(click)="cancelarLance()" (click)="modalRef?.hide()" [disabled]="!formulario.valid">Sim</button>
                <button type="reset" class="btn btn-danger" (click)="modalRef?.hide()">Não</button>
              </div>
            </ng-template>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
