<form [formGroup]="formulario" (ngSubmit)="onSubmit()" appFocus>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <i class="fa fa-comment"></i>
            &nbsp;Tipo de notificação
          </div>
          <div class="card-block">
            <div class="row" >
              <div class="col-12">
                <div class="row ">
                  <div class="form-group col-12" >
                    <label for="descricao">Descrição</label>
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('descricao')" id="descricao" placeholder="Descrição" name="descricao" formControlName="descricao"  triggers="keypress:focusout">
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary saveCancel"><i class="fa fa-save"></i> Salvar</button>
            <button type="reset" class="btn btn-danger" [routerLink]="['/tiponotificacao']"><i class="fa fa-undo"></i>
              Cancelar</button>
              <button  class="btn btn-warning" (click)="desativar()" ><i class="fa fa-undo"></i>
                Desativar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
