<div class="footer" style="margin-top: 1rem;width: 100% ; bottom: 0; background-color: #fff;">
  <div class="" style="width: 90%;margin: auto;">
    <img src="../../../assets/footer.png" alt="">
    <p style="margin-top: 1rem;display: flex; flex-direction: column;">
      <b>Vice-diretoria de Educação, Pesquisa e Inovação – VDEPI / Instituto de Tecnologia em Fármacos – Farmanguinhos
        /
        Fiocruz</b>
      <span>Endereço: Rua Sizenando Nabuco, 100 – Manguinhos - Rio de Janeiro
      </span>
      <span> Cep: 21041-250
      </span>
      <span>
        Tel: (21) 3977-2465
      </span>
    </p>
  </div>
</div>