<div>
  <div class="d-flex align-items-center justify-content-between">
    <label for="depositario">{{ label }}</label>
    <div>
      <a [routerLink]="[rota]" target="_blank" title="Adicionar Novo"
        ><i class="fas fa-plus pointer mr-2"></i
      ></a>
      <a
        (click)="refresh($event.target)"
        [routerLink]="[]"
        *ngIf="!isSpinning; else loadingAnimation"
        title="Atualizar Lista"
      >
        <i id="refresh" class="fa fa-sync-alt pointer"></i>
      </a>
    </div>
  </div>
  <ng-select
    [items]="items"
    [bindLabel]="bindLabel"
    [bindValue]="bindValue"
    [(ngModel)]="value"
    (ngModelChange)="updateValue($event)"
    [multiple]="multiple"
  ></ng-select>
</div>

<ng-template #loadingAnimation>
  <a [routerLink]="[]"
    ><i [ngClass]="{ spin: true }" class="fas fa-undo pointer"></i
  ></a>
</ng-template>
