<div class="body">

  <app-header></app-header>

  <app-banner [title]="titleBanner" ></app-banner>


  <!-- SOBRE -->
  <div #sobre class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex
    justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-5 pt-md-4">
        <h4 style="font-size: 1.2rem; color: gray;">
          SOBRE
        </h4>
        <h2 style="color:#2864AE; font-weight: bolder;">
          A VDEPI
        </h2>
        <p class="text-about">
          A Vice Diretoria de Educação, Pesquisa e Inovação – VDEPI, busca o fortalecimento da pesquisa, do
          desenvolvimento e formação de recursos humanos, através do constante esforço do seu corpo de pesquisadores,
          tecnologistas e técnicos, com foco em soluções para as doenças tropicais negligenciadas, doenças de alto custo
          e doenças de alta incidência.
          <br>
          <br>
          A VDEPI atua de forma integrada em atendimento aos objetivos e missão deste Instituto <i>“Atuar, como unidade
            técnico­-científica da Fiocruz, na promoção da saúde pública, por meio da ge­ração e difusão de
            conhecimentos,
            da educação, da pesquisa, do de­senvolvimento tecnológico e da produção de medicamentos.”</i>
        </p>
        <div class="read-more w-100 pb-lg-5" style="margin-top: 15px;">
          <h4 style="font-size: 1.2rem; color: gray; text-align: end; cursor: pointer;"
            (click)="redirecionarParaReadMore()">
            <u>Leia mais</u>
          </h4>
        </div>

      </div>
      <div class="col-md-12 col-lg-7 pb-md-4 text-center d-flex justify-content-xl-center align-items-xl-center">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/jS37uwcmkdE" frameborder="0"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!-- MISSÃO E VISÃO-->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">
    <div class="col-md-11 col-lg-10 d-flex
    justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-12 pt-md-4 pb-4">
        <h4 style="font-size: 1.2rem; color: gray; ">
          MISSÃO E VISÃO
        </h4>

        <p class="text-about last-news-paragraph">
          <b>Visão: </b>“Ser protagonista e inovador na disponibilização de soluções integradas e sustentáveis para o
          SUS.”
          <br>
          <br>
          <b>Missão:</b> “Promover a oferta de soluções integradas e sustentáveis, gerando e difundindo conhecimentos,
          inovando
          e fornecendo soluções para doenças de grande relevância para a população brasileira.”
          <br>
          <br>
          <b>Vice-Diretora: Dra. Nubia Boechat</b>
          <br>
          Graduada pela Faculdade de Farmácia da UFRJ, mestra em síntese orgânica pelo NPPN-UFRJ, doutora em química
          pelo IQ-UFRJ, com estágio “sanduíche” na Universidade de York, Inglaterra. Pós-doutorado na London School of
          Hygiene and Tropical Medicine de Londres, Inglaterra. Tecnologista sênior da Fundação Oswaldo Cruz (Fiocruz),
          desde 1986, onde tem ocupado vários cargos, inclusive de Diretora Executiva de Farmanguinhos. Foi
          vice-secretária da Regional Rio da Sociedade Brasileira de Química e subsecretária de saúde do município de
          Niterói, Rio de Janeiro. É bolsista em produtividade em pesquisa do CNPq e Cientista do Nosso Estado pela
          Faperj. Lidera importante grupo de P&D em síntese de fármacos, com centenas de moléculas inéditas obtidas para
          as doenças negligenciadas, Aids e câncer. Em 2021, foi vencedora do prêmio internacional Mulheres Brasileiras
          na Química, na categoria Liderança na Indústria, dado pela American Chemical Society em parceria com a
          Sociedade Brasileira de Química.

        </p>
      </div>
    </div>
  </div>


  <!-- ESTRUTURA ORGANIZACIONAL -->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex
  justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-12 pt-md-4 pb-4">
        <h4 style="font-size: 1.2rem; color: gray; ">
          ESTURUTURA ORGANIZACIONAL
        </h4>
        <h2 style="color:#2864AE; font-weight: bolder;">
          ORGANOGRAMA
        </h2>
        <div class="col-12 col-md-12 col-lg-12 pb-md-4 text-center d-flex justify-content-center align-items-center">
          <img src="../../../assets/organograma.png" class="col-md-8 col-lg-8 col-xl-8">
        </div>
      </div>
    </div>
  </div>


  <app-labor [isHome]="isHome"></app-labor>

  <app-footer></app-footer>
</div>