<div class="body">

  <header class="w-100 row justify-content-between align-items-center m-0 p-0">
    <section class="col-3   left-side">
      <img src="../../../assets/icone/Hamburger.png" class="menu-img" (click)="showMenu = !showMenu"
        style="width: 3rem; cursor: pointer;">
    </section>
    <section class="col-3 d-flex justify-content-center">
      
      <img src="../../../assets/icone/vdepiHeader.png" style="cursor: pointer;">
    </section>
    <section class="col-3 d-flex  justify-content-end right-side">
      <div class="container">
        <input type="text" class="search-input">
        <i class="fas fa-search search-icon "></i>
      </div>
    </section>
  </header>

  <div class="fixed-div row justify-content-center pt-4" *ngIf="showMenu && dados">
    <div class="col-12 text-center d-flex">
      <img src="../../../assets/icone/farmMenu.png" style="width: 50px;height: 50px;cursor: pointer;margin-left: 20px;
        margin-right: 15px;">
      <img src="../../../assets/icone/logoMenu.png" style="width: 200px;height: 50px;cursor: pointer;">
    </div>
    <div class="row justify-content-center menu-options">
      <div class="d-flex justify-content-between align-items-center" style="height: 75px; width: 275px;cursor: pointer;"
        (click)="scrollToSection('sobre')">
        <h4 style="color:black; font-size: 1rem; font-weight: bolder;">SOBRE A
          VDPI</h4>
        <img src="../../../assets/svg/Group.svg" style="width: 1rem;">
      </div>
      <div class="d-flex justify-content-between align-items-center" *ngFor="let item of dados"
        style="height: 75px; width: 275px;cursor: pointer;" (click)="redirecionarParaFarmacologia(item.nome)">
        <h4 style="color:black; font-size: 1rem; font-weight: bolder;">{{item.nome}}</h4>
        <img src="../../../assets/svg/Group.svg" style="width: 1rem;">
      </div>
    </div>

  </div>

  <div class=" row justify-content-center align-items-center m-0 p-0 " style="width: 100%;">

    <swiper-container class="mySwiper col-md-11 m-0 mt-5" navigation="true" pagination="true " keyboard="true"
      mousewheel="true" css-mode="true">
      <swiper-slide class="firstImage" style="cursor: pointer;" (click)="redirecionarParaHome()">
        <img src="../../../assets/banner-slide/Banner Principal.png" style="border-radius: 20px;">
      </swiper-slide>
      <swiper-slide class="secondImage" style="cursor: pointer;" (click)="redirecionarParaReadMore()">
        <img src="../../../assets/banner-slide/Banner Principal 2.png" style="border-radius: 20px;">
      </swiper-slide>
    </swiper-container>

  </div>

  <!-- SOBRE -->
  <div #sobre class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex
    justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-5 pt-md-4">
        <h4 style="font-size: 1.2rem; color: gray;">
          SOBRE
        </h4>
        <h2 style="color:#2864AE; font-weight: bolder;">
          A VDEPI
        </h2>
        <p class="text-about">
          A Vice Diretoria de Educação, Pesquisa e Inovação – VDEPI, busca o
          fortalecimento da pesquisa, desenvolvimento, inovação e formação de
          recursos humanos, através do constante esforço do seu corpo de
          pesquisadores, tecnologistas e técnicos, com foco em soluções para as
          doenças tropicais negligenciadas, doenças de alto custo e doenças de
          alta incidência.
          <br>
          <br>
          A VDEPI atua de forma integrada em atendimento aos objetivos e missão
          deste Instituto “Atuar, como unidade técnico­-científica da Fiocruz,
          na promoção da saúde pública, por meio da ge­ração e difusão de
          conhecimentos, da educação, da pesquisa...”
        </p>
        <div class="read-more w-100 pb-lg-5" style="margin-top: 15px;">
          <h4 style="font-size: 1.2rem; color: gray; text-align: end; cursor: pointer;"
            (click)="redirecionarParaReadMore()">
            <u> Leia mais</u>
          </h4>
        </div>

      </div>
      <div class="col-md-12 col-lg-7 pb-md-4 text-center d-flex justify-content-xl-center align-items-xl-center">
        <img src="../../../assets/icone/video1.png" class="col-lg-11 col-xl-9">
      </div>
    </div>
  </div>

  <!-- LABORATORIO -->
  <div #produtos class="row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">
    <div class="col-md-11 col-lg-10 d-flex flex-column justify-content-between align-items-center"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100">
        <div class="col-12" style="padding-top: 25px;">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            LABORATÓRIOS
          </h4>
        </div>

        <div class="col-12 d-flex flex-wrap" style="padding-top: 25px; overflow: hidden;">
          <div #swiperContainer class="swiper-container">
            <div class="swiper-wrapper">
              <!-- Seus slides aqui -->
              <div class="swiper-slide" *ngFor="let item of laboratorios" (click)="redirecionarParaLaboratorio(item.nome)">
                <div class="card-custom d-flex flex-column justify-content-center align-items-center "
                  style="width: 90%; height: 275px; background-color: white;">
                  <div class="card-title" style="color:#2864AE;">
                    <h4 style="font-size: 1rem; text-align: start; margin: 10px;">
                      {{item.nome}}
                    </h4>
                  </div>
                  <img src="../../../assets/laboratorios/img5.png" style="margin-bottom: 15px; max-width: 100%;">
                </div>
                <div class="btn-saiba d-flex justify-content-center align-items-center mb-5" style="width: 90%;">
                  <button class="saiba-mais-btn">SAIBA MAIS</button>
                </div>
              </div>
            </div>
            <!-- Adicione as setas de navegação (opcional) -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ÚLTIMAS PESQUISAS -->
  <div class=" row justify-content-center align-items-center m-0 p-0"
    style="margin-top: 20px !important; gap: 2px 10px">

    <div class="last-searchs col-md-11 col-lg-4 d-flex flex-column justify-content-center align-items-center"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100 p-md-5">
        <div class="col-12">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            ÚLTIMAS PESQUISAS
          </h4>
        </div>
        <div class="col-12 last-news-paragraph">
          Kostas Drakonakis, Sotiris Ioannidis, Jason Polakis “ReScan: A
          Middleware Framework for Realistic and Robust Black-box Web
          Application Scanning” NDSS Symposium 2023, 7 February – 3 March 2023,
          San Diego, California
          <br>
          <br>
          Iosif Arvanitis, Grigoris Ntousakis, Sotiris Ioannidis, Nikos
          Vasilakis “A Systematic Analysis of the Event-Stream Incident” 15th
          EuroSec 2022, April 5 – 8 Rennes, France.
          <br>
          <br>
          Tatiana Trantidou, George Bravos, Philippe Valoggia et al. “SENTINEL –
          Approachable, tailor-made cybersecurity and data protection for small
          enterprises” IEEE cyber security and Resilience, July 27-29, virtual

        </div>
      </div>
    </div>
    <div class="last-news col-md-11 col-lg-6"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100">
        <div class="col-12" style="padding-top: 25px;">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            NOTÍCIAS
          </h4>
        </div>
        <div class="col-12 d-flex justify-content-lg-center align-items-lg-center" style="padding-top: 25px;">
          <div class="card-element col-md-6 col-lg-6"
            style="display: flex; flex-direction: column; justify-content: start; align-items: center;">
            <img src="../../../assets/noticias/Notícia1.png" class="col-lg-12 pr-lg-0" style="margin-bottom: 15px;">
          </div>
          <div class="card-element col-md-6 col-lg-6"
            style="display: flex; flex-direction: column; justify-content: start; align-items: center;">
            <img src="../../../assets/noticias/Notícia 2.png" class="col-lg-12 pl-lg-0">
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- PROGRAMA DE EDUCAÇÃO -->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">

      <div class="col-12" style="padding-top: 25px;">
        <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
          PROGRAMA DE EDUCAÇÃO
        </h4>
      </div>

      <div class="col-12" style="padding-top: 25px;">
        <h1 style="color:#2864AE; font-weight: bolder;">
          PÓS-GRADUAÇÃO
        </h1>
      </div>

      <div class="col-12 pb-md-4">
        <img src="../../../assets/noticias/posgrad.png" style="width: 100%;">
      </div>
    </div>

  </div>

  <!--   PRÊMIOS -->
  <div class="row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">
    <div class="col-md-11 col-lg-10 d-flex flex-column justify-content-between align-items-center"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100">
        <div class="col-12" style="padding-top: 25px;">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            PRÊMIOS
          </h4>
        </div>
        <div class="col-12 d-flex flex-wrap pb-md-5" style="padding-top: 25px; overflow: hidden;">
          <div #swiperContainerPremios class="swiper-container">
            <div class="swiper-wrapper">
              <!-- Seus slides aqui -->
              <div class="swiper-slide" *ngFor="let item of laboratorios" (click)="redirecionarParaLaboratorio(item.nome)">
                <div class="card-custom d-flex flex-column justify-content-center align-items-center "
                  style="width: 90%; height: 275px; background-color: white;">
                  <div class="card-title" style="color:#2864AE;">
                    <h4 style="font-size: 1rem; text-align: start; margin: 10px;">
                      NOME PRÊMIO
                    </h4>
                  </div>
                  <img src="../../../assets/noticias/premio.png" style="margin-bottom: 15px; max-width: 100%;">
                </div>
                <div class="btn-saiba d-flex justify-content-center align-items-center mb-5" style="width: 90%;">
                  <button class="saiba-mais-btn">SAIBA MAIS</button>
                </div>
              </div>
            </div>
            <!-- Adicione as setas de navegação (opcional) -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- GALERIA -->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex flex-column justify-content-start align-items-center"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100 justify-content-center">
        <div class="col-12" style="padding-top: 25px;">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            GALERIA
          </h4>
        </div>

        <div class="row flex-wrap pb-md-5" style="width: 90%;">
          <div class="col-md-6 col-lg-4 p-3">
            <img src="../../../assets/galeria/img1.png">
          </div>
          <div class="col-md-6 col-lg-4  p-3 ">
            <img src="../../../assets/galeria/img2.png">
          </div>
          <div class="col-md-6 col-lg-4  p-3 ">
            <img src="../../../assets/galeria/img3.png">
          </div>
          <div class="col-md-6 col-lg-4  p-3 ">
            <img src="../../../assets/galeria/img4.png">
          </div>
          <div class="col-md-6 col-lg-4  p-3 ">
            <img src="../../../assets/galeria/img5.png">
          </div>
          <div class="col-md-6 col-lg-4  p-3 ">
            <img src="../../../assets/galeria/img6.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class=" row justify-content-center align-items-center m-0 p-0" style=" height: 50px;">

    Todo o conteúdo deste site está publicado sob a licença&nbsp;<a href="#">Creative
      Commons Atribuição-SemDerivações 3.0 Não Adaptada.</a>
  </div>
</div>
