.app {
  background: #062745; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #006EC7 0%, #062745 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #006EC7 0%,#062745 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #006EC7 0%,#062745 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006EC7', endColorstr='#062745',GradientType=1 );
}

.input-group-append{
  cursor: pointer;
}
