<ngx-loading [show]="loading" [config]="{ backdropBrecolhimentoRadius: '0px' }"></ngx-loading>

<!-- <div class="dashboard-bar">
  <div class="row justify-content-end">
    <div class="col-md-5 text-right mr-3">
      <span class="badge badge-pill badge-info" *ngIf="countFilter > 0">{{countFilter}}</span>
      <a href="#" class="btn btn-link btn-lg" (click)="showFilter()" not-link>
        <i class="fa fa-filter"></i>
        <span>Filtro</span>
      </a>
    </div>
  </div>
</div> -->
<div class="dashboard-bar">
  <div class="row justify-content-end pr-5">
    <div class="col-md-auto text-right">
      <div class="dropdown" dropdown title="Leilões">
        <div class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
          <i class="fa fa-gavel"></i>&nbsp;
          <span class="d-md-down-none">{{leilaoNome}}</span>
        </div>
        <div class="dropdown-menu dropdown-menu-right scrollable-dropdown" *dropdownMenu aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center"><strong>Leilão</strong></div>
          <div class="dropdown-item" *ngFor="let item of leiloes; let i = index" (click)="setLeilao(item.id, item.nome)" style="cursor:pointer">{{item.nome}} - {{item.titulo}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngui-map [center]="latLng" [zoom]="zoom" [zoomControl]="false" (mapReady$)="onMapReady($event)">
</ngui-map>

<div class="legend">
  <div class="legend-item">
    <span class="legend-color legend-color-blue"></span>
    <span>2 até 10</span>
  </div>
  <div class="legend-item">
    <span class="legend-color legend-color-orange"></span>
    <span>11 até 100</span>
  </div>
  <div class="legend-item">
    <span class="legend-color legend-color-red"></span>
    <span>101 até 1000</span>
  </div>
  <div class="legend-item">
    <span class="legend-color legend-color-pink"></span>
    <span>Acima de 1000</span>
  </div>
  <div class="legend-item mt-4" *ngIf="points.length > 0">
    Total de Registro: {{points.length | number : '1.0' : 'pt-BR'}}
  </div>
</div>


<!-- <ng-template #templateModal>
  <div class="modal-header">
    <h5 class="modal-title"><i class="fa fa-filter"></i> Filtro</h5>
    <button type="button" class="close" (click)="filterModal.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="filtro">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="periodo">Período</label>
            <input type="text" id="periodo" class="form-control" #dp="bsDaterangepicker" bsDaterangepicker [bsConfig]="bsConfig" formControlName="periodo" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Cliente</label>
            <ng-select [items]="clients"
                       [closeOnSelect]="false"
                       [multiple]="true"
                       bindLabel="nome"
                       bindValue="id_cliente"
                       clearAllText="Limpar"
                       formControlName="cliente"
                       (change)="getAllOrgaosPorUF($event)">
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div *ngIf="items.length == 1">
                  <div class="ng-value" *ngFor="let item of (items ? items.slice(0,1): [])">
                    <span class="ng-value-label">{{item.nome | uppercase}}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  </div>
                </div>
                <div class="ng-value" *ngIf="items.length > 1">
                  <span class="ng-value-label">{{items.length}} Selecionados...</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Orgão</label>
            <ng-select [items]="orgaos"
                       [closeOnSelect]="false"
                       [multiple]="true"
                       bindLabel="sigla"
                       bindValue="id_orgao"
                       clearAllText="Limpar"
                       formControlName="orgao"
                       (change)="getAllAuthorities($event)">
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div *ngIf="items.length == 1">
                  <div class="ng-value" *ngFor="let item of (items ? items.slice(0,1): [])">
                    <span class="ng-value-label">{{item.sigla | uppercase}}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  </div>
                </div>
                <div class="ng-value" *ngIf="items.length > 1">
                  <span class="ng-value-label">{{items.length}} Selecionados...</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Autoridade</label>
            <ng-select [items]="authorities"
                       [closeOnSelect]="false"
                       [multiple]="true"
                       bindLabel="nome_autoridade"
                       bindValue="id_autoridade"
                       clearAllText="Limpar"
                       formControlName="autoridade">
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div *ngIf="items.length == 1">
                  <div class="ng-value" *ngFor="let item of (items ? items.slice(0,1): [])">
                    <span class="ng-value-label">{{item.nome_autoridade}}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  </div>
                </div>
                <div class="ng-value" *ngIf="items.length > 1">
                  <span class="ng-value-label">{{items.length}} Selecionados...</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Infração</label>
            <ng-select [items]="infractions"
                       [closeOnSelect]="false"
                       [multiple]="true"
                       bindLabel="nome_infracao"
                       bindValue="id_infracao"
                       clearAllText="Limpar"
                       formControlName="infracao">
              <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                <div *ngIf="items.length == 1">
                  <div class="ng-value" *ngFor="let item of (items ? items.slice(0,1): [])">
                    <span class="ng-value-label">{{item.nome_infracao | uppercase}}</span>
                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                  </div>
                </div>
                <div class="ng-value" *ngIf="items.length > 1">
                  <span class="ng-value-label">{{items.length}} Selecionados...</span>
                </div>
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="filterModal.hide()">Cancelar</button>
    <button type="button" class="btn btn-info" title="Filtrar" (click)="filtrarRecolhimento()">Filtrar</button>
  </div>
</ng-template> -->

