<ngx-loading [show]="loading" [config]="{ backdropBrecolhimentoRadius: '0px' }"></ngx-loading>
<div class="animated fadeIn">
  <div class="dashboard-bar">
    <div class="row justify-content-end">
      <div class="col-md-auto text-right">
        <div class="dropdown" dropdown title="Cliente">
          <div class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            <i class="far fa-user"></i>
            <span class="d-md-down-none">{{clienteSelected?.nome}}</span>
          </div>
          <div class="dropdown-menu dropdown-menu-right scrollable-dropdown" *dropdownMenu aria-labelledby="simple-dropdown">
            <div class="dropdown-header text-center"><strong>CLIENTE</strong></div>
            <div class="dropdown-item" *ngFor="let cli of clientes; let i = index" (click)="setCliente(cli)" style="cursor:pointer">{{cli.nome}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-auto text-right pr-5">
        <div class="dropdown" dropdown title="Deposito">
          <div class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
            <i class="far fa-building"></i>
            <span class="d-md-down-none">{{depositoSelected?.descricao}}</span>
          </div>
          <div class="dropdown-menu dropdown-menu-right scrollable-dropdown " *dropdownMenu aria-labelledby="simple-dropdown">
            <div class="dropdown-header text-center"><strong>DEPÓSITO</strong></div>
            <div class="dropdown-item" *ngFor="let dep of clienteSelected.depositos; let i = index" (click)="setDeposito(dep)" style="cursor:pointer">{{dep.descricao}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="contador">
    <div class="col-md-6">
      <div class="card text-white bg-info">
        <div class="card-body">
          <div class="float-right block-icon" dropdown>
            <span class="fa-layers fa-fw">
              <i class="fas fa-car" data-fa-transform="grow-2"></i>
              <i class="fa fa-map-marker stroke-info" data-fa-transform="shrink-8 up-5 right-8"></i>
            </span>
          </div>
          <div class="h5">Estoque</div>
          <div class="text-value">{{contador.estoque}}</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-6">
      <div class="card text-white bg-warning">
        <div class="card-body">
          <div class="float-right block-icon" dropdown>
            <span class="fa-layers fa-fw">
              <i class="fas fa-mobile-alt fa-inverse" data-fa-transform="shrink-5 up-4"></i>
              <i class="fas fa-mobile-alt fa-inverse" data-fa-transform="shrink-6 down-4.2 left-4"></i>
              <i class="fas fa-mobile-alt fa-inverse" data-fa-transform="shrink-6 down-4.2 right-4"></i>
            </span>
          </div>
          <div class="h5">Leilão</div>
          <div class="text-value">{{contador.estoque_pre_leilao}}</div>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="rounded" *ngIf="barChartData">
                <div style="display: block">
                  <h4 class="card-title mb-0">Estoque por dias no Pátio</h4>
                  <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [colors]="barChartColor"
                          [options]="barChartOptions"
                          [plugins]="barChartPlugins"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          (chartClick)="chartLine1Clicked($event)"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" >
        <div class="card"  *ngIf="polarAreaChartData">
          <div class="card-body">
            <div>
              <div>
                <div style="display: block">
                  <canvas baseChart
                          [data]="polarAreaChartData"
                          [labels]="polarAreaChartLabels"
                          [legend]="polarAreaLegend"
                          [colors]="polarAreaColors"
                          [options]="polarAreaOptions"
                          [chartType]="polarAreaChartType"
                          ></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.card-->
  </div>
