<div class="row linha-seletor">
  <!-- <form [formGroup]="filtroLeilao" class="col-4">
    <select class="form-control col-12" aria-label="Default select example" (change)="filtrarPorLeilao()" formControlName="leilao" >
      <option value="0" *ngIf="loadingLeilao">CARREGANDO...</option>
      <option value="0">SELECIONE</option>
      <option *ngFor="let item of leiloes" [value]="item.id">{{item.nome}}</option>
    </select>

  </form> -->
  <app-search-leilao class="search-leilao" (emitLeilao)=" filtrarPorLeilao($event)"></app-search-leilao>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-dollar-sign" aria-hidden="true"></i>Arrematantes
          </div>
          <button type="button"
                  class="btn btn-success"
                  (click)="exportAsExcel()"
                  title="Exportar para Excel">
                  <i class="fa fa-file-excel" aria-hidden="true"></i>
                  <h6>Excel</h6>
          </button>
        </div>
        <div class="card-block" >
          <div class="col-12 input-search">
            <div class="input-group col-12 d-flex justify-content-end input-search">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
              </div>
                <input type="text" class="form-control col-4" placeholder="por Nome, Email ou Documento" aria-describedby="basic-addon2" [formControl]="queryField">
            </div>
          </div>
          <div class="table-responsive mt-4">
            <table class="table table-striped" [mfData]="arremantantesFiltrados" #mfArrematantes="mfDataTable" [mfRowsOnPage]="5">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="numeroLote">Lote</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="documento">CPF/CNPJ</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="valorArrematado">Valor Arrematado</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="valorTaxas">Valor Taxas</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="valorComissao">Valor Comissão</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="valorTotal">Valor Total</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="valorTotal">Ação</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfArrematantes.data; let i = index">
                  <td><a class="link-primary" [routerLink]="['/update-lotes', item.loteId]" target="_blank">{{item.numeroLote}}</a></td>
                  <td>{{item.nome | uppercase}}</td>
                  <td><a class="link-primary" [routerLink]="['/update-usuarios', item.usuarioId]" target="_blank">{{ item.email }}</a> </td>
                  <td nowrap>{{item.documento}}</td>
                  <td nowrap>{{item.valorArrematado | currencyFormat}}</td>
                  <td nowrap>{{item.valorTaxas | currencyFormat}}</td>
                  <td nowrap>{{item.valorComissao | currencyFormat}}</td>
                  <td nowrap>{{item.valorTaxas + item.valorArrematado + item.valorComissao | currencyFormat}}</td>
                  <td class="text-center" nowrap>
                    <div class="dropdown" dropdown>
                      <button class="btn" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-left" *dropdownMenu>
                        <li><a class="dropdown-item" (click)="auto(item.loteId, item.numeroLote)">Auto de Arrematação</a></li>
                        <li><a class="dropdown-item" (click)="nota(item.loteId, item.numeroLote)">Nota de Arrematação</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="loading">
                  <td class="text-center text-muted" colspan="9">
                    <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                  </td>
                </tr>
                <tr *ngIf="mfArrematantes.data.length === 0 && !loading" >
                  <td class="text-center text-muted" colspan="9">
                    <h6 *ngIf="arrematantes">Não há Arrematantes Para o Leilão Selecionado</h6>
                    <h6 *ngIf="!arrematantes">Selecione um leilão</h6>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
