.header{
    display: flex;
    justify-content: space-between;
}
.btn-success{
    display: flex;
    align-items: center;

    h6{
        margin-bottom: 0%;
    }
}
.fa-file-excel, .fa-gavel, .fa-list {
    margin-right: 10%;
}
.autoLeilao{
    margin-right: 1em;
}

.dropdown-menu-left {
  left: -145px !important;
}

.linha-seletor{
    position: absolute;
  z-index: 10;
  width: 100%;
  top: 5px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
}
.search-leilao{
  width: 400px;
}
