<form [formGroup]="formulario" (ngSubmit)="onSubmit()" *ngIf="formulario">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div
            class="card-header d-flex align-items-center justify-content-between"
          >
            <div>
              <i class="fa fa-list-ol"></i>&nbsp;Dados do Lote - Obrigatórios
            </div>
            <div *ngIf="leilao">
              Leilão: <b>{{ leilao.nome }}</b>
            </div>
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-4">
                <label for="descricao">Descrição </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="aplicaCssErro('descricao')"
                  id="descricao"
                  placeholder="Descrição"
                  formControlName="descricao"
                />
              </div>
              <div class="form-group col-4">
                <label for="numeroLote">Numero do Lote </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="aplicaCssErro('numeroLote')"
                  id="numeroLote"
                  placeholder="Numero do Lote"
                  formControlName="numeroLote"
                />
              </div>
              <div class="form-group col-4">
                <label for="statusId">Status </label>
                <select
                  class="form-control"
                  [ngClass]="aplicaCssErro('statusId')"
                  formControlName="statusId"
                >
                  <option
                    *ngFor="let item of loteStatus"
                    [value]="item.loteStatusId"
                  >
                    {{ item.descricao }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="descricao">Categoria </label>
                <select
                  class="form-control"
                  [ngClass]="aplicaCssErro('categoriaId')"
                  formControlName="categoriaId"
                  (change)="preencheTipoLote()"
                >
                  <option
                    *ngFor="let item of categoriasFilhas"
                    [value]="item.categoriaId"
                  >
                    {{ item.descricao }}
                  </option>
                </select>
              </div>
              <div class="form-group col-4">
                <label for="ativo">Tipo de Lote </label>
                <select
                  class="form-control"
                  [ngClass]="aplicaCssErro('tipoLoteId')"
                  formControlName="tipoLoteId"
                >
                  <option
                    *ngFor="let item of tiposLote"
                    [value]="item.tipoLoteId"
                  >
                    {{ item.descricao }}
                  </option>
                </select>
              </div>
              <div class="form-group col-4">
                <label for="descricao">Localização </label>
                <select
                  class="form-control"
                  [ngClass]="aplicaCssErro('localId')"
                  formControlName="localId"
                >
                  <option [value]="item.localLoteId" *ngFor="let item of local">
                    {{ item.descricao }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row" [ngClass]="aplicaCssErro('descricaoDetalhada')">
              <div class="col-12">
                <label for="editor1">Descrição Detalhada </label>
                <angular-editor
                  id="editor1"
                  formControlName="descricaoDetalhada"
                  [config]="editorConfig"
                >
                </angular-editor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="this.formulario.value.judicial">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <i class="fa fa-file-alt"></i>&nbsp;Informações do Processo Judicial
          </div>

          <div class="card-block" formGroupName="loteJudicial">
            <div class="row">
              <div class="form-group col-4">
                <label for="numProcesso">Nº Processo </label>
                <input
                  type="text"
                  class="form-control"
                  id="numProcesso"
                  placeholder="Nº Processo"
                  formControlName="numProcesso"
                />
              </div>
              <div class="form-group col-4">
                <label for="autor">Autor </label>
                <input
                  type="text"
                  class="form-control"
                  id="autor"
                  placeholder="Autor"
                  formControlName="autor"
                />
              </div>

              <div class="form-group col-4">
                <label for="reu">Réu </label>
                <input
                  type="text"
                  class="form-control"
                  id="reu"
                  placeholder="Réu"
                  formControlName="reu"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-4">
                <label for="localDepositario">Local Depositário </label>
                <input
                  type="text"
                  class="form-control"
                  id="localDepositario"
                  placeholder="Local Depositário"
                  formControlName="localDepositario"
                />
              </div>
              <div class="form-group col-4">
                <label for="anoProcesso">Ano do Processo </label>
                <input
                  type="text"
                  class="form-control"
                  id="anoProcesso"
                  placeholder="Ano do Processo"
                  formControlName="anoProcesso"
                />
              </div>
              <div class="form-group col-4">
                <label for="depositario">Advogados</label>
                <input
                  type="text"
                  class="form-control"
                  id="advogados"
                  placeholder="Advogados"
                  formControlName="advogados"
                />
              </div>
            </div>

            <div class="row">
              <div class="form-group col-4">
                <label for="tipoAcao">Tipo de Ação </label>
                <select
                  class="form-control"
                  id="tipoAcao"
                  placeholder="Tipo de Ação"
                  formControlName="tipoAcao"
                >
                  <option value="ALIENAÇÃO JUDICIAL CRIMINAL">
                    ALIENAÇÃO JUDICIAL CRIMINAL
                  </option>
                  <option value="ALENAÇÃO DE BENS JUDICIAL">
                    ALENAÇÃO DE BENS JUDICIAL
                  </option>
                  <option value="CARTA PRECATÓRIA">CARTA PRECATÓRIA</option>
                  <option value="CIVEL">CIVEL</option>
                  <option value="COBRANÇA">COBRANÇA</option>
                  <option value="CUMPRIMENTO DE SETENÇA">
                    CUMPRIMENTO DE SETENÇA
                  </option>
                  <option value="DANO MORAL">DANO MORAL</option>
                  <option value="DESPEJO POR FALTA DE PAGAMENTO C/ COBRANÇA">
                    DESPEJO POR FALTA DE PAGAMENTO C/ COBRANÇA
                  </option>
                  <option
                    value="EDITAL DE PÚBLICO LEILÃO PRESENCIAL E INTIMAÇÃO"
                  >
                    EDITAL DE PÚBLICO LEILÃO PRESENCIAL E INTIMAÇÃO
                  </option>
                  <option value="EXECUÇÃO DE SENTENÇA">
                    EXECUÇÃO DE SENTENÇA
                  </option>
                  <option value="EXECUÇÃO DE TÍTULO EXTRANDICIAL">
                    EXECUÇÃO DE TÍTULO EXTRANDICIAL
                  </option>
                  <option value="EXECUÇÃO DE TÍTULO JUDICIAL">
                    EXECUÇÃO DE TÍTULO JUDICIAL
                  </option>
                  <option value="EXECUÇÃO FISCAL">EXECUÇÃO FISCAL</option>
                  <option value="FALÊNCIA">FALÊNCIA</option>
                  <option value="INDENIZATÓRIA">INDENIZATÓRIA</option>
                  <option value="INVENTÁRIO E PARTILHA">
                    INVENTÁRIO E PARTILHA
                  </option>
                  <option value="MONITORIA">MONITORIA</option>
                  <option value="PARTILHA DE BENS C/C ALIENAÇÃO JUDICIAL">
                    PARTILHA DE BENS C/C ALIENAÇÃO JUDICIAL
                  </option>
                  <option value="SEQUESTRO">SEQUESTRO</option>
                  <option value="SUMÁRIA DE COBRANÇA">
                    SUMÁRIA DE COBRANÇA
                  </option>
                </select>
              </div>
              <div class="form-group col-4">
                <label for="comarca">Comarca</label>
                <input
                  type="text"
                  class="form-control"
                  id="comarca"
                  placeholder="Comarca"
                  formControlName="comarca"
                />
              </div>
              <div class="form-group col-4">
                <label for="observacao">Juiz </label>
                <input
                  type="text"
                  class="form-control"
                  id="juiz"
                  formControlName="juiz"
                  placeholder="Juiz"
                />
              </div>
              <div class="form-group col-4">
                <label for="natureza">Natureza </label>
                <input
                  type="text"
                  class="form-control"
                  id="natureza"
                  placeholder="Natureza"
                  formControlName="natureza"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-cash"
              viewBox="0 0 16 16"
            >
              <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
              <path
                d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"
              />
            </svg>
            &nbsp;Valores
          </div>
          <div class="card-block">
            <div class="row" *ngIf="this.formulario.value.judicial">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header new-campo">
                    Praças - Valor do Lance Inicial
                  </div>
                  <div class="card-block">
                    <div formArrayName="pracasValorLanceInicial" class="row">
                      <div
                        *ngFor="
                          let item of formulario.get('pracasValorLanceInicial')
                            .controls;
                          let i = index
                        "
                        [formGroupName]="i"
                        class="col-md-6 input-group pt-2"
                      >
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            >{{ item.value.numeroPraca }}ª Praça</span
                          >
                        </div>
                        <input
                          type="text"
                          class="form-control"
                          formControlName="valorLanceInicial"
                          currencyMask
                          [options]="{
                            prefix: 'R$ ',
                            thousands: '.',
                            decimal: ','
                          }"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="valorAvaliacao">Valor Avaliação</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    id="valorAvaliacao"
                    formControlName="valorAvaliacao"
                    currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                    [ngClass]="aplicaCssErro('valorAvaliacao')"
                  />
                  <div class="input-group-prepend">
                    <button
                      type="button"
                      class="btn btn-primary btn-sm"
                      (click)="openModal(valorAvaliacao)"
                      tooltip="Consultar Tabela FIPE"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-search"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
              <div
                class="form-group col-4"
                *ngIf="!this.formulario.value.judicial"
              >
                <label for="valorLanceInicial">Valor do Lance Inicial </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="aplicaCssErro('valorLanceInicial')"
                  id="valorLanceInicial"
                  formControlName="valorLanceInicial"
                  currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                />
              </div>
              <div class="form-group col-4">
                <label for="valorIncremento">Valor Incremento </label>
                <input
                  #btnFaixaIncremento
                  type="text"
                  class="form-control"
                  [ngClass]="aplicaCssErro('valorIncremento')"
                  id="valorIncremento"
                  formControlName="valorIncremento"
                  currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                />
              </div>
              <div class="form-group col-4">
                <label for="valorMinimoVenda">Valor Mínimo de Venda </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="aplicaCssErro('valorMinimoVenda')"
                  id="valorMinimoVenda"
                  formControlName="valorMinimoVenda"
                  currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                />
              </div>
              <div class="form-group col-4">
                <label for="valorOutrasTaxas">Valor de Outras Taxas </label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="aplicaCssErro('valorOutrasTaxas')"
                  id="valorOutrasTaxas"
                  formControlName="valorOutrasTaxas"
                  currencyMask
                  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                />
              </div>
              <div class="col-4">
                <label for="valorOutrasTaxas">Taxa Administrativa</label>
                <div class="fix-margin-input input-group">
                  <div class="input-group-prepend" dropdown>
                    <button
                      #btnFaixa
                      id="btnTaxa"
                      class="btn btn-primary dropdown-toggle"
                      type="button"
                      data-toggle="dropdown"
                      aria-expanded="false"
                      dropdownToggle
                      title="Tipo da Taxa"
                    >
                      <h5
                        *ngIf="formulario.get('tipoTaxa')?.value === 'P'"
                        class="m-0 float-left"
                      >
                        %
                      </h5>
                      <h5
                        *ngIf="formulario.get('tipoTaxa')?.value === 'V'"
                        class="m-0 float-left"
                      >
                        $
                      </h5>
                      <span class="caret"></span>
                    </button>
                    <div
                      class="dropdown-menu"
                      *dropdownMenu
                      style="margin: 0px"
                    >
                      <a
                        class="dropdown-item"
                        href="javascript:void(0);"
                        (click)="selecionarTipoTaxa('P')"
                      >
                        <i class="fa fa-percent"></i> Percentual
                      </a>
                      <a
                        class="dropdown-item"
                        href="javascript:void(0);"
                        (click)="selecionarTipoTaxa('V')"
                      >
                        <i class="fa fa-dollar-sign"></i> Valor
                      </a>
                    </div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="valorTaxaAdministrativa"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: ' %',
                      thousands: '.',
                      decimal: ',',
                      precision: '2'
                    }"
                    *ngIf="formulario.get('tipoTaxa')?.value === 'P'"
                  />
                  <input
                    type="text"
                    class="form-control"
                    formControlName="valorTaxaAdministrativa"
                    currencyMask
                    [options]="{
                      prefix: 'R$ ',
                      suffix: '',
                      thousands: '.',
                      decimal: ',',
                      precision: '2'
                    }"
                    *ngIf="formulario.get('tipoTaxa')?.value === 'V'"
                  />
                </div>
              </div>
            </div>
            <!-- <div class="row" formArrayName="faixas">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header new-campo">
                    <div class="cabecalho d-flex align-items-center">
                      <input
                        type="checkbox"
                        [checked]="taxaFaixa"
                        (change)="changeCheckBoxFaixa()"
                      />&nbsp;Editar Valor da Taxa Por Valor de Lance
                    </div>
                    <button
                      [disabled]="!taxaFaixa"
                      type="button"
                      class="btn btn-success btn-sm"
                      (click)="adicionarFaixa()"
                    >
                      <i class="fa fa-plus-circle"></i>&nbsp;Adicionar Faixa
                    </button>
                  </div>
                  <div
                    class="card-block"
                    *ngIf="this.formulario.value.faixas.length > 0"
                  >
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="30%">Faixa Inicial</th>
                          <th width="30%">Faixa Final</th>
                          <th width="30%">
                            <div class="row align-end gap-1">
                              <p class="no-margin">Valor Da Taxa</p>
                              <div [formGroup]="formulario" style="width: 60px">
                                <select
                                  class="form-control"
                                  formControlName="tipoTaxa"
                                  id="tipoTaxa"
                                >
                                  <option value="P">%</option>
                                  <option value="V" [defaultSelected]="">
                                    $
                                  </option>
                                </select>
                              </div>
                            </div>
                          </th>
                          <th width="10%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let item of this.formulario.get('faixas').controls;
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <td>
                            <input
                              [ngClass]="
                                aplicaCssErroLista('faixas', 'faixaInicial', i)
                              "
                              type="number"
                              formControlName="faixaInicial"
                              class="form-control"
                              [value]="item.value.faixaInicial"
                              placeholder="Faixa Inicial"
                            />
                          </td>
                          <td>
                            <input
                              [ngClass]="
                                aplicaCssErroLista('faixas', 'faixaFinal', i)
                              "
                              type="number"
                              formControlName="faixaFinal"
                              class="form-control"
                              [value]="item.value.faixaFinal"
                              placeholder="Faixa Final"
                            />
                          </td>
                          <td>
                            <input
                              [ngClass]="
                                aplicaCssErroLista(
                                  'faixas',
                                  'valorTaxaAdministrativa',
                                  i
                                )
                              "
                              type="text"
                              class="form-control"
                              formControlName="valorTaxaAdministrativa"
                              currencyMask
                              [options]="{
                                prefix: '',
                                suffix: ' %',
                                thousands: '.',
                                decimal: ',',
                                precision: '2'
                              }"
                              *ngIf="formulario.get('tipoTaxa')?.value === 'P'"
                            />
                            <input
                              [ngClass]="
                                aplicaCssErroLista(
                                  'faixas',
                                  'valorTaxaAdministrativa',
                                  i
                                )
                              "
                              type="text"
                              class="form-control"
                              formControlName="valorTaxaAdministrativa"
                              currencyMask
                              [options]="{
                                prefix: 'R$ ',
                                suffix: '',
                                thousands: '.',
                                decimal: ',',
                                precision: '2'
                              }"
                              *ngIf="formulario.get('tipoTaxa')?.value === 'V'"
                            />
                          </td>
                          <td class="text-center">
                            <label
                              class="btn btn-danger m-0"
                              (click)="deleteFaixa(i)"
                              >Remover</label
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" formArrayName="faixasIncremento">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-header new-campo">
                    <div class="cabecalho d-flex align-items-center">
                      <input
                        type="checkbox"
                        (change)="changeCheckBoxFaixaIncremento()"
                      />&nbsp;Editar Valor do Incremento Por Valor de Lance
                    </div>
                    <button
                      [disabled]="!faixasIncremento"
                      type="button"
                      class="btn btn-success btn-sm"
                      (click)="adicionarFaixaIncremento()"
                    >
                      <i class="fa fa-plus-circle"></i>&nbsp;Adicionar Faixa
                    </button>
                  </div>
                  <div
                    class="card-block"
                    *ngIf="this.formulario.value.faixasIncremento.length > 0"
                  >
                    <table class="table">
                      <thead>
                        <tr>
                          <th width="30%">Faixa Inicial</th>
                          <th width="30%">Faixa Final</th>
                          <th width="30%">Valor do incremento</th>
                          <th width="10%"></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="
                            let item of this.formulario.get('faixasIncremento')
                              .controls;
                            let i = index
                          "
                          [formGroupName]="i"
                        >
                          <td>
                            <input
                              [ngClass]="
                                aplicaCssErroLista(
                                  'faixasIncremento',
                                  'faixaInicial',
                                  i
                                )
                              "
                              type="number"
                              formControlName="faixaInicial"
                              class="form-control"
                              [value]="item.value.faixaInicial"
                              placeholder="Faixa Inicial"
                            />
                          </td>
                          <td>
                            <input
                              [ngClass]="
                                aplicaCssErroLista(
                                  'faixasIncremento',
                                  'faixaFinal',
                                  i
                                )
                              "
                              type="number"
                              formControlName="faixaFinal"
                              class="form-control"
                              [value]="item.value.faixaFinal"
                              placeholder="Faixa Final"
                            />
                          </td>
                          <td>
                            <input
                              [ngClass]="
                                aplicaCssErroLista(
                                  'faixasIncremento',
                                  'valorIncremento',
                                  i
                                )
                              "
                              type="text"
                              class="form-control"
                              formControlName="valorIncremento"
                              currencyMask
                              [options]="{
                                prefix: 'R$ ',
                                suffix: '',
                                thousands: '.',
                                decimal: ',',
                                precision: '2'
                              }"
                            />
                          </td>
                          <td class="text-center">
                            <label
                              class="btn btn-danger m-0"
                              (click)="deleteFaixaIncremento(i)"
                              >Remover</label
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <ng-template #valorAvaliacao>
      <form [formGroup]="modalValorAvalicao">
        <div class="modal-body">
          <div class="row">
            <div class="col-12 options modal-pesquisa">
              <p>Consulta FIPE</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="input-group mb-3">
                <label class="col-12"
                  >Sua pesquisa será realizada de acordo com seguinte tipo de
                  veiculo:</label
                >
                <select
                  class="custom-select group-combobox"
                  id="inputGroupSelect01"
                  formControlName="tipo"
                  (change)="buscarReferencias()"
                >
                  <option selected>Selecione o tipo de veiculo</option>
                  <option *ngFor="let item of tipos">{{ item }}</option>
                </select>
              </div>

              <div class="input-group mb-3">
                <label
                  >Sua pesquisa será realizada de acordo com seguinte período de
                  referência:</label
                >
                <select
                  class="custom-select"
                  id="inputGroupSelect01"
                  (change)="buscarMarcas()"
                  formControlName="referencia"
                >
                  <option selected>Selecione o período</option>
                  <option>
                    {{ modalValorAvalicao.get("referencia").value }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-12">
              <p>
                Informe Primeiro a <b>marca do veículo</b> e depois o
                <b>modelo</b> e o <b>ano modelo</b> na ordem que desejar. Você
                também pode digitar a informação no campo "busca", dentro de
                cada opção do formulário de pesquisa.
              </p>
              <select
                class="custom-select group-combobox"
                id="inputGroupSelect01"
                formControlName="marcas"
                (change)="buscarModelos()"
              >
                <option>Selecione a marca do veiculo</option>
                <option *ngFor="let item of marcas">{{ item }}</option>
              </select>
              <select
                class="custom-select group-combobox"
                id="inputGroupSelect01"
                formControlName="modelos"
                (change)="buscarAno()"
              >
                <option>Selecione o modelo do veiculo</option>
                <option *ngFor="let item of modelos">{{ item }}</option>
              </select>
              <select
                class="custom-select group-combobox"
                id="inputGroupSelect01"
                formControlName="ano"
                (change)="buscarValor()"
              >
                <option>Selecione o ano modelo do veiculo</option>
                <option *ngFor="let item of ano">
                  {{ item.ano }} - {{ item.combustivel }}
                </option>
              </select>

              <input
                type="text"
                class="form-control"
                id="valor"
                formControlName="valor"
                currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
              />
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-12 consultar">
          <button
            class="btn btn-primary"
            (click)="consultaFipe()"
            (click)="modalRef?.hide()"
          >
            Usar Valor
          </button>
          <button class="btn btn-danger" (click)="modalRef?.hide()">
            Cancelar
          </button>
        </div>
      </div>
    </ng-template>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header new-campo d-flex align-items-center">
            <div class="cabecalho">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-pencil-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                />
              </svg>
              &nbsp;Campos
            </div>

            <button
              type="button"
              class="btn btn-success btn-sm"
              (click)="adicionarCampo()"
            >
              <i class="fa fa-plus-circle"></i>&nbsp; Novo Campo
            </button>
          </div>

          <div
            class="card-block"
            formArrayName="campos"
            *ngIf="this.formulario.value.campos.length > 0"
          >
            <table class="table">
              <thead>
                <tr>
                  <th width="25%">Tipo</th>
                  <th width="60%">Valor</th>
                  <th width="15%"></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let campo of filterList('campos'); let i = index"
                  [formGroupName]="i"
                >
                  <td>
                    <select
                      class="form-control"
                      formControlName="loteCampoId"
                      [ngClass]="aplicaCssErroLista('campos', 'loteCampoId', i)"
                    >
                      <option
                        value="true"
                        *ngFor="let item of loteCampos"
                        value="{{ item.loteCampoId }}"
                      >
                        {{ item.descricao }}
                      </option>
                    </select>
                  </td>
                  <td>
                    <input
                      type="text"
                      class="form-control text-uppercase"
                      formControlName="valor"
                      [ngClass]="aplicaCssErroLista('campos', 'valor', i)"
                    />
                    <!-- <input type="text" class="form-control text-uppercase" formControlName="valor" [textMask]="{mask: getFormatacao(i)}" [ngClass]="aplicaCssErroLista('campos','valor', i)"> -->
                  </td>
                  <td class="text-center">
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="deleteCampo(i)"
                    >
                      <i class="fa fa-trash"></i> Remover
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="col-12 campo">
              <div
                class="col-6 campo"
                *ngFor="let campo of filterList('campos'); let i = index"
              >
                <div
                  class="form-group col-8 campo__alinhar"
                  [formGroupName]="i"
                ></div>
                <div class="form-group col-4 remover"></div>
              </div>
            </div>
          </div>
          <div
            class="card-block"
            *ngIf="this.formulario.value.campos.length == 0"
          >
            <alert type="danger">
              <strong>Campo Obrigatório</strong> É necessário inserir no mínimo
              um campo
            </alert>
          </div>
        </div>
      </div>
    </div>
    <div class="row" formArrayName="fotos">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header new-campo d-flex align-items-center">
            <div class="cabecalho">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-card-image"
                viewBox="0 0 16 16"
              >
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                <path
                  d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"
                />
              </svg>
              &nbsp;Fotos
            </div>
            <button
              type="button"
              class="btn btn-success btn-sm"
              (click)="alterarFoto(-1)"
            >
              <i class="fa fa-plus-circle"></i>&nbsp;Nova Foto
            </button>
            <input
              type="file"
              #inputFotos
              multiple
              (change)="fileChangeEvent($event)"
            />
          </div>
          <div
            class="card-block"
            *ngIf="this.formulario.value.fotos.length > 0"
          >
            <div class="row">
              <fieldset
                class="form-group col-3"
                *ngFor="let item of filterList('fotos'); let i = index"
                [formGroupName]="i"
              >
                <div class="flex mb-2">
                  <select
                    class="form-control col-12"
                    formControlName="tipoFotoId"
                    [name]="'foto' + i"
                    [ngClass]="aplicaCssErroLista('fotos', 'tipoFotoId', i)"
                  >
                    <option
                      value="true"
                      *ngFor="let tipo of tipoFoto"
                      value="{{ tipo.tipoFotoId }}"
                    >
                      {{ tipo.descricao }}
                    </option>
                  </select>
                </div>
                <div
                  class="custom-file fileInputProfileWrap"
                  (click)="alterarFoto(i)"
                  title="Clique para alterar a foto"
                >
                  <div class="img-space">
                    <img
                      [src]="item.value.arquivo.url"
                      class="img-responsive"
                    />
                  </div>
                </div>
                <div class="foto-buttons">
                  <!-- <label (click)="alterarFoto(i)" class="labelArquivo"
                    > Alterar Foto</label
                  > -->
                  <label
                    (click)="deleteFoto(i)"
                    class="btn btn-danger labelRemove"
                    ><i class="fa fa-trash"></i> Remover</label
                  >
                </div>
              </fieldset>
            </div>
          </div>
          <div
            class="card-block"
            *ngIf="this.formulario.value.fotos.length == 0"
          >
            <alert type="danger">
              <strong>Campo Obrigatório</strong> É necessário adicionar as fotos
              do lote
            </alert>
          </div>
        </div>
      </div>
    </div>
    <div class="row" formArrayName="anexos">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header new-campo d-flex align-items-center">
            <div class="cabecalho">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-file-earmark-text"
                viewBox="0 0 16 16"
              >
                <path
                  d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"
                />
                <path
                  d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"
                />
              </svg>
              &nbsp;Anexos
            </div>
            <button
              type="button"
              class="btn btn-success btn-sm"
              (click)="alterarAnexo(-1)"
            >
              <i class="fa fa-plus-circle"></i>&nbsp;Novo Anexo
            </button>
            <input
              type="file"
              #inputAnexos
              (change)="anexoChangeEvent($event.target.files)"
            />
          </div>
          <div
            class="card-block"
            *ngIf="this.formulario.value.anexos.length > 0"
          >
            <table class="table">
              <thead>
                <tr>
                  <th width="40%">Arquivo</th>
                  <th width="30%">Descrição</th>
                  <th width="15%">Criado em</th>
                  <th width="15%"></th>
                </tr>
              </thead>
              <tbody formArrayName="anexos">
                <ng-container
                  *ngFor="let item of filterList('anexos'); let i = index"
                >
                  <tr [formGroupName]="i">
                    <td>
                      <a [href]="item.value.arquivo.url" target="_blank">{{
                        item.value.arquivo.nome
                      }}</a>
                    </td>
                    <td>
                      <input
                        type="text"
                        formControlName="nome"
                        [name]="'nomeAnexo' + i"
                        class="form-control"
                        placeholder="Descricao"
                      />
                      <!-- <span *ngIf="item.value.acao === ''">{{
                        item.value.nome
                      }}</span> -->
                    </td>
                    <td>
                      {{
                        item.value.arquivo.dataCadastro
                          | amFromUtc
                          | amLocal
                          | amDateFormat : "DD/MM/YYYY HH:mm"
                      }}
                    </td>
                    <td class="text-center">
                      <!-- <label (click)="alterarAnexo(i)" class="btn btn-black">Alterar</label> -->
                      <label class="btn btn-danger m-0" (click)="deleteAnexo(i)"
                        >Remover</label
                      >
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
            &nbsp;Observação
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-12">
                <label for="exampleFormControlTextarea1">Observação</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  formControlName="observacao"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary saveCancel">
              <i class="fa fa-save"></i> Salvar
            </button>
            <button
              type="reset"
              class="btn btn-danger"
              [routerLink]="['/lotes', leilaoId]"
            >
              <i class="fa fa-undo"></i> Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
