.image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
  }

  .img-space {
  border: dashed 1px #d3d3d3;
  border-radius: 8px;
  background-color: #f2f2f2;
  width: 300px;
  height: 200px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .img-space img {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  cursor: pointer;
  -o-object-fit: contain;
  object-fit: contain;
  }


  .fileInputProfileWrap {
    width: 100%;
    height: auto;
  }

  .fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
  }
  .fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
  }
  .saveCancel{
    margin-right: 1em;
  }
  .has-error{
    border: 1px solid red;
  }
