<div class="animated fadeIn">
  <div class="row linha-seletor">
    <app-search-leilao class="search-leilao" (emitLeilao)="setLeilao($event)"></app-search-leilao>
  </div>
  <div class="row">
    <div class="col-lg-14">
      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-file-alt" aria-hidden="true"></i>
           &nbsp;Lances Consolidados
          </div>
          <div class="d-flex">
            <button type="button" (click)="exportAsPDF()" class="btn btn-danger ml-3 btn-sm" title="Exportar para PDF"> <i class="fas fa-file-pdf"></i>&nbsp;PDF </button>
            <button type="button" (click)="exportAsExcel()" class="btn btn-success ml-2 btn-sm" title="Exportar para Excel"> <i class="fas fa-file-excel"></i>&nbsp;Excel </button>
          </div>
        </div>
        <div class="card-block" >
          <div class="table-responsive mt-8">
            <table class="table table-striped" [mfData]="lancesconsolidados" #mflancesConsolidados="mfDataTable" [mfRowsOnPage]="20">
              <thead>
                <tr>
                  <th>

                    <mfDefaultSorter by="numeroLote">Lote</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="descricao">Descrição</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="categoria">Categoria</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="qteLances">Lances</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="qteUsuarios">Participantes</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="valorAvaliacao">Avaliação</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="valorTaxaAdministrativa">Taxa Adm</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="comissao">Comissão</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="valorMinimoVenda">Mínimo Venda</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="lanceAtual">Lance Atual</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="indicador">Indicador</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="meta">% Mínimo</mfDefaultSorter>
                  </th>

                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let item of mflancesConsolidados.data; let i = index">
                  <td>{{item.numeroLote}}</td>
                  <td>{{item.descricao}}</td>
                  <td>{{item.categoria}}  </td>
                  <td>{{item.qteLances }}</td>
                  <td>{{item.qteUsuarios }}</td>
                  <td nowrap>{{item.valorAvaliacao | currencyFormat}}</td>
                  <td nowrap>{{item.valorTaxaAdministrativa | currencyFormat}}</td>
                  <td nowrap>{{item.comissao | currencyFormat}}</td>
                  <td nowrap>{{item.valorMinimoVenda | currencyFormat}}</td>
                  <td>{{item.lanceAtual | currencyFormat}}</td>
                  <td class="text-center">
                    <i class='fa fa-check-circle text-success'          *ngIf="item.lanceAtual >= item.valorMinimoVenda"></i>
                    <i class='fa fa-exclamation-triangle text-alert'    *ngIf="item.lanceAtual <= item.valorMinimoVenda && item.lanceAtual >0 "></i>
                    <i class='fa fa-times-circle text-danger'           *ngIf="item.lanceAtual == 0"></i>
                  </td>
                  <!-- <td>{{item.tipoPessoa == 'PF' ? 'Pessoa Física' : item.pessoa.tipoPessoa == 'PJ' ? 'Pessoa Jurídica' : '' }}</td> -->
                  <td>{{item.meta}}%</td>

                </tr>
                <tr *ngIf="loading">
                  <td class="text-center text-muted" colspan="12">
                    <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                  </td>
                </tr>
                <tr *ngIf="mflancesConsolidados.data.length === 0 && !loading" >
                  <td class="text-center text-muted" colspan="12">
                    <h6 *ngIf="lancesconsolidados">Não há lances para o Leilão Selecionado</h6>
                    <h6 *ngIf="!lancesconsolidados">Selecione um leilão</h6>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="20">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30,40,50,60]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
