
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>
          &nbsp;Usuários
        </div>
        <div class="card-block">
          <div class="col-12 input-search">
            <div class="input-group col-12 d-flex justify-content-end input-search">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
              </div>
              <input type="text" class="form-control col-4" (keyup)="onSearch()" placeholder="por Nome, Email ou CPF " aria-describedby="basic-addon2" [formControl]="queryField">
            </div>
          </div>
            <div class="table-responsive mt-4">
              <table class="table table-striped" [mfData]="usuariosFiltrados" #mfUsuarios="mfDataTable" [mfRowsOnPage]="5">
                <thead>
                  <tr>

                    <th>
                      <mfDefaultSorter by="id">Id</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="numeroDocumento">Nº Documento</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="dataNascimento">Data Nascimento</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="genero">Gênero</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="email">Email</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="tipoPessoa">Tipo de Pessoa</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="ativo">Ativo</mfDefaultSorter>
                    </th>

                    <th class="text-center" >
                      Editar
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of mfUsuarios.data">
                    <td>{{item.usuarioId}}</td>
                    <td>{{item.nomeCompleto}}</td>
                    <td>{{item.numeroDocumento}}</td>
                    <td>{{item.dataNascimento | amDateFormat:'DD/MM/YYYY' }}</td>
                    <td>{{item.genero == 'M'? 'Masculino' : 'Feminino'}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.tipoPessoa == 'PF'? "Pessoa Física" : "Pessoa Jurídica"}}</td>
                    <td>{{item.ativo ? "Sim" : "Não"}}</td>
                    <td class="text-center" nowrap>
                      <button type="button" class="btn btn-primary" (click)="edit(item.usuarioId)"><i class="fa fa-edit"></i>&nbsp; Editar</button>
                    </td>
                  </tr>
                  <tr *ngIf="loading">
                    <td class="text-center text-muted" colspan="9">
                      <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="9">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
