<div class="body">

  <app-header></app-header>


  <app-banner [title]="titleBanner" [Subtitle]="Subtitle" [link]="link"></app-banner>

  <!-- SOBRE -->
  <div class=" row justify-content-center align-items-center m-0 p-0" *ngIf="dados"
    style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex
    justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-12 pt-md-4 pb-4">
        <h4 style="font-size: 1.2rem; color: gray; ">
          SOBRE
        </h4>
        <h2 style="color:#2864AE; font-weight: bolder;">
          {{ dados.nome}}
        </h2>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados.sobre">
          {{ dados.sobre}}
        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="!dados.sobre">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages,
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>

  <!-- GALERIA -->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex flex-column justify-content-start align-items-center"
      *ngIf="dados?.galeria.length > 0"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100 justify-content-center">
        <div class="col-12" style="padding-top: 25px;">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            GALERIA
          </h4>
        </div>

        <div class="row flex-wrap pb-md-5" style="width: 90%;">
          <div class="col-md-6 col-lg-4 p-3" *ngFor="let item of _albums; let i= index">
            <img class="w-100" [src]="item.src" (click)="open(i)" style="cursor: pointer;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-labor [isHome]="isHome"></app-labor>



  <app-footer></app-footer>
</div>