.has-error{
  border: 1px solid red;
}

.fileUpload {
  border: dotted #1b8eb7 2px;
  padding: 60px 0;
}

.fa-question {
  color: #1b8eb7;
}

.menu-option {
  > ul {
    list-style: none;
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 20px;

    > li {
      cursor: pointer;

      &:hover {
        color: #1b8eb7;
      }
    }
  }
}

.optionActive {
  border-bottom: #1b8eb7 2px solid;
}

.text-option{
  min-height: 200px;

  &::placeholder{
    color: gray;
  }
}
