<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-user" aria-hidden="true"></i>
            Contas
          </div>

        </div>

        <div class="card-block" >
          <button type="button" class="btn btn-success" [routerLink]="['/create-conta']"><i class="fa fa-plus-circle"></i>&nbsp; Nova Conta</button>

          <div class="table-responsive mt-4">
            <table class="table table-striped" [mfData]="contas" #mfConta="mfDataTable" [mfRowsOnPage]="5">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="contaId">Id</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="telefone">Telefone</mfDefaultSorter>
                  </th>
                  <th class="text-center" >
                    Editar
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfConta.data; let i = index">
                  <td>{{item.contaId}}</td>
                  <td>{{item.nome}}</td>
                  <td>{{item.email }}</td>
                  <td>{{item.telefone }}</td>
                  <td class="text-center" nowrap>
                    <button type="button" class="btn btn-primary" (click)="edit(item.contaId)"><i class="fa fa-edit"></i>&nbsp;Editar</button>
                  </td>
                </tr>
                <tr *ngIf="loading">
                  <td class="text-center text-muted" colspan="9">
                    <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
