<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-user-edit"></i>
            Dados Pessoais
          </div>

          <div class="card-block">
            <div class="row ">
              <div class="form-group col-4">
                <label for="nomeCompleto">Nome Completo</label>
                <input type="text" class="form-control"  [ngClass]="aplicaCssErro('nomeCompleto')" id="nomeCompleto" placeholder="Nome Completo" formControlName="nomeCompleto"
                 >
              </div>
              <div class="form-group col-4">
                <label for="dataNascimento">Data de Nacimento</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('dataNascimento')" id="dataNascimento"
                  formControlName="dataNascimento"
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                  bsDatepicker
                  (bsValueChange)="onValueChange($event, 'dataNascimento')">
              </div>
              <div class="form-group col-4">
                <label for="genero">Gênero </label>
                <select class="form-control" [ngClass]="aplicaCssErro('genero')" formControlName="genero" >
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="telefoneCelular">Telefone Celular</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefoneCelular')" id="titulo"  formControlName="telefoneCelular"
                   [textMask]="{mask: mask}">
              </div>
              <div class="form-group col-4">
                <label for="telefone">Telefone Convencional</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefoneConvencional')" id="telefoneConvencional"  formControlName="telefoneConvencional"
                   [textMask]="{mask: mask}">
              </div>
              <div class="form-group col-4">
                <label for="telefone">Telefone Whatsapp</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefoneWhatsapp')" id="telefoneWhatsapp"  formControlName="telefoneWhatsapp"
                  [textMask]="{mask: mask}">
              </div>

            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="tipoPessoa">Tipo de Pessoa </label>
                <select class="form-control" formControlName="tipoPessoa" >
                  <option value="PF">Pessoa Física</option>
                  <option value="PJ">Pessoa Jurídica</option>
                </select>
              </div>
              <div class="form-group col-4">
                <label for="numeroDocumento">Nº Documento</label>
                <input *ngIf="formulario.controls['tipoPessoa'].value == 'PF'" [ngClass]="aplicaCssErro('numeroDocumento')"  type="text" class="form-control" id="numeroDocumento" placeholder="CPF" formControlName="numeroDocumento"
                 [textMask]="{mask: maskCpf}">
                <input *ngIf="formulario.controls['tipoPessoa'].value == 'PJ'" [ngClass]="aplicaCssErro('numeroDocumento')"  type="text" class="form-control" id="numeroDocumento" placeholder="CNPJ" formControlName="numeroDocumento"
                  [textMask]="{mask: maskCnpj}">
              </div>
              <div class="form-group col-4">
                <label for="ativo">Ativo</label>
                <select class="form-control" [ngClass]="aplicaCssErro('ativo')" formControlName="ativo" >
                  <option value="true">Sim</option>
                  <option value="false">Não</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="rg">RG</label>
                <input [ngClass]="aplicaCssErro('rg')"  type="text" class="form-control" id="rg" placeholder="RG" formControlName="rg"
                 [textMask]="{mask: maskRg}">
              </div>
              <div class="form-group col-4">
                <label for="dataEmissao">Data Emissão</label>
                <input [ngClass]="aplicaCssErro('dataEmissao')" type="text" class="form-control" id="dataEmissao" formControlName="dataEmissao"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                bsDatepicker
                (bsValueChange)="onValueChange($event, 'dataEmissao')">
              </div>
              <div class="form-group col-4">
                <label for="orgaoEmissor">Orgão Emissor</label>
                <input [ngClass]="aplicaCssErro('orgaoEmissor')" type="text" class="form-control" id="orgaoEmissor" placeholder="Orgão Emissor" formControlName="orgaoEmissor"
                >
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="perfis">Perfis </label>
                <ng-select [items]="perfis" formControlName="perfis" [ngClass]="aplicaCssErro('perfis')" [multiple]="true" bindLabel="descricao" bindValue="perfilUsuarioId">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="animated fadeIn" *ngIf="mostrarQuandoPerfil('Empresa','Conta','Comitente','Leiloeiro')">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
           <i class="fa fa-link"></i> Vinculo Usuário
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-4" *ngIf="mostrarQuandoPerfil('Empresa','Conta')">
                <label for="regraHabilitacao">Empresas </label>
                <ng-select [items]="empresas" formControlName="empresas" [multiple]="true" bindLabel="nomeFantasia" bindValue="empresaId">
                </ng-select>
              </div>
              <div class="form-group col-4" *ngIf="mostrarQuandoPerfil('Comitente')">
                <label for="regraHabilitacao">Comitentes </label>
                <ng-select [items]="comitentes" formControlName="comitentes" [multiple]="true" bindLabel="nome" bindValue="comitenteId">
                </ng-select>
              </div>
              <div class="form-group col-4" *ngIf="mostrarQuandoPerfil('Leiloeiro')">
                <label for="regraHabilitacao">Leiloeiros</label>
                <ng-select [items]="leiloeiros" formControlName="leiloeiros" [multiple]="true" bindLabel="nome" bindValue="leiloeiroId">
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-sign-in-alt"></i> Login
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-10">
                <label for="email">Email</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('email')" id="email" placeholder="xxxxx@xxxx.com"
                  formControlName="email"  >
              </div>
              <div class="form-group col-2">
                <label for="ativo">Email Confirmado</label>
                <select class="form-control" [ngClass]="aplicaCssErro('emailConfirmado')" formControlName="emailConfirmado" >
                  <option value="true">Sim</option>
                  <option value="false">Não</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="animated fadeIn" formGroupName="endereco">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-home"></i>
            Endereço
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-4">
                <label for="cep">Cep</label>
                <input type="text" class="form-control" id="cep" [ngClass]="aplicaCssErro('endereco.cep')"
                  formControlName="cep" (blur)="consultaCEP()" [textMask]="{mask: maskCep}">
              </div>
              <div class="form-group col-4">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.logradouro')" id="logradouro"
                  formControlName="logradouro" >
              </div>

              <div class="form-group col-4">
                <label for="numero">Número</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.numero')" id="numero"
                  formControlName="numero"  >
              </div>
            </div>

            <div class="row">
              <div class="form-group col-3">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.complemento')" id="complemento"
                  formControlName="complemento"  >
              </div>
              <div class="form-group col-3">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.bairro')" id="bairro"
                  formControlName="bairro"  >
              </div>
              <div class="form-group col-3">
               <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade"
                  formControlName="cidade" [ngClass]="aplicaCssErro('endereco.cidade')"  >
              </div>
              <div class="form-group col-3">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado"
                  formControlName="estado" [ngClass]="aplicaCssErro('endereco.estado')"  maxlength="2">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="card">
      <div class="card-header detalhes">
        <h5>Relatórios</h5>
      </div>
      
      <div class="card-block tabelas">
        <div class="table-responsive mt-4">
          <tabset>
            <!-- faturas nao pagas -->
            <tab>
              <ng-template tabHeading>
                <div class="font-weight-bold text-muted small">
                  <i class="fa fa-tasks"></i> &nbsp; Faturas Não Pagas
                </div>
              </ng-template>
              <div class="table-responsive mt-1">
                <table class="table table-striped" [mfData]="faturas" #mfFaturas ="mfDataTable"
                  [mfRowsOnPage]="5">
                  <thead>
                    <tr>
                      <th>
                        <mfDefaultSorter by="faturaId">Id</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="codigo">Codigo</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="dataCadastro">Data do cadastro</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="dataVencimento">Vencimento</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="valorTotal">Valor Total</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="status">Status</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="eviada">Enviada</mfDefaultSorter>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mfFaturas?.data">
                      <td>{{item.faturaId }}</td>
                      <td>{{item.codigo}}</td>
                      <td>{{item.dataCadastro | date : 'dd/MM/yyyy'}}</td>
                      <td>{{item.dataVencimento | date : 'dd/MM/yyyy'}}</td>
                      <td>{{item.valorTotal | currencyFormat}}</td>
                      <td>{{item.status}}</td>
                      <td>{{item.eviada}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="6">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </tab>
            <!-- lotes arrematados -->
            <tab>
              <ng-template tabHeading>
                <div class="font-weight-bold text-muted small">
                  <i class="fas fa-hand-holding-usd"></i>&nbsp; Lotes Arrematados
                </div>
              </ng-template>
              <div class="table-responsive mt-1">
                <table class="table table-striped" [mfData]="loteArrematados" #mfLoteArrematados="mfDataTable" [mfRowsOnPage]="10">
                  <thead>
                    <tr>
                      <th>
                        <mfDefaultSorter by="loteId">Id</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="leilao">Leilao</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="descricao">Descrição</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="status">Status</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="numeroLote">Numero do Lote</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="statusPagamento">Status de Pagamento</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="statusAgendamento">Status de Agendamento</mfDefaultSorter>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mfLoteArrematados.data">
                      <td>{{item.loteId }}</td>
                      <td>{{item.leilao }}</td>
                      <td>{{item.descricao}}</td>
                      <td>{{item.status}}</td>
                      <td>{{item.numeroLote}}</td>
                      <td>{{item.statusPagamento}}</td>
                      <td>{{item.statusAgendamento}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </tab>
            <!-- bloqueios -->
            <tab>
              <ng-template tabHeading>
                <div class="font-weight-bold text-muted small">
                  <i class="fas fa-ban"></i>&nbsp; Bloqueios
                </div>
              </ng-template>
              <div class="table-responsive mt-1">
                <table class="table table-striped" [mfData]="bloqueios" #mfBloqueios="mfDataTable"
                  [mfRowsOnPage]="10">
                  <thead>
                    <tr>
                      <th>
                        <mfDefaultSorter by="bloqueioUsuarioId">Id</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="motivo">Motivo</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="dataBloqueio">Data de Bloqueio</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="dataDesbloqueio">Data de Desbloqueio</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="usuarioBloqueador.pessoa.nomeCompleto">Bloqueador</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="usuarioDesbloqueador.pessoa.nomeCompleto">Desbloqueador</mfDefaultSorter>
                      </th>
                      <th>
                        Desbloquear
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mfBloqueios.data">
                      <td>{{item.bloqueioUsuarioId }}</td>
                      <td>{{item.motivo}}</td>
                      <td>{{item.dataBloqueio | date : 'dd/MM/yyyy'}}</td>
                      <td>{{item.dataDesbloqueio | date : 'dd/MM/yyyy'}}</td>
                      <td>{{item.usuarioBloqueador.pessoa.nomeCompleto}}</td>
                      <td>{{item.usuarioDesbloqueador?.pessoa?.nomeCompleto}}</td>
                      <td class="" nowrap>
                        <button *ngIf="item.dataDesbloqueio === null" type="button" class="btn btn-primary" (click)="desbloquear(item.bloqueioUsuarioId)"><i class="fas fa-unlock"></i>&nbsp; Desbloquear</button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </tab>
            <!-- lances efetuados nao arrematados -->
            <tab>
              <ng-template tabHeading>
                <div class="font-weight-bold text-muted small">
                  <i class="fas fa-history"></i>&nbsp; Lances efetuados não arrematados
                </div>
              </ng-template>
              <div class="table-responsive mt-1">
                <table class="table table-striped" [mfData]="lances" #mfLances="mfDataTable"
                  [mfRowsOnPage]="10">
                  <thead>
                    <tr>
                      <th>
                        <mfDefaultSorter by="lanceId">Id</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="dataCadastro">Data</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="valor">Valor</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="statusId">Status</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="lote.numeroLote">Leilão</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter by="lote.leilao.nome">Numero do Lote</mfDefaultSorter>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of mfLances.data">
                      <td>{{item.lanceId}}</td>
                      <td>{{item.dataCadastro | date : 'dd/MM/yyyy'}}</td>
                      <td>{{item.valor}}</td>
                      <td>{{item.statusId}}</td>
                      <td>{{item.lote.leilao.nome}}</td>
                      <td>{{item.lote.numeroLote}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="10">
                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </tab>
          </tabset>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary saveCancel"><i class="fa fa-save"></i> Salvar</button>
        <button type="reset" class="btn btn-danger" [routerLink]="['/usuarios']"><i class="fa fa-undo"></i>
          Cancelar</button>
      </div>
    </div>
</div>
</form>
