<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            Dados Pessoais
          </div>

          <div class="card-block">
            <div class="row ">
              <div class="form-group col-4">
                <label for="nomeCompleto">Nome Completo</label>
                <input type="text" class="form-control"  [ngClass]="aplicaCssErro('nomeCompleto')" id="nomeCompleto" placeholder="Nome Completo" formControlName="nomeCompleto"
                 >
              </div>
              <div class="form-group col-4">
                <label for="dataNascimento">Data de Nacimento</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('dataNascimento')" id="dataNascimento"
                  formControlName="dataNascimento"
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                  bsDatepicker
                  (bsValueChange)="onValueChange($event, 'dataNascimento')">
              </div>
              <div class="form-group col-4">
                <label for="genero">Gênero </label>
                <select class="form-control" [ngClass]="aplicaCssErro('genero')" formControlName="genero" >
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="telefoneCelular">Telefone Celular</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefoneCelular')" id="titulo"  formControlName="telefoneCelular"
                   [textMask]="{mask: mask}">
              </div>
              <div class="form-group col-4">
                <label for="telefone">Telefone Convencional</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefoneConvencional')" id="telefoneConvencional"  formControlName="telefoneConvencional"
                   [textMask]="{mask: mask}">
              </div>
              <div class="form-group col-4">
                <label for="telefone">Telefone Whatsapp</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefoneWhatsapp')" id="telefoneWhatsapp"  formControlName="telefoneWhatsapp"
                  [textMask]="{mask: mask}">
              </div>

            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="tipoPessoa">Tipo de Pessoa </label>
                <select class="form-control" formControlName="tipoPessoa" >
                  <option value="PF">Pessoa Física</option>
                  <option value="PJ">Pessoa Jurídica</option>
                </select>
              </div>
              <div class="form-group col-4">
                <label for="numeroDocumento">Nº Documento</label>
                <input *ngIf="formulario.controls['tipoPessoa'].value == 'PF'" [ngClass]="aplicaCssErro('numeroDocumento')"  type="text" class="form-control" id="numeroDocumento" placeholder="CPF ou CNPJ" formControlName="numeroDocumento"
                 [textMask]="{mask: maskCpf}">
                <input *ngIf="formulario.controls['tipoPessoa'].value == 'PJ'" [ngClass]="aplicaCssErro('numeroDocumento')"  type="text" class="form-control" id="numeroDocumento" placeholder="CPF ou CNPJ" formControlName="numeroDocumento"
                  [textMask]="{mask: maskCnpj}">
              </div>
              <div class="form-group col-4">
                <label for="ativo">Ativo</label>
                <select class="form-control" [ngClass]="aplicaCssErro('ativo')" formControlName="ativo" >
                  <option value="true">Sim</option>
                  <option value="false">Não</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="rg">RG</label>
                <input [ngClass]="aplicaCssErro('rg')"  type="text" class="form-control" id="rg" placeholder="RG" formControlName="rg"
                 [textMask]="{mask: maskRg}">
              </div>
              <div class="form-group col-4">
                <label for="dataEmissao">Data Emissão</label>
                <input [ngClass]="aplicaCssErro('dataEmissao')" type="text" class="form-control" id="dataEmissao" formControlName="dataEmissao"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                bsDatepicker
                (bsValueChange)="onValueChange($event, 'dataEmissao')">
              </div>
              <div class="form-group col-4">
                <label for="orgaoEmissor">Orgão Emissor</label>
                <input [ngClass]="aplicaCssErro('orgaoEmissor')" type="text" class="form-control" id="orgaoEmissor" placeholder="Orgão Emissor" formControlName="orgaoEmissor"
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
              <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
              <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
            </svg> Informações de Usuário
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-12">
                <label for="email">Email</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('email')" id="email" placeholder="xxxxx@xxxx.com"
                  formControlName="email"  >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="animated fadeIn" formGroupName="endereco">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
            Endereço
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-4">
                <label for="cep">Cep</label>
                <input type="text" class="form-control" id="cep" [ngClass]="aplicaCssErro('endereco.cep')"
                  formControlName="cep" (blur)="consultaCEP()" [textMask]="{mask: maskCep}">
              </div>
              <div class="form-group col-4">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.logradouro')" id="logradouro"
                  formControlName="logradouro" >
              </div>

              <div class="form-group col-4">
                <label for="numero">Número</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.numero')" id="numero"
                  formControlName="numero"  >
              </div>
            </div>

            <div class="row">
              <div class="form-group col-3">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.complemento')" id="complemento"
                  formControlName="complemento"  >
              </div>
              <div class="form-group col-3">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.bairro')" id="bairro"
                  formControlName="bairro"  >
              </div>
              <div class="form-group col-3">
               <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade"
                  formControlName="cidade" [ngClass]="aplicaCssErro('endereco.cidade')"  >
              </div>
              <div class="form-group col-3">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado"
                  formControlName="estado" [ngClass]="aplicaCssErro('endereco.estado')"  maxlength="2">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary saveCancel"><i class="fa fa-save"></i> Salvar</button>
            <button type="reset" class="btn btn-danger" [routerLink]="['/usuarios']"><i class="fa fa-undo"></i>
              Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>




</form>
