<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            Dados Pessoais
          </div>

          <div class="card-block">
            <div class="row ">
              <div class="form-group col-12">
                <ng-template #nome><app-error-msg [control]="formulario.get('nomeCompleto')" label="Nome Completo"></app-error-msg></ng-template>
                <label for="nomeCompleto">Nome Completo</label>
                <input type="text" class="form-control"  [ngClass]="aplicaCssErro('nomeCompleto')" id="nomeCompleto" placeholder="Nome Completo" formControlName="nomeCompleto"
                [popover]="nome" triggers="keypress:focusout">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <ng-template #dataNascimento><app-error-msg [control]="formulario.get('dataNascimento')" label="Data de Nacimento"></app-error-msg></ng-template>
                <label for="dataNascimento">Data de Nacimento</label>
                <input type="date" class="form-control" [ngClass]="aplicaCssErro('dataNascimento')" id="dataNascimento" placeholder="dd/mm/aaaa"
                  formControlName="dataNascimento" [popover]="dataNascimento">
              </div>
              <div class="form-group col-6">
                <ng-template #telefone><app-error-msg [control]="formulario.get('telefone')" label="Telefone"></app-error-msg></ng-template>
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefone')" id="titulo"  formControlName="telefone"
                 [popover]="telefone" triggers="keypress:focusout" [textMask]="{mask: mask}">
              </div>

            </div>
            <div class="row">
              <div class="form-group col-4">
                <label for="genero">Gênero </label>
                <select class="form-control" [ngClass]="aplicaCssErro('genero')" formControlName="genero" >
                  <option value="M">Masculino</option>
                  <option value="F">Feminino</option>
                </select>
              </div>
              <div class="form-group col-4">
                <ng-template #numeroDocumento><app-error-msg [control]="formulario.get('numeroDocumento')" label="Nº Documento"></app-error-msg></ng-template>
                <label for="numeroDocumento">Nº Documento</label>
                <input *ngIf="formulario.controls['tipoPessoa'].value == 'PF'" [ngClass]="aplicaCssErro('numeroDocumento')"  type="text" class="form-control" id="numeroDocumento" placeholder="CPF ou CNPJ" formControlName="numeroDocumento"
                [popover]="numeroDocumento" triggers="keypress:focusout" [textMask]="{mask: maskCpf}">
                <input *ngIf="formulario.controls['tipoPessoa'].value == 'PJ'" [ngClass]="aplicaCssErro('numeroDocumento')"  type="text" class="form-control" id="numeroDocumento" placeholder="CPF ou CNPJ" formControlName="numeroDocumento"
                [popover]="numeroDocumento" triggers="keypress:focusout" [textMask]="{mask: maskCnpj}">
              </div>
              <div class="form-group col-4">
                <label for="tipoPessoa">Tipo de Pessoa </label>
                <select class="form-control" formControlName="tipoPessoa" >
                  <option value="PF">Pessoa Física</option>
                  <option value="PJ">Pessoa Jurídica</option>
                </select>
              </div>

            </div>
            <div class="row">
              <div class="form-group col-12">
                <label for="ativo">Ativo</label>
                <select class="form-control" [ngClass]="aplicaCssErro('ativo')" formControlName="ativo" >
                  <option value="true">Sim</option>
                  <option value="false">Não</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
              <path d="M3 2v4.586l7 7L14.586 9l-7-7H3zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586V2z"/>
              <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
            </svg> Informações de Usuário
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-12">
                <ng-template #email><app-error-msg [control]="formulario.get('email')" label="Email"></app-error-msg></ng-template>
                <label for="email">Email</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('email')" id="email" placeholder="xxxxx@xxxx.com"
                  formControlName="email" [popover]="email" triggers="keypress:focusout">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="animated fadeIn" formGroupName="endereco">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
            Endereço
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-4">
                <ng-template #cep><app-error-msg [control]="formulario.get('endereco.cep')" label="Cep"></app-error-msg></ng-template>
                <label for="cep">Cep</label>
                <input type="text" class="form-control" id="cep" [ngClass]="aplicaCssErro('endereco.cep')"
                  formControlName="cep" (blur)="consultaCEP()" [popover]="cep" triggers="keypress:focusout" [textMask]="{mask: maskCep}">
              </div>
              <div class="form-group col-4">
                <ng-template #logradouro><app-error-msg [control]="formulario.get('endereco.logradouro')" label="Logradouro"></app-error-msg></ng-template>
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.logradouro')" id="logradouro"
                  formControlName="logradouro" [popover]="logradouro" triggers="keypress:focusout">
              </div>

              <div class="form-group col-4">
                <ng-template #numero><app-error-msg [control]="formulario.get('endereco.numero')" label="Número"></app-error-msg></ng-template>
                <label for="numero">Número</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.numero')" id="numero"
                  formControlName="numero" [popover]="numero" triggers="keypress:focusout">
              </div>
            </div>

            <div class="row">
              <ng-template #complemento><app-error-msg [control]="formulario.get('endereco.complemento')" label="Complemento"></app-error-msg></ng-template>
              <div class="form-group col-3">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.complemento')" id="complemento"
                  formControlName="complemento" [popover]="complemento" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <ng-template #bairro><app-error-msg [control]="formulario.get('endereco.bairro')" label="Bairro"></app-error-msg></ng-template>
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.bairro')" id="bairro"
                  formControlName="bairro" [popover]="bairro" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <ng-template #cidade><app-error-msg [control]="formulario.get('endereco.cidade')" label="Cidade"></app-error-msg></ng-template>
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade"
                  formControlName="cidade" [ngClass]="aplicaCssErro('endereco.cidade')" [popover]="cidade" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <ng-template #estado><app-error-msg [control]="formulario.get('endereco.estado')" label="Estado"></app-error-msg></ng-template>
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado"
                  formControlName="estado" [ngClass]="aplicaCssErro('endereco.estado')" [popover]="estado" triggers="keypress:focusout" maxlength="2">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary saveCancel"><i class="fa fa-save"></i> Salvar</button>
            <button type="reset" class="btn btn-danger" [routerLink]="['/usuarios']"><i class="fa fa-undo"></i>
              Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>




</form>
