<form [formGroup]="formulario" (ngSubmit)="onSubmit()" appFocus>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
              <i class="fa fa-building" aria-hidden="true"></i>
              &nbsp;Informações da Empresa - Obrigatorias*
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-8">
                <div class="row ">
                  <div class="form-group col-6" >
                    <label for="nomeFantasia">Nome Fantasia*</label>
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('nomeFantasia')" id="nomeFantasia" placeholder="Nome Fantasia" name="nomeFantasia" formControlName="nomeFantasia" >
                  </div>
                  <div class="form-group col-6" >
                    <label for="razaoSocial">Razão Social</label>
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('razaoSocial')" id="razaoSocial" placeholder="Razão Social" name="razaoSocial" formControlName="razaoSocial" >
                  </div>
                  <div class="form-group col-6">
                    <label for="cnpj">CNPJ*</label>
                    <input [ngClass]="aplicaCssErro('cnpj')"  type="text" class="form-control" id="cnpj" placeholder="CNPJ" formControlName="cnpj"
                    [textMask]="{mask: maskCnpj}">
                  </div>
                  <div class="form-group col-6" >
                    <label for="grupoEconomicoId">Grupo Econômico</label>
                    <select class="form-control" [ngClass]="aplicaCssErro('grupoEconomicoId')" formControlName="grupoEconomicoId" >
                      <option [value]="gp.grupoEconomicoId" *ngFor="let gp of gruposEconomico">{{gp.descricao}}</option>
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefone')" id="telefone"  formControlName="telefone"
                    [textMask]="{mask: mask}">
                  </div>
                  <div class="form-group col-6" >
                    <label for="codigoTributarioMunicipio">Código Tributário Município</label>
                    <input  type="text" class="form-control" [ngClass]="aplicaCssErro('codigoTributarioMunicipio')" id="codigoTributarioMunicipio" placeholder="Código Tributário Município" name="codigoTributarioMunicipio" formControlName="codigoTributarioMunicipio" >
                  </div>
                  <div class="form-group col-6" >
                    <label for="inscricaoEstadual">Inscrição Estadual</label>
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('inscricaoEstadual')" id="inscricaoEstadual" placeholder="Inscrição Estadual" name="inscricaoEstadual" formControlName="inscricaoEstadual" >
                  </div>
                  <div class="form-group col-6" >
                    <label for="inscricaoMunicipal">Inscrição Municipal</label>
                    <input type="text" class="form-control" [ngClass]="aplicaCssErro('inscricaoMunicipal')" id="inscricaoMunicipal" placeholder="Inscrição Municipal" name="inscricaoMunicipal" formControlName="inscricaoMunicipal" >
                  </div>
                </div>
              </div>
              <div class="col-4" formGroupName="foto">
                <fieldset class="form-group">
                  <label>Logomarca* <small class="text-muted">(Tamanho máximo: 5mb)</small></label>
                  <div class="custom-file fileInputProfileWrap">
                    <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" #inputFile accept="image/*">
                    <div class="img-space" [ngClass]="aplicaCssErro('foto')">
                      <ng-container *ngIf="isImageSaved; else elseTemplate">
                        <img [src]="cardImageBase64" />
                      </ng-container>
                      <ng-template #elseTemplate>
                        <img src="../../../../assets/img/logo-generica.png" class="img-responsive">
                      </ng-template>
                    </div>
                  </div>
                </fieldset>
                <a class="btn btn-danger" (click)="removeImage(inputFile)" *ngIf="isImageSaved">Remover</a>
                <div class="alert alert-danger" *ngIf="imageError">{{imageError}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" formGroupName="endereco">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-home"></i>
            &nbsp;Endereço
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-4">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="cep" [ngClass]="aplicaCssErro('endereco.cep')"
                  formControlName="cep" (blur)="consultaCEP()"  [textMask]="{mask: maskCep}">
              </div>
              <div class="form-group col-4">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.logradouro')" id="logradouro"
                  formControlName="logradouro"  >
              </div>

              <div class="form-group col-4">
                <label for="numero">Número</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.numero')" id="numero"
                  formControlName="numero"  >
              </div>
            </div>

            <div class="row">
              <div class="form-group col-3">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.complemento')" id="complemento"
                  formControlName="complemento"  >
              </div>
              <div class="form-group col-3">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.bairro')" id="bairro"
                  formControlName="bairro"  >
              </div>
              <div class="form-group col-3">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade"
                  formControlName="cidade" [ngClass]="aplicaCssErro('endereco.cidade')"  >
              </div>
              <div class="form-group col-3">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado"
                  formControlName="estado" [ngClass]="aplicaCssErro('endereco.estado')"   maxlength="2">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary saveCancel"><i class="fa fa-save"></i> Salvar</button>
            <button type="reset" class="btn btn-danger" [routerLink]="['/empresa']"><i class="fa fa-undo"></i>
              Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
