<form [formGroup]="formulario" (ngSubmit)="onSubmit()" appFocus>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <i class="fa fa-building" aria-hidden="true"></i>
            &nbsp;Informações do Comitente - Obrigatorios*
          </div>

          <div class="card-block">
            <div class="row ">
              <div class="form-group col-4" >
                <label for="nome">Nome</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('nome')" id="nome" placeholder="Nome" name="nome" formControlName="nome">
              </div>
              <div class="form-group col-4">
                <label for="cnpj">CNPJ</label>
                <input [ngClass]="aplicaCssErro('cnpj')"  type="text" class="form-control" id="cnpj" placeholder="CNPJ" formControlName="cnpj"
                [textMask]="{mask: maskCnpj}">
              </div>
              <div class="form-group col-4">
                <label for="ativo">Ativo</label>
                <select class="form-control" [ngClass]="aplicaCssErro('ativo')" formControlName="ativo" >
                  <option value="true">Sim</option>
                  <option value="false">Não</option>
                </select>
              </div>
          </div>
          <div class="row">
            <div class="form-group col-12" >
              <label for="razaoSocial">Razão Social</label>
              <input type="text" class="form-control" [ngClass]="aplicaCssErro('razaoSocial')" id="razaoSocial" placeholder="Razão Social" name="razaoSocial" formControlName="razaoSocial">
            </div>
          </div>
          <div class="row">
            <div class="col-4" formGroupName="foto">
              <fieldset class="form-group">
                <label>Imagem Comitente</label>
                <div class="custom-file fileInputProfileWrap">
                  <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" #inputFile>
                  <div class="img-space" [ngClass]="aplicaCssErro('foto')">
                    <ng-container *ngIf="isImageSaved; else elseTemplate">
                      <img [src]="cardImageBase64" />
                    </ng-container>
                    <ng-template #elseTemplate>
                      <img src="../../../../assets/img/logo-generica.png" class="img-responsive">
                    </ng-template>
                  </div>
                </div>
              </fieldset>
              <a class="btn btn-danger" (click)="removeImage(inputFile)" *ngIf="isImageSaved">Remover</a>
              <div class="alert alert-danger" *ngIf="imageError">{{imageError}}</div>
            </div>
          </div>

        </div>
        <div class="card-footer ">
          <button type="submit" class="btn btn-primary saveCancel"><i class="fa fa-save"></i> Salvar</button>
          <button type="reset" class="btn btn-danger" [routerLink]="['/comitente']"><i class="fa fa-undo"></i>
            Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  </div>

</form>
