<form [formGroup]="formulario" (ngSubmit)="onSubmit()" *ngIf="formulario">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <i class="fa fa-user" aria-hidden="true"></i>
            Permissões
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-12">
                <label for="perfilId">Perfil </label>
                <select class="form-control"  placeholder="Selecione o Perfil" formControlName="perfilId" (change)="valueChange($event)">
                  <option *ngFor="let item of perfis;let i = index" [value]="item.perfilUsuarioId">{{item.descricao}}</option>
                </select>
              </div>
          </div>
            <table class="table" formArrayName="funcionalidades" *ngIf="this.formulario.value.funcionalidades">
              <thead>
                <tr>
                  <th width="40%">Permissão</th>
                  <th width="30%">Descrição</th>
                  <th width="30%">Ativo</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of permissoes; let i = index" [formGroupName]="i">
                  <td>{{item.codigo}}</td>
                  <td>{{item.descricao}}</td>
                  <td>
                    <label class="switch">
                      <input type="checkbox" [value]="item.selecionado" formControlName="selecionado">
                      <span class="slider round"></span>
                    </label>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary saveCancel"><i class="fa fa-save"></i> Salvar</button>
            <button type="reset" class="btn btn-danger" [routerLink]="['/leilao']"><i class="fa fa-undo"></i>
              Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>




</form>
