<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-calendar-alt" aria-hidden="true"></i>
           &nbsp;Agendamentos de Retirada
          </div>
          <div class="d-flex">
            <button type="button" (click)="exportAsExcel()" class="btn btn-success ml-2 btn-sm" title="Exportar para Excel"> <i class="fas fa-file-excel"></i>&nbsp;Excel </button>
          </div>
        </div>
        <div class="card-block">
          <form [formGroup]="filtro">
            <div class="d-flex align-items-center justify-content-end">
              <div class="d-flex justify-content-end">
                <div class="input-group ml-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Leilão</span>
                  </div>
                  <select class="form-control" formControlName="leilao" (change)="filtrar()">
                    <option value="todos">TODOS</option>
                    <option [value]="item.nome" *ngFor="let item of leiloes">{{item.nome}}</option>
                  </select>
                </div>
                <div class="input-group ml-2" style="width: 145%;">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Data Agendamento</span>
                  </div>
                  <input type="text" class="form-control" formControlName="data"
                    placeholder="DD/MM/AAAA"
                    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker
                    (bsValueChange)="onValueChange($event, 'data')">
                </div>
                <div class="input-group ml-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
                  </div>
                  <select class="form-control" formControlName="status" (change)="filtrar()">
                    <option value="todos">TODOS</option>
                    <option value="AGENDADO">AGENDADO</option>
                    <option value="CANCELADO">CANCELADO</option>
                    <option value="FINALIZADO">FINALIZADO</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
          <div class="table-responsive mt-4">
            <table class="table table-striped" [mfData]="agendamentos" #mfLeilao="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="leilao">Leilão</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="numeroLote">Nº Lote</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="descricaoLote">Descrição</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="dataAgendamento">Data Agendamento</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="nomeArrematante">Nome</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="documentoArrematante">CPF/CNPJ</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfLeilao.data">
                  <td>{{item.leilao}}</td>
                  <td>{{item.numeroLote}}</td>
                  <td>{{item.descricaoLote}}</td>
                  <td>{{item.dataAgendamento }}</td>
                  <td>{{item.nomeArrematante | uppercase }}</td>
                  <td>{{item.documentoArrematante }}</td>
                  <td>
                    <span class="badge badge-info" *ngIf="item.status === 'AGENDADO'">AGENDADO</span>
                    <span class="badge badge-success" *ngIf="item.status === 'FINALIZADO'">FINALIZADO</span>
                    <span class="badge badge-danger" *ngIf="item.status === 'CANCELADO'">CANCELADO</span>
                  </td>
                </tr>
                <tr *ngIf="loading">
                  <td class="text-center text-muted" colspan="9">
                    <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="9">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
