<div class="animated fadeIn">
  <app-search-leilao (emitLeilao)="setLeilao($event)"></app-search-leilao>
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-file-invoice-dollar" aria-hidden="true"></i>
            &nbsp;Faturas
          </div>
          <div class="d-flex" *ngIf="faturas">
            <button type="button" (click)="exportAsExcel()" class="btn btn-success ml-5" title="Exportar para Excel"> <i class="fas fa-file-excel"></i>&nbsp;Excel </button>
            <button type="button" class="btn btn-success" (click)="sendFatura()" *ngIf="!enviando" style="margin-left:10px"><i class="fa fa-envelope" aria-hidden="true" ></i>&nbsp;Enviar Faturas</button>
            <button type="button" class="btn btn-success" *ngIf="enviando"><i class="fa fa-spin fa-spinner" aria-hidden="true"></i>&nbsp;Enviando...</button>
          </div>
        </div>


        <div class="card-block">
          <form [formGroup]="formulario">
          <div class="d-flex align-items-center justify-content-between">
            <button type="button" class="btn btn-success" [routerLink]="['/create-fatura']"><i class="fa fa-plus-circle"></i>&nbsp;Nova Fatura</button>
            <div class="d-flex justify-content-end" *ngIf="faturas">
              <div class="input-group" style="width: 145%;">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
                </div>
                <input type="text" class="form-control" (keyup)="onSearch()" aria-describedby="basic-addon2" [formControl]="queryField" placeholder="por Nome, CPF, Numero do Lote" >
              </div>
              <div class="input-group ml-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Status</span>
                </div>
                <select class="form-control" formControlName="statusControl" (change)="filtrarFaturas()">
                  <option value="0">TODOS</option>
                  <option value="1">PENDENTE</option>
                  <option value="2">VENCIDA</option>
                  <option value="3">PAGA</option>
                  <option value="4">PAGO MENOR</option>
                  <option value="5">PAGO MAIOR</option>
                  <option value="6">CANCELADA</option>
                </select>
              </div>
            </div>
          </div>
            <div class="table-responsive mt-4">
              <table class="table table-striped" [mfData]="faturasFiltradas" #mfLeilao="mfDataTable" [mfRowsOnPage]="15" >
                <thead>
                  <tr>
                    <th class="text-center">
                      <input type="checkbox" (change)="selectAllFaturas()" title="Selecionar Todas">
                    </th>
                    <th>
                      <mfDefaultSorter by="faturaId">Id</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="codigo">Código</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="nomeArrematante">Arrematante</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="cpfArrematante">CPF/CNPJ</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="valorTotal">Valor</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="dataVencimento">Data Vencimento</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="quantidadeItens">Itens</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="status">Status</mfDefaultSorter>
                    </th>
                    <th class="text-center">
                      <mfDefaultSorter by="enviada">Enviada</mfDefaultSorter>
                    </th>
                    <th class="text-center" >
                      Ação
                    </th>
                  </tr>
                </thead>
                <tbody  formArrayName="enviarFaturas">
                  <ng-template ngFor let-item [ngForOf]="mfLeilao.data">
                    <tr>
                      <td class="text-center" nowrap>
                        <input type="checkbox" (click)="selectFatura(item.faturaId)" >
                      </td>
                      <td>{{item.faturaId}}</td>
                      <td>{{item.codigo}}</td>
                      <td>{{item.nomeArrematante | uppercase}}</td>
                      <td nowrap>{{item.cpfArrematante}}</td>
                      <td nowrap>{{item.valorTotal | currencyFormat}}</td>
                      <td>{{item.dataVencimento | amDateFormat:'DD/MM/yyyy' }}</td>
                      <td>{{item.quantidadeItens }}</td>
                      <td>
                        <ng-container [ngSwitch]="item.status">
                          <span *ngSwitchCase="1" class="badge badge-warning">PENDENTE</span>
                          <span *ngSwitchCase="2" class="badge badge-danger">VENCIDA</span>
                          <span *ngSwitchCase="3" class="badge badge-success">PAGA</span>
                          <span *ngSwitchCase="4" class="badge badge-success">PAGO MENOR</span>
                          <span *ngSwitchCase="5" class="badge badge-success">PAGO MAIOR</span>
                          <span *ngSwitchCase="6" class="badge badge-danger">CANCELADA</span>
                        </ng-container>
                      </td>
                      <td class="text-center">
                          <span *ngIf="!item.enviada" class="text-muted" title="Não Enviada"><i class="fa fa-envelope"></i></span>
                          <span *ngIf="item.enviada"  class="text-success" title="Enviada"><i class="fa fa-envelope"></i></span>
                      </td>
                      <td class="text-center" nowrap>
                        <div class="dropdown" dropdown>
                          <button class="btn" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-expanded="false" dropdownToggle>
                            <i class="fa fa-ellipsis-v"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <li><a class="dropdown-item" [href]="siteUrl + '/fatura/' + item.token" target="_blank">Ver Fatura</a></li>
                            <li (click)="showItensFatura(item.faturaId)"><a class="dropdown-item" >Ver Itens Fatura</a></li>
                            <li><a class="dropdown-item" (click)="cancelarFatura(item.faturaId)" *ngIf="item.status === 1">Cancelar Fatura</a></li>
                          </ul>
                        </div>
                      </td>

                    </tr>
                    <tr *ngIf="item.faturaId == showItens">
                      <td colspan="12">
                        <table class="table table-striped table-sm">
                          <thead>
                            <tr>
                              <th colspan="2" class="text-center border-table">Composição - Fatura {{item.faturaId}}</th>
                            </tr>
                            <tr>
                              <th class="col-9 border-table">Descrição</th>
                              <th class="col-3 border-table text-right">Valor</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-template ngFor let-itensFatura [ngForOf]="item.itens">
                              <tr>
                                <td class="col-9 border-table">{{itensFatura.descricao}}</td>
                                <td class="col-3 border-table text-right">{{itensFatura.valor | currencyFormat}}</td>
                              </tr>
                            </ng-template>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </ng-template>

                  <tr *ngIf="loading">
                    <td class="text-center text-muted" colspan="11">
                      <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="11">
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <!-- <div class="info col-12">
                <table>
                  <tr>
                    <th style = "background-color: rgb(243, 243, 243)" scope="col">DADOS DO CLIENTE</th>

                  </tr>
                  <tr>
                    <th scope="row">header 2</th>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th scope="row">header 3</th>
                    <td>3</td>
                  </tr>
                </table>

              </div> -->
            </div>
            <div class="table-responsive mt-5 d-flex">

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
