.header{
  display: flex;
  justify-content: space-between;
}
.btn-success{
  display: flex;
  align-items: center;
  width: 13%;

  h6{
      margin-bottom: 0%;
  }
}
.fa-file{
  margin-right: 10%;
}
