<div class="body">

  <app-header></app-header>

  <app-banner [title]="titleBanner" [Subtitle]="subtitleBanner"></app-banner>

  <!-- SOBRE -->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex
    justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-12 pt-md-4 pb-4">
        <h4 style="font-size: 1.2rem; color: gray; ">
          SOBRE
        </h4>
        <h2 style="color:#2864AE; font-weight: bolder;">
          A VDEPI
        </h2>
        <p class="text-about last-news-paragraph">
          A Vice Diretoria de Educação, Pesquisa e Inovação – VDEPI, busca o fortalecimento da pesquisa,
          desenvolvimento, inovação e formação de recursos humanos, através do constante esforço do seu corpo de
          pesquisadores, tecnologistas e técnicos, com foco em soluções para as doenças tropicais negligenciadas,
          doenças de alto custo e doenças de alta incidência.
          <br>
          <br>
          A VDEPI atua de forma integrada em atendimento aos objetivos e missão deste Instituto “Atuar, como unidade
          técnico¬-científica da Fiocruz, na promoção da saúde pública, por meio da ge¬ração e difusão de conhecimentos,
          da educação, da pesquisa, do de¬senvolvimento tecnológico e da produção de medicamentos.”.
          Para cumprir sua missão, a VDEPI é estruturada em seis departamentos, oito laboratórios credenciados, dois
          serviços, quatro plataformas, dois cursos de pós-graduação stricto senso e dois cursos lato senso, uma
          assistência de administração e infraestrutura da pesquisa (AAIP) e uma assistência técnica de gestão de
          projetos (ATGP).
          <br>
          <br>
          A VDEPI tem características multidisciplinar, formada por profissionais capacitados para suportar a
          complexidade e a diversidade das atividades desenvolvidas.
          <br>
          <br>
          O corpo de pesquisadores de Farmanguinhos trabalha na busca de soluções para fortalecer o Complexo
          Econômico-Industrial da Saúde – CEIS, e assim atender às demandas do Sistema Único de Saúde – SUS em fármacos
          e medicamentos.
          <br>
          <br>
          A gestão da VDEPI é feita pelo seu Comitê Gestor (CG), formado pelos Departamentos, AAIP e ATGP e presidido
          pela Vice-diretoria de Educação Pesquisa e Inovação, que
          é responsável pelas ações de alinhamento e disseminação das ações estratégicas das respectivas áreas de
          atuação de cada membro, assim como da definição dos representantes das diversas câmaras técnicas.

        </p>
      </div>
    </div>
  </div>

  <!-- GALERIA -->
  <!-- <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex flex-column justify-content-start align-items-center"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100 justify-content-center">
        <div class="col-12" style="padding-top: 25px;">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            GALERIA
          </h4>
        </div>

        <div class="row flex-wrap pb-md-5 d-flex justify-content-center align-items-center" style="width: 90%;">
          <div class="col-md-6 col-lg-4 p-3" *ngFor="let image of _albums; let i=index">
            <img class="w-100" [src]="image.src" (click)="open(i)" />
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- ÚLTIMAS PESQUISAS -->
  <!-- <div class=" row justify-content-center align-items-center m-0 p-0 "
    style="margin-top: 20px !important; gap: 2px 10px">

    <div class="last-searchs col-md-11 col-lg-4 d-flex flex-column justify-content-center align-items-center"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100 p-md-5">
        <div class="col-12">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            ÚLTIMAS PESQUISAS
          </h4>
        </div>
        <div class="col-12 last-news-paragraph">
          Kostas Drakonakis, Sotiris Ioannidis, Jason Polakis “ReScan: A
          Middleware Framework for Realistic and Robust Black-box Web
          Application Scanning” NDSS Symposium 2023, 7 February – 3 March 2023,
          San Diego, California
          <br>
          <br>
          Iosif Arvanitis, Grigoris Ntousakis, Sotiris Ioannidis, Nikos
          Vasilakis “A Systematic Analysis of the Event-Stream Incident” 15th
          EuroSec 2022, April 5 – 8 Rennes, France.
          <br>
          <br>
          Tatiana Trantidou, George Bravos, Philippe Valoggia et al. “SENTINEL –
          Approachable, tailor-made cybersecurity and data protection for small
          enterprises” IEEE cyber security and Resilience, July 27-29, virtual

        </div>
      </div>
    </div>
    <div class="last-news col-md-11 col-lg-6 mt-md-4 mt-lg-0"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100">
        <div class="col-12" style="padding-top: 25px;">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            NOTÍCIAS
          </h4>
        </div>
        <div class="col-12 d-flex justify-content-lg-center align-items-lg-center"
          style="padding-top: 25px; overflow: hidden;">
           <swiper [slidesPerView]="2" [spaceBetween]="50" [virtual]="true" style="width: 100%; overflow: hidden;">
            <swiper-slide *ngFor="let item of arrayNoticias">
              <ng-template swiperSlide>
                <div class="d-flex flex-column justify-content-center align-items-center"
                  style="width: 100%; height: auto;">
                  <img [src]="item" style="margin-bottom: 15px; max-width: 100%;">
                </div>
              </ng-template>
            </swiper-slide>
          </swiper> 
        </div>
      </div>
    </div>

  </div> -->

  <!-- MISSÃO E VISÃO-->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">
    <div class="col-md-11 col-lg-10 d-flex
    justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-12 pt-md-4 pb-4">
        <h4 style="font-size: 1.2rem; color: gray; ">
          MISSÃO E VISÃO
        </h4>

        <p class="text-about last-news-paragraph">
          <b>Visão: </b>“Ser protagonista e inovador na disponibilização de soluções integradas e sustentáveis para o
          SUS.”
          <br>
          <br>
          <b>Missão:</b> “Promover a oferta de soluções integradas e sustentáveis, gerando e difundindo conhecimentos,
          inovando
          e fornecendo soluções para doenças de grande relevância para a população brasileira.”
          <br>
          <br>
          <b>Vice-Diretora: Dra. Nubia Boechat</b>
          <br>
          Graduada pela Faculdade de Farmácia da UFRJ, mestra em síntese orgânica pelo NPPN-UFRJ, doutora em química
          pelo IQ-UFRJ, com estágio “sanduíche” na Universidade de York, Inglaterra. Pós-doutorado na London School of
          Hygiene and Tropical Medicine de Londres, Inglaterra. Tecnologista sênior da Fundação Oswaldo Cruz (Fiocruz),
          desde 1986, onde tem ocupado vários cargos, inclusive de Diretora Executiva de Farmanguinhos. Foi
          vice-secretária da Regional Rio da Sociedade Brasileira de Química e subsecretária de saúde do município de
          Niterói, Rio de Janeiro. É bolsista em produtividade em pesquisa do CNPq e Cientista do Nosso Estado pela
          Faperj. Lidera importante grupo de P&D em síntese de fármacos, com centenas de moléculas inéditas obtidas para
          as doenças negligenciadas, Aids e câncer. Em 2021, foi vencedora do prêmio internacional Mulheres Brasileiras
          na Química, na categoria Liderança na Indústria, dado pela American Chemical Society em parceria com a
          Sociedade Brasileira de Química.

        </p>
      </div>
    </div>
  </div>


  <!-- ESTRUTURA ORGANIZACIONAL -->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex
  justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-12 pt-md-4 pb-4">
        <h4 style="font-size: 1.2rem; color: gray; ">
          ESTURUTURA ORGANIZACIONAL
        </h4>
        <h2 style="color:#2864AE; font-weight: bolder;">
          ORGANOGRAMA
        </h2>
        <div class="col-12 col-md-12 col-lg-12 pb-md-4 text-center d-flex justify-content-center align-items-center">
          <img src="../../../assets/organograma.png" class="col-md-8 col-lg-8 col-xl-8">
        </div>
      </div>
    </div>
  </div>

  <div class="labor-component">
    <div class="labor-component-header">
      <h1>Laboratórios</h1>
    </div>
    <div class="container-header-labor">

      <img src="../../../assets/galeria/Fiocruz.png" alt="">

      <h2>Nossos Laboratórios</h2>
    </div>

    <ul>
      <li *ngFor="let laboratorio of laboratorios" (click)="redirecionarParaLaboratorio(laboratorio.nome)">
        {{laboratorio.nome}}
        <ul>
          <li>Pesquisador Responsável :{{laboratorio?.pesquisadorResponsavel}}</li>
        </ul>
      </li>
    </ul>

  </div>
  <app-footer></app-footer>
</div>