<p>
  nota works!
</p>
+<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-file" aria-hidden="true"></i>
            Nota de arrematação
          </div>


        </div>
        
        <div class="card-block">
          <div class="container">
            <div class="row">
              <div class="col-lg">
                <img src="../../../../assets/img/leiloeiraju.jpg">
              </div><div id="linha-vertical"></div>
              <div class="col-lg">    
                <p>         
                Juliana Araújo
                Leiloeira Pública Oficial
                Junta Comercial do Estado do Rio de Janeiro
                JUCERJA nº 238</p>  
              </div><div id="linha-vertical"></div>
              <div class="col-lg">
                <p>www.leiloesja.com.br
                contato@leiloesja.com.br</p>  
              </div><div id="linha-vertical"></div>
              <div class=" col-sm-3" id="fundo-nota">
                <h3>NOTA DE
                  ARREMATAÇÃO</h3>
                  <hr>
                <h3>VIA ÚNICA</h3>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-block">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Comitente Vendedor</h3>

               <p> Prefeitura Municipal de Niterói </p>  

              </div><div id="linha-vertical"></div>
              <div class=" col-sm-3">
                <h3>Data do Leilão:</h3>
                10/02/2022
                <br>
                <h3>Data da emissão:</h3> <p>17/02/2022</p>

              </div><div id="linha-vertical"></div>
              <div class=" col-sm-3">
                <h3>Nota nº: 142</h3>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-block">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Nome:</h3> <p>Rota Livre Turismo LTDA</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3>Fone:</h3> <p>2135825742</p>
              </div>
              <div class="col">
                <h3>RG/IE:</h3> <p>78008459</p>	
              </div>
              <div class="col">
                <h3>Email:</h3> <p>oliveira-fontes@hotmail.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8"><h3>Endereço:</h3> <p>Estrada São Pedro de Alcântara, 4386, de 4001/4002 ao fim.</p></div>
              <div class="col"><h3>Bairro:</h3> <p>Realengo</p></div>
            </div>
            <div class="row">
              <div class="col"><h3>Cidade:</h3> <p>Rio de Janeiro</p></div>
              <div class="col"><h3>Estado:</h3> <p>RJ</p>	</div>
              <div class="col"><h3>CEP:</h3> <p>21735-210</p>	</div>
              <div class="col"><h3>Fone:</h3> <p>2135825742</p></div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-block" id="fundo-nota">
          <div class="container" >
            <div class="row "  >
              <div class="col">
                <h3 class="text-center">Lote</h3>
              </div><div id="linha-vertical"></div>
              <div class="col-6">
                <h3 class="text-center" >Descrição</h3>
              </div><div id="linha-vertical"></div>
              <div class="col">
                <h3 class="text-center">Valor</h3>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-block">
          <div class="container">
            <div class="row">
              <div class="col">
                <p class="text-center" >54</p>
              </div><div id="linha-vertical"></div>
              <div class="col-6">
                <h4>Paleteira e Máquina Wap</h4>
                <p>Lote composto por aproximadamente 3 itens: Paleteiras – Máquina Wap </p>
              </div><div id="linha-vertical"></div>
              <div class="col">
                <p class="text-center" >R$ 1.300,00</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-block">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <h4>Observações:</h4>
                <p> O Arrematante é responsável pelos procedimentos de transferência do veículo junto ao DETRAN, pagamento de DUDAS, taxas e IPVA do ano do arremate.  </p>
              </div><div id="linha-vertical"></div>
              <div class="col">
                <p class="text-center" >Arremate</p><br>
                <p class="text-center" >Comissão</p><br>
                <p class="text-center" >TOTAL</p><br>
              </div><div id="linha-vertical"></div>
              <div class="col">
                <p class="text-center" >R$ 1.300,00</p><br>
                <p class="text-center" >R$ 65,00</p><br>
                <p class="text-center" >R$ 1.365,00</p><br>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm">
            <hr id="assinatura">
            <h4 class="text-center">Juliana Araújo</h4>
            <h5 class="text-center">Leiloeira Pública Oficial</h5>
            <p class="text-center">(Assinado eletronicamente nos termos da Lei Federal nº 14.063 de 2020)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>