<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          &nbsp;Tipos de lote
        </div>
        <div class="card-block">
          <button type="button" class="btn btn-success" [routerLink]="['/criar-tipo-lote']"><i
              class="fa fa-plus-circle"></i>&nbsp; Novo tipo</button>
          <div class="table-responsive mt-4">
            <table class="table table-striped" [mfData]="tipos" #mfTipos="mfDataTable"
              [mfRowsOnPage]="100">
              <thead>
                <tr>

                  <th>
                    <mfDefaultSorter by="tipoLoteId">Id</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="descricao">Descrição</mfDefaultSorter>
                  </th>

                  <th class="text-center">
                    Editar
                  </th>
                  <th class="text-center">
                    Remover
                  </th>


                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfTipos.data">
                  <td>{{item.tipoLoteId}}</td>
                  <td>{{item.descricao}}</td>
                  <td class="text-center" nowrap>
                    <button type="button" class="btn btn-primary" (click)="edit(item.tipoLoteId)"><i
                        class="fa fa-edit"></i>&nbsp;Editar</button>
                  </td>
                  <td class="text-center" nowrap>
                    <button type="button" class="btn btn-danger" (click)="remove(item.tipoLoteId);"><i
                        class="fa fa-envelope"></i>&nbsp;Remove</button>
                  </td>
                </tr>
                <tr *ngIf="loading">
                  <td class="text-center text-muted" colspan="9">
                    <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="9">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>