<div class="container">
  
  <div class="c-body">
    <div class="row linha-seletor">
      <form [formGroup]="formulario" class="col-4">
        <select class="form-control col-12 seletor" aria-label="Default select example" (change)="buscarLeilao()" formControlName="id" >
          <option selected>Selecione o Leilão</option>
          <option *ngFor="let item of leiloes" value="{{item.id}}">{{item.nome}}</option>
          
        </select>
      </form>
      
    </div>
    <main class="c-main">
      <div>
        <div class="fade-in">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-primary">
                <div class="card-body ">
                  <div>
                    <div class="text-value-lg">{{contadorVisitantes}}</div>
                    <div class="title">Visitantes</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-info">
                <div class="card-body ">
                  <div>
                    <div class="text-value-lg">{{contadorHabilitados}}</div>
                    <div class="title">Habilitados</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-warning">
                <div class="card-body ">
                  <div>
                    <div class="text-value-lg">{{contadorParticipantes}}</div>
                    <div class="title">Participantes</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3">
              <div class="card text-white bg-danger">
                <div class="card-body">
                  <div>
                    <div class="text-value-lg">{{contadorLances}}</div>
                    <div class="title">Lances</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="row flex">
      <div class="card bg-light mb-7 col-5">
        <div class="card-header">
          <h5>Lotes - {{totalLotes}}</h5>
        </div>
        <div class="card-body">
          <div>
            <div>
              <div style="display: block;">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card bg-light mb-7 col-7">
        <div class="card-header">
          <h5>Top 10 - Lotes com mais lances</h5>
        </div>
        <div class="card-body">
          <div>
            <div>
              <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                  [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType"
                  [colors]="barChartColor">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row linhaFinanceiro">

      <ngx-flip [flip]="flipDiv">
        <div front>
          <div class="card bg-light mb-7 col-12">
            <div class="card-header financeiro">
              <h5>Financeiro - Lotes</h5>
              <button type="button" class="btn btn-primary btn-sm " (click)="girar()" tooltip="Listas">Consultar Tabelas
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
              </button>

            </div>
            <div class="card-body">

              <div style="display: block; ">
                <canvas baseChart style="width: inherit;height: 350px;" [datasets]="barChartDataFinanceiro"
                  [labels]="barChartLabelsFinanceiro" [options]="barChartOptionsFinanceiro"
                  [plugins]="barChartPluginsFinanceiro" [legend]="barChartLegendFinanceiro"
                  [chartType]="barChartTypeFinanceiro" [colors]="barChartColorFinanceiro">
                </canvas>
              </div>
            </div>
          </div>
        </div>
        <div back>
          <div class="card">
            <div class="card-header financeiro">

              <h5>Financeiro - Lotes</h5>
              <button type="button" class="btn btn-primary btn-sm " (click)="girar()" tooltip="Listas">Consultar Tabelas
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                </svg>
              </button>
            </div>
            <div class="card-block tabelas">
              <div class="table-responsive mt-4" *ngIf="!loadingPorMes">
                <tabset>
                  <tab>
                    <ng-template tabHeading>
                      <div class="font-weight-bold text-muted small">
                        <i class="fa fa-tasks"></i> &nbsp; Arrematados
                      </div>
                    </ng-template>
                    <div class="table-responsive mt-1">
                      <table class="table table-striped" [mfData]="listaArrematados" #mfArrematados="mfDataTable"
                        [mfRowsOnPage]="5">
                        <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="id">Id</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="data_Arrematacao">Data Arrematação</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="numeroLote">Nº Lote</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="status">Status</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valor_Arrematado">Valor Arrematado</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valor_Taxas">Valor Taxas</mfDefaultSorter>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of mfArrematados.data">
                            <td>{{item.loteId }}</td>
                            <td>{{item.dataArrematacao | date : 'dd/MM/yyyy'}}</td>
                            <td>{{item.numeroLote}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.valorArrematacao | currency:'BRL':true:'1.2-2'}}</td>
                            <td>{{item.valorTaxas | currency:'BRL':true:'1.2-2'}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="6">
                              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <div class="font-weight-bold text-muted small">
                        <i class="fa fa-redo-alt"></i>&nbsp; Pagos
                      </div>
                    </ng-template>
                    <div class="table-responsive mt-1">
                      <table class="table table-striped" [mfData]="listaPago" #mfPago="mfDataTable" [mfRowsOnPage]="10">
                        <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="id">Id</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="data_Arrematacao">Data Arrematação</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="numeroLote">Nº Lote</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="status">Status</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valor_Arrematado">Valor Arrematado</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valor_Taxas">Valor Taxas</mfDefaultSorter>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of mfPago.data">
                            <td>{{item.loteId }}</td>
                            <td>{{item.dataArrematacao | date : 'dd/MM/yyyy'}}</td>
                            <td>{{item.numeroLote}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.valorArrematacao | currency:'BRL':true:'1.2-2'}}</td>
                            <td>{{item.valorTaxas | currency:'BRL':true:'1.2-2'}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="10">
                              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <div class="font-weight-bold text-muted small">
                        <i class="fa fa-redo-alt"></i>&nbsp; Pendentes
                      </div>
                    </ng-template>
                    <div class="table-responsive mt-1">
                      <table class="table table-striped" [mfData]="listaPendentes" #mfPendente="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="id">Id</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="data_Arrematacao">Data Arrematação</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="numeroLote">Nº Lote</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="status">Status</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valor_Arrematado">Valor Arrematado</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valor_Taxas">Valor Taxas</mfDefaultSorter>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of mfPendente.data">
                            <td>{{item.loteId }}</td>
                            <td>{{item.dataArrematacao | date : 'dd/MM/yyyy'}}</td>
                            <td>{{item.numeroLote}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.valorArrematacao | currency:'BRL':true:'1.2-2'}}</td>
                            <td>{{item.valorTaxas | currency:'BRL':true:'1.2-2'}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="10">
                              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </tab>
                  <tab>
                    <ng-template tabHeading>
                      <div class="font-weight-bold text-muted small">
                        <i class="fa fa-redo-alt"></i>&nbsp; Expirados
                      </div>
                    </ng-template>
                    <div class="table-responsive mt-1">
                      <table class="table table-striped" [mfData]="listaExpirados" #mfExpirado="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead>
                          <tr>
                            <th>
                              <mfDefaultSorter by="id">Id</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="data_Arrematacao">Data Arrematação</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="numeroLote">Nº Lote</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="status">Status</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valor_Arrematado">Valor Arrematado</mfDefaultSorter>
                            </th>
                            <th>
                              <mfDefaultSorter by="valor_Taxas">Valor Taxas</mfDefaultSorter>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of mfExpirado.data">
                            <td>{{item.loteId }}</td>
                            <td>{{item.dataArrematacao | date : 'dd/MM/yyyy'}}</td>
                            <td>{{item.numeroLote}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.valorArrematacao | currency:'BRL':true:'1.2-2'}}</td>
                            <td>{{item.valorTaxas | currency:'BRL':true:'1.2-2'}}</td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="10">
                              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </tab>
                </tabset>
              </div>
            </div>
          </div>
        </div>
      </ngx-flip>
    </div>

    <div class="row">
      <div class="card bg-light mb-7 col-12">
        <div class="card-header">
          <h5>Previsto x Arrematados</h5>
        </div>
        <div class="card-body">
          <div>
            <div>
              <div style="display: block; ">
                <canvas id="bar-chart-horizontal" width="800" height="250" #barrasHorizontal></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>