
.seletor{
    margin-bottom: 2%;
}

// .bg-light{
//     padding: 0%;
// }

// .flex{
//     display: flex;
//     justify-content: space-between;
// }

.text-value-lg{
    font-size: 2.5rem;
}

.title{
    font-size: 1.2rem;
}

ngx-flip{
    display: inline-block;
    width: 100%;


    // .card-body{
    //     padding: 0;
    // }
}

// .linhaFinanceiro{
//     height: 38em;
// }

.financeiro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .tabelas{
//     height: 40em;
// }

