<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-book-open"></i>
          &nbsp;Varas
        </div>
        <div class="card-block">
          <div class="row input-search">
            <div class="col-3">
              <button
                type="button"
                class="btn btn-success"
                [routerLink]="['/create-vara']"
              >
                <i class="fa fa-plus-circle"></i>&nbsp; Novo Vara
              </button>
            </div>
          </div>
          <div class="table-responsive mt-4">
            <table
              class="table table-striped"
              [mfData]="registros"
              #mfRegistros="mfDataTable"
              [mfRowsOnPage]="5"
            >
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="varaId">id</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="juizo.nome">Juizo</mfDefaultSorter>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfRegistros.data">
                  <td width="5%">
                    {{ item.varaId }}
                  </td>
                  <td>{{ item.nome }}</td>
                  <td>
                    <a [routerLink]="['/update-juizo', item.juizo.juizoId]">{{
                      item.juizo.nome
                    }}</a>
                  </td>
                  <td class="text-center" width="5%">
                    <div class="dropdown" dropdown>
                      <button
                        class="btn"
                        id="dropdownMenuButton"
                        type="button"
                        data-toggle="dropdown"
                        aria-expanded="false"
                        dropdownToggle
                      >
                        <i class="fa fa-ellipsis-v"></i>
                      </button>
                      <ul
                        class="dropdown-menu dropdown-menu-right"
                        *dropdownMenu
                      >
                        <li (click)="edit(item.varaId)">
                          <a class="dropdown-item"
                            ><i class="fa fa-edit"></i>&nbsp; Editar</a
                          >
                        </li>
                        <li (click)="delete(item.varaId)">
                          <a class="dropdown-item"
                            ><i class="fa fa-trash"></i>&nbsp; Excluir</a
                          >
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="loading">
                  <td class="text-center text-muted" colspan="4">
                    <h5>
                      <i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...
                    </h5>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <mfBootstrapPaginator
                      [rowsOnPageSet]="[5, 10, 25]"
                    ></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
