<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-building" aria-hidden="true"></i>
            Comitentes
          </div>
          
          <button type="button" class="btn btn-success"><i class="fa fa-file-excel" aria-hidden="true"></i><h6>Excel</h6></button>
          
        </div>

        <div class="card-block" >
          <div class="table-responsive mt-4">
            <table class="table table-striped" [mfData]="comitente" #mfComitente="mfDataTable" [mfRowsOnPage]="5">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="comitenteId">Id</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="razaoSocial">Razão Social</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="dataCadastro">Data Cadastro</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="cnpj">CNPJ</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="ativo">Ativo</mfDefaultSorter>
                  </th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfComitente.data; let i = index">
                  <td>{{item.comitenteId}}</td>
                  <td>{{item.nome}}
                  </td>
                  <td>{{item.razaoSocial }}</td>
                  <td>{{item.dataCadastro | date: 'dd/MM/yyyy' }}</td>
                  
                  <td>{{item.cnpj }}</td>
                  <td>{{item.ativo == true ? 'Sim' : 'Não' }}</td>
                </tr>
                <tr *ngIf="loading">
                  <td class="text-center text-muted" colspan="9">
                    <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>