<form [formGroup]="formulario" appFocus *ngIf="formulario">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <i class="fa fa-file-alt" aria-hidden="true"></i>
            &nbsp;Novo Documento
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="form-group col-6">
                    <label for="leilaoId">Leilão </label>
                    <select class="form-control" [ngClass]="aplicaCssErro('leilaoId')"  formControlName="leilaoId"  (change)="setLeilao()"
                      id="leilaoId" name="leilaoId">
                      <option *ngFor="let item of leiloes" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label for="cobrancaId">Lote</label>
                    <select class="form-control" [ngClass]="aplicaCssErro('loteId')" formControlName="loteId" [attr.disabled]="!hasLotes ? '' : null">
                      <option [value]="item.loteId" *ngFor="let item of lotes">{{item.descricao}}</option>
                    </select>
                  </div>
                
                </div>
                <div class="row">
                  <div class="form-group col-6">
                    <label for="cobrancaId">Tipo do Documento</label>
                    <select class="form-control" [ngClass]="aplicaCssErro('tipoDocumentoId')" formControlName="tipoDocumentoId">
                      <option [value]="item.tipoDocumentoLoteId" *ngFor="let item of tipoDocumentos">{{item.nome}}</option>
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label for="templateId">Template</label>
                    <select class="form-control" [ngClass]="aplicaCssErro('templateId')" formControlName="templateId"  >
                      <option *ngFor="let item of templates" [value]="item.documentoLoteTemplateId">{{item.titulo}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header new-campo d-flex align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa fa-signature" aria-hidden="true"></i>&nbsp; Assinantes
            </div>
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-6">
                <label for="perfis">Assinantes </label>
                <ng-select [items]="perfis" formControlName="assinantes" [ngClass]="aplicaCssErro('assinantes')" [multiple]="true" bindLabel="descricao" bindValue="perfilUsuarioId">
                </ng-select>
              </div>
              <div class="form-group col-6">
                <label>Tipo de Assinatura</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipoAssinatura" id="certificado" value="1" checked>
                  <label class="form-check-label" for="certificado">
                    Certificado Digital
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipoAssinatura" id="assinatura" value="2">
                  <label class="form-check-label" for="assinatura">
                    Assinatura Digitalizada
                  </label>
                </div>
                <!-- <div><input type="radio" name="tipoAssinatura" id="certificado" formControlName="tipoAssinatura"> <label for="certificado">Certificado Digital</label></div>
                <div><input type="radio" name="tipoAssinatura" id="assinatura" formControlName="tipoAssinatura"> <label for="assinatura">Assinatura Digitalizada</label></div> -->
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary saveCancel" *ngIf="!salvando" (click)="onSubmit()"><i class="fa fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-primary saveCancel" *ngIf="salvando"><i class="fa fa-spin fa-spinner"></i> Salvando...</button>
            &nbsp;<button type="reset" class="btn btn-danger" [routerLink]="['/gerenciadordocumento']"><i class="fa fa-undo"></i>
              Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
