<form [formGroup]="formulario" appFocus *ngIf="formulario">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <i class="fa fa-file-alt" aria-hidden="true"></i>
            &nbsp;Novo Documento
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="form-group col-4">
                    <label for="leilaoId">Leilão </label>
                    <select class="form-control" [ngClass]="aplicaCssErro('leilaoId')"  formControlName="leilaoId" (change)="setCobranca()"
                      id="leilaoId" name="leilaoId">
                      <option *ngFor="let item of leiloes" value="{{item.id}}">{{item.nome}}</option>
                    </select>
                  </div>
                  <div class="form-group col-4">
                    <label for="cobrancaId">Lote</label>
                    <select class="form-control" [ngClass]="aplicaCssErro('loteId')" formControlName="loteId">
                      <option value="0">TODOS</option>
                      <option value="1">Lote: 1</option>
                      <option value="2">Lote: 1</option>
                    </select>

                    <!-- <ng-select [items]="empresas" formControlName="cobrancaId"  [ngClass]="aplicaCssErro('cobrancaId')" bindLabel="cedenteRazaoSocial" bindValue="idConfiguracaoConta">
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          <div style="margin: 10px 0; white-space: normal;" class="card" >
                              <div class="card-body">
                                  <h5 class="card-title" [ngOptionHighlight]="search">{{item.cedenteRazaoSocial}}</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">CNPJ: {{item.cedenteCpfCnpj | formatCpfCnpf }}</h6>
                                  <h6 class="card-subtitle mb-2 text-muted"><small>Banco: {{item.cedenteBanco }} - AG: {{item.cedenteAgencia }} - CC: {{ item.cedenteContaCorrente + '-' + item.cedenteDigitoConta }}</small></h6>
                              </div>
                          </div>
                      </ng-template>
                    </ng-select> -->
                  </div>
                  <div class="form-group col-4">
                    <label for="cobrancaId">Tipo do Documento</label>
                    <select class="form-control" [ngClass]="aplicaCssErro('tipoDocumentoId')" formControlName="tipoDocumentoId">
                      <option value="0">SELECIONE</option>
                      <option value="1">AUTO DE LEILÃO</option>
                      <option value="2">NOTA DE ARREMATAÇÃO</option>
                      <option value="3">ATA DE LEILÃO</option>
                    </select>
                    <!-- <ng-select [items]="empresas" formControlName="cobrancaId"  [ngClass]="aplicaCssErro('cobrancaId')" bindLabel="cedenteRazaoSocial" bindValue="idConfiguracaoConta">
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          <div style="margin: 10px 0; white-space: normal;" class="card" >
                              <div class="card-body">
                                  <h5 class="card-title" [ngOptionHighlight]="search">{{item.cedenteRazaoSocial}}</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">CNPJ: {{item.cedenteCpfCnpj | formatCpfCnpf }}</h6>
                                  <h6 class="card-subtitle mb-2 text-muted"><small>Banco: {{item.cedenteBanco }} - AG: {{item.cedenteAgencia }} - CC: {{ item.cedenteContaCorrente + '-' + item.cedenteDigitoConta }}</small></h6>
                              </div>
                          </div>
                      </ng-template>
                    </ng-select> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header new-campo d-flex align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa fa-signature" aria-hidden="true"></i>&nbsp; Assinantes
            </div>
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-6">
                <label for="nome">Assinante 1</label>
                <select class="form-control" [ngClass]="aplicaCssErro('tipoDocumentoId')" formControlName="tipoDocumentoId">
                  <option value="0">SELECIONE</option>
                  <option value="1">Leiloeiro</option>
                  <option value="2">Analista</option>
                  <option value="3">Vistoriador</option>
                </select>
              </div>
              <div class="form-group col-6">
                <label for="cpfCnpj">Assinante 2</label>
                <select class="form-control" [ngClass]="aplicaCssErro('tipoDocumentoId')" formControlName="tipoDocumentoId">
                  <option value="0">SELECIONE</option>
                  <option value="1">Leiloeiro</option>
                  <option value="2">Analista</option>
                  <option value="3">Vistoriador</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <label>Tipo de Assinatura</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipoAssinatura" id="certificado" value="1" checked>
                  <label class="form-check-label" for="certificado">
                    Certificado Digital
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipoAssinatura" id="assinatura" value="2">
                  <label class="form-check-label" for="assinatura">
                    Assinatura Digitalizada
                  </label>
                </div>
                <!-- <div><input type="radio" name="tipoAssinatura" id="certificado" formControlName="tipoAssinatura"> <label for="certificado">Certificado Digital</label></div>
                <div><input type="radio" name="tipoAssinatura" id="assinatura" formControlName="tipoAssinatura"> <label for="assinatura">Assinatura Digitalizada</label></div> -->
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary saveCancel" *ngIf="!salvando" (click)="onSubmit()"><i class="fa fa-save"></i> Salvar</button>
            <button type="button" class="btn btn-primary saveCancel" *ngIf="salvando"><i class="fa fa-spin fa-spinner"></i> Salvando...</button>
            &nbsp;<button type="reset" class="btn btn-danger" [routerLink]="['/gerenciador-documentos']"><i class="fa fa-undo"></i>
              Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
