<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-university" aria-hidden="true"></i>
            Empresas
          </div>

          <button type="button" class="btn btn-success"><i class="fa fa-file-excel" aria-hidden="true"></i><h6>Excel</h6></button>

        </div>

        <div class="card-block" >
          <button type="button" class="btn btn-success" [routerLink]="['/create-empresa']"><i class="fa fa-plus-circle"></i>&nbsp; Nova Empresa</button>

          <div class="table-responsive mt-4">
            <table class="table table-striped" [mfData]="empresa" #mfEmpresa="mfDataTable" [mfRowsOnPage]="5">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="empresaId">Id</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="nomeFantasia">Nome</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="dataCadastro">Razão Social</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="telefone">Telefone</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="dataCadastro">Data Cadastro</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="ativo">Ativo</mfDefaultSorter>
                  </th>
                  <th class="text-center" >
                    Editar
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mfEmpresa.data; let i = index">
                  <td>{{item.empresaId}}</td>
                  <td>{{item.nomeFantasia}}</td>
                  <td>{{item.razaoSocial }}</td>
                  <td>{{item.telefone }}</td>
                  <td>{{item.dataCadastro | date: 'dd/MM/yyyy' }}</td>
                  <td>{{item.ativo ? 'Sim' : 'Não' }}</td>
                  <td class="text-center" nowrap>
                    <button type="button" class="btn btn-primary" (click)="edit(item.empresaId)"><i class="fa fa-edit"></i>&nbsp;Editar</button>
                  </td>
                </tr>
                <tr *ngIf="loading">
                  <td class="text-center text-muted" colspan="9">
                    <h5><i class="fa fa-spin fa-spinner"></i>&nbsp;Carregando...</h5>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
