.categoria-pai {
  font-weight: bold; /* Deixa o texto em negrito para distinguir as categorias pai */
  margin-top: 10px; /* Espaço superior entre as categorias pai */
}

/* Estilos para categorias filhas */
.categoria-filha {
  margin-left: 20px; /* Recuo à esquerda para as categorias filhas */
}
