.img-topo{
    margin: 0 auto;
    margin-bottom: 10px;
}
h3{
    font-weight: bold;
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
}
.col-sm hr{
    width: 50%;
    border-color: #1a1a1a;
}
#descricaoLote{
    color: red;
}