<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header header">
          <div>
            <i class="fa fa-file" aria-hidden="true"></i>
            Auto de Leilão
          </div>


        </div>
       
        <div class="card-block">
          <div class="container">
            <div class="row align-items-center">
              <div class="img-topo">
                <img src="../../../../assets/img/leiloeiraju.jpg">
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <h3 class="text-center"> AUTO DE LEILÃO PASSADO NA FORMA ABAIXO: </h3>
                <p>
                  Ao  décimo dia do mês de fevereiro do ano de dois mil e dois, eu Juliana Araújo,
                  Leiloeira Pública Oficial, matriculada na Junta Comercial do Estado do Rio de Janeiro
                  sob o nº 238, por força do que dispõe o Decreto Federal nº 21.981 de 1932,
                  Lei Federal nº 13.160/2015, Resolução 623/2016 do CONTRAN e nos termos dos arts.
                  271 e 328, da Lei nº 9.503, de 23 de setembro de 1997, que instituiu o Código de Trânsito
                  Brasileiro – CTB, na modalidade de LEILÃO, “do tipo maior lance”, devidamente autorizado
                  pela  PREFEITURA MUNICIPAL DE NITERÓI, através da empresa NITPATIO SERVIÇOS DE REMOÇÃO LTDA,
                  efetuei a venda, como mandatária, em público leilão, às 13:18, na modalidade online,
                  através da plataforma de leilões online www.eblonline.com.br, de veículos apreendidos 
                  pelos Comitentes acima mencionados. Aberto o leilão, foi disponibilizado o edital de
                  leilão e todas as informações inerentes aos bens leiloados. Foi esclarecido que o arrematante
                  é responsável pelos procedimentos de transferência do veículo junto ao DETRAN, pagamento de DUDAS,
                  taxas e IPVA do ano do arremate. Ato contínuo declaro que efetuei a venda do LOTE Nº 47,
                  assim descrito: <span id="descricaoLote">(descrição do lote)</span>. Após apregoar, foi encontrado como lance vencedor o valor de
                  R$ 103,40 oferecido pelo(a) Sr(a) Artur de Almeida Esteves, inscrito(a) no CPF/CNPJ de nº 902.826.207-53,
                  portador(a) do RG de nº: 72846843, domiciliado(a) Rua Pouso Alto 154 Tanque Rio de Janeiro RJ 22735-220 – RJ, 
                  identificado pelo usuário: arturdealmeida, que pagou o preço integral da arrematação, taxa e a comissão da leiloeira de 5%,
                  via boleto bancário emitido pelo Comitente. Assim, para que surta efeitos legais é lavrado o presente
                  Auto de Leilão que vai assinado eletronicamente pela Leiloeira Pública Oficial,
                  detentoda de fé pública, nos termos do Decreto Federal 21.981 de 1932. 
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <hr>
                <h4 class="text-center">Juliana Araújo</h4>
                <h5 class="text-center">Leiloeira Pública Oficial</h5>
                <p class="text-center">(Assinado eletronicamente nos termos da Lei Federal nº 14.063 de 2020)</p>
              </div>
            </div>
            
            
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
