.header{
  display: flex;
  justify-content: space-between;
}

.fa-file{
  margin-right: 10%;
}
.input-search{
  padding-top: 20px;
}
.info{
  height: 45vh;
  background-color: rgb(243, 243, 243);
}
.border-table{
  border:1px solid rgb(199, 199, 199)
}
.table-user{
  height: 100%;
}
.btn-blockchain {
  cursor: pointer;
}
