
.container {
  height: 80px;
  width: 150px;
  border: 2px solid rgb(152, 152, 152) ;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

h6{
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

h3{
  font-size: 25px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

p {
  font-size: 11px;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .thumb {
    height: 60px;
    width: 80px;
    border: 1px solid #000 ;
    border-radius: 3px;
    background-color: #afafaf;
  }

  .thumb-principal {
    height: auto;
    width: auto;
    border: 2px solid #000 ;
    border-radius: 5px;
  }

  .thumb-principal img{
    object-fit: scale-down;
    height: 310px;
    width: 100%;
    background-color: #afafaf;
  }

  .thumb img {
    height: 60px;
    width: 100%;
    object-fit: scale-down;
    opacity: 0.3;
  }

  .destaque {
    background-color: #0c365e !important;
    color: #fff !important;
    border: 2px solid #010a13 !important;
  }

  .vistoriaAprovada {
    color: #454141;
    background-color: #13c716;
    border-color: #097a3c;
  }

  .vistoriaReprovada, .vistoriaCancelada {
    color: #ffffff;
    background-color: #c72e13;
    border-color: #7a0909;
  }

  .vistoriaAprovadaRestricao {
    color: #454141;
    background-color: #db981b;
    border-color: #97760a;
  }

  .itemSelecionado {
    opacity: 1 !important;
  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #e5e3e3;
    border: 3px solid #cecece;
    color: #7f7f7f
  }

 .tarja {
    background-color: #0006;
    color: #fff;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 99.5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 600;
 }
