<form [formGroup]="formulario" (ngSubmit)="onSubmit()" appFocus>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            &nbsp;Informações do Local - Obrigatorios*
          </div>

          <div class="card-block">
            <div class="row ">
              <div class="form-group col-6" >
                <label for="descricao">Descrição</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('descricao')" id="descricao" placeholder="Descrição" name="Descrição" formControlName="descricao" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <label for="empresaId">Empresa </label>
                <select class="form-control" [ngClass]="aplicaCssErro('empresaId')" formControlName="empresaId" >
                  <option *ngFor="let item of empresa" value="{{item.empresaId}}">{{item.nomeFantasia}}</option>

                </select>
              </div>
              <div class="form-group col-3">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('telefone')" id="titulo"  formControlName="telefone"
                 triggers="keypress:focusout" [textMask]="{mask: mask}">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="animated fadeIn" formGroupName="endereco">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
              <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
            Endereço
          </div>

          <div class="card-block">
            <div class="row">
              <div class="form-group col-4">
                <label for="cep">Cep</label>
                <input type="text" class="form-control" id="cep" [ngClass]="aplicaCssErro('endereco.cep')"
                  formControlName="cep" (blur)="consultaCEP()"  triggers="keypress:focusout" [textMask]="{mask: maskCep}">
              </div>
              <div class="form-group col-4">
                <label for="logradouro">Logradouro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.logradouro')" id="logradouro"
                  formControlName="logradouro"  triggers="keypress:focusout">
              </div>

              <div class="form-group col-4">
                <label for="numero">Número</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.numero')" id="numero"
                  formControlName="numero"  triggers="keypress:focusout">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-3">
                <label for="complemento">Complemento</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.complemento')" id="complemento"
                  formControlName="complemento" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <label for="bairro">Bairro</label>
                <input type="text" class="form-control" [ngClass]="aplicaCssErro('endereco.bairro')" id="bairro"
                  formControlName="bairro" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade"
                  formControlName="cidade" [ngClass]="aplicaCssErro('endereco.cidade')" triggers="keypress:focusout">
              </div>
              <div class="form-group col-3">
                <label for="estado">Estado</label>
                <input type="text" class="form-control" id="estado"
                  formControlName="estado" [ngClass]="aplicaCssErro('endereco.estado')"  triggers="keypress:focusout" maxlength="2">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary saveCancel"><i class="fa fa-save"></i> Salvar</button>
            <button type="reset" class="btn btn-danger" [routerLink]="['/local']"><i class="fa fa-undo"></i>
              Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
