// core overrides
$navbar-bg: #36a9e1;
$navbar-brand-width: 200px;
$navbar-border: none;
$navbar-color: $white;
$navbar-hover-color: $gray-100;
$navbar-active-color: $white;

$sidebar-bg: $white;
$sidebar-color: $gray-800;

$sidebar-nav-color: $gray-800;
$sidebar-nav-link-color: $gray-800;
$sidebar-nav-link-hover-bg: #59bcec;
$sidebar-nav-link-active-color: $white;
$sidebar-nav-link-active-bg: #36a9e1;
$sidebar-nav-link-active-icon-color: $white;
$sidebar-nav-title-color: $gray-400;
$sidebar-footer-bg: #36a9e1;
$sidebar-minimizer-bg: #1e8fc6;
$sidebar-minimizer-indicator-color: $white;
$sidebar-minimizer-hover-bg: #36a9e1;

$breadcrumb-borders: none;

$navbar-brand-bg: #1e8fc6;
$navbar-brand-border: none;

$sidebar-nav-dropdown-bg: #89bdd6;
