<form [formGroup]="formulario" (ngSubmit)="onSubmit()" appFocus>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <i class="fa fa-window-maximize" aria-hidden="true"></i>
            &nbsp;Informações
          </div>
          <div class="card-block">
            <div class="row">
              <div class="form-group col-6">
                <label for="descricao">Descrição *</label>
                <input
                  type="text"
                  class="form-control"
                  [ngClass]="aplicaCssErro('descricao')"
                  id="descricao"
                  placeholder="Descrição"
                  name="Descrição"
                  formControlName="descricao"
                />
              </div>
              <div class="form-group col-6">
                <label for="categoria">Categoria *</label>
                <select
                  id="categoria"
                  class="form-control"
                  formControlName="categoriaId"
                  [ngClass]="aplicaCssErro('categoriaId')"
                >
                  <option value="" disabled selected>
                    Selecione uma categoria
                  </option>
                  <ng-container *ngFor="let categoria of categorias">
                    <option [value]="categoria.categoriaId">
                      {{ categoria.descricao }}
                    </option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <app-save-cancel-buttons
              [route]="'/tipo-lote'"
              [buttonDisabled]="!formulario.valid"
            ></app-save-cancel-buttons>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
