<div class="body">

  <app-header></app-header>

  <app-banner [title]="titleBanner" [Subtitle]="Subtitle" [link]="link"></app-banner>

  <!-- SOBRE -->
  <div *ngIf="dados" class=" row justify-content-center align-items-center m-0 p-0"
    style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-5 pt-md-4">
        <h4 style="font-size: 1.2rem; color: gray;">
          SOBRE
        </h4>
        <h2 style="color:#2864AE; font-weight: bolder;">
          {{dados?.nome}}
        </h2>
        <p class="text-about mb-5" style="overflow-y: auto; max-height: 230px;" *ngIf="dados?.sobre">
          {{dados?.sobre}}
        </p>
        <p class="text-about mb-5" style="overflow-y: auto; max-height: 230px;" *ngIf="!dados?.sobre">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages,
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class="col-md-12 col-lg-7 pb-md-4 text-center d-flex justify-content-xl-center align-items-xl-center">
        <img src="../../../assets/galeria/Baner sobre (1).png" class="col-lg-11 col-xl-11">
      </div>
    </div>
  </div>
  <div class="col-md-11 col-lg-10 d-flex
justify-content-between align-items-center flex-wrap"
    style="height: auto;margin:2rem auto ; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);"
    *ngIf="dados?.nome.includes('LFA')">

    <ul style="list-style-type: disc;margin: 2rem auto;">
      <p style="font-size: 1.2rem;"><b> Visão:</b> Ser um dos principais laboratórios nacionais que apoia
        a descoberta e o desenvolvimento de
        medicamentos
        através da farmacologia aplicada na prospecção e pesquisa de substâncias, moléculas e formulações visando o
        atendimento das necessidades do Ministério da Saúde e da população brasileira.</p>
      <p style="font-size: 1.2rem;"> <b>Missão:</b> Contribuir de forma ética com a pesquisa e
        desenvolvimento de fármaco, biofármacos ou produto
        tecnológico com ação em doenças infecto-parasitárias e crônico degenerativas, para atender às necessidades do
        Ministério da Saúde, buscando soluções terapêuticas avançadas, com o intuito de melhorar a saúde da sociedade e
        garantir tratamentos acessíveis e de qualidade para a população brasileira.</p>

      <li style="margin: 1rem auto;text-align: justify;font-size: 1.2rem;">
        <b>Área de pesquisa:</b>

        <ul>
          Pesquisa e desenvolvimento de fármacos e medicamentos
        </ul>
      </li>

      <li style="margin: 1rem auto;text-align: justify;font-size: 1.2rem;">
        <b> Linhas de Pesquisa:</b>
        <ul style="list-style-type: square;">
          <li style="margin: 1rem auto;text-align: justify;">
            Farmacologia aplicada ao desenvolvimento de fármacos e medicamentos de origem natural ou sintética;</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Análise de farmacocinética, farmacodinâmica e farmacotoxicológica, e estudo de mecanismos de ação.</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Estudos celulares, bioquímicos e moleculares do processo inflamatório, mecanismos fisiopatológicos e
            perspectivas terapêuticas nas respostas inflamatórias local e sistêmica;</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Fortalecimento da educação voltada para a ciência e saúde.</li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="col-md-11 col-lg-10 d-flex
justify-content-between align-items-center flex-wrap"
    style="height: auto;margin:2rem auto ; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);"
    *ngIf="dados?.nome.includes('SFM')">

    <ul style="list-style-type: disc;margin: 2rem auto;  width: 100%;">

      <li style="margin: 1rem auto;text-align: justify;font-size: 1.2rem;">
        <b> Linhas de Pesquisa:</b>
        <ul style="list-style-type: square;">
          <li style="margin: 1rem auto;text-align: justify;">
            Câncer: aspectos genéticos e ambientais, mecanismos, patologia, diagnóstico, prognóstico e tratamento;</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Triagem biológica de produtos naturais e substâncias sintéticas na busca de novos fármacos;</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Farmacologia aplicada ao desenvolvimento de novos fármacos e medicamentos de origem natural ou sintética;
          </li>
          <li style="margin: 1rem auto;text-align: justify;">
            Formulação farmacêutica de medicamentos, incluindo nanoformulação.</li>
        </ul>
      </li>
    </ul>

  </div>

  <div class="col-md-11 col-lg-10 d-flex
  justify-content-between align-items-center flex-wrap"
    style="height: auto;margin:2rem auto ; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);"
    *ngIf="dados?.nome.includes('LMN')">

    <ul style="list-style-type: disc;margin: 2rem auto;">

      <li style="margin: 1rem auto;text-align: justify;font-size: 1.2rem;">
        <b> Linhas de Pesquisa:</b>
        <ul style="list-style-type: square;">
          <li style="margin: 1rem auto;text-align: justify;">
            Desenvolvimento de sistemas incrementadores de dissolução/ biodisponibilidade de fármacos pobremente
            solúveis em água;</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Desenvolvimento de métodos diferenciais de caracterização de insumos e formulações farmacêuticas no estado
            sólido.</li>

        </ul>
      </li>
    </ul>

  </div>

  <div class="col-md-11 col-lg-10 d-flex
  justify-content-between align-items-center flex-wrap"
    style="height: auto;margin:2rem auto ; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);"
    *ngIf="dados?.nome.includes('LABFE')">

    <ul style="list-style-type: disc;margin: 2rem auto;">

      <li style="margin: 1rem auto;text-align: justify;font-size: 1.2rem;">
        <b> Linhas de Pesquisa:</b>
        <ul style="list-style-type: square;">
          <li style="margin: 1rem auto;text-align: justify;">
            Desenvolvimento de processos de escalonamento e prototipagem (Otimização de processos desde a escala
            laboratorial até escala industrial com uso das ferramentas de Quality by design e Planejamento de
            experimentos (DoE) e impressão 3D);</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Desenvolvimento de tecnologias de produção, controle de qualidade, avaliação pré-clínica e clínica
            (Secagem/Microencapsulação por aspersão (spray-drying); Preparo de dispersões sólidas por hot melt extrusion
            (HME); Preparo de complexos com resinas de troca iônica; Melhoria da estabilidade e palatabilidade de
            fármacos);</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Formulação farmacêutica de medicamentos, incluindo nanoformulação (Formulações com insumos sintéticos e da
            biodiversidade, para aplicação farmacêutica, veterinária e como insumos para saúde).
          </li>

        </ul>
      </li>
    </ul>

  </div>
  <div class="col-md-11 col-lg-10 d-flex
  justify-content-between  flex-wrap"
    style="height: auto;margin:2rem auto ; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);"
    *ngIf="dados?.nome.includes('LASFAR')">

    <ul style="list-style-type: disc;margin: 2rem auto; width: 100%;">

      <li style="margin: 1rem auto;text-align: justify;font-size: 1.2rem;">
        <b> Linhas de Pesquisa:</b>
        <ul style="list-style-type: square;">
          <li style="margin: 1rem auto;text-align: justify;">
            Pesquisa e Desenvolvimento de síntese de compostos e química medicinal</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Desenvolvimento e otimização de processos de síntese de IFAs de relevância ao SUS</li>


        </ul>
      </li>
    </ul>

  </div>
  <div class="col-md-11 col-lg-10 d-flex
  justify-content-between  flex-wrap"
    style="height: auto;margin:2rem auto ; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);"
    *ngIf="dados?.nome.includes('LPNSP')">

    <ul style="list-style-type: disc;margin: 2rem auto; width: 100%;">

      <li style="margin: 1rem auto;text-align: justify;font-size: 1.2rem;">
        <b> Linhas de Pesquisa:</b>
        <ul style="list-style-type: square;">
          <li style="margin: 1rem auto;text-align: justify;">
            Pesquisa e Desenvolvimento de fitoterápicos</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Pesquisa e Desenvolvimento de fitofármacos</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Triagem biológica de produtos naturais e substâncias sintéticas na busca de novos fármacos</li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="col-md-11 col-lg-10 d-flex
  justify-content-between  flex-wrap"
    style="height: auto;margin:2rem auto ; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);"
    *ngIf="dados?.nome.includes('LabTecBio')">

    <ul style="list-style-type: disc;margin: 2rem auto; width: 100%;">

      <li style="margin: 1rem auto;text-align: justify;font-size: 1.2rem;">
        <b> Linhas de Pesquisa:</b>
        <ul style="list-style-type: square;">
          <li style="margin: 1rem auto;text-align: justify;">
            Pesquisa e Desenvolvimento de fitoterápicos</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Pesquisa e Desenvolvimento de fitofármacos</li>
          <li style="margin: 1rem auto;text-align: justify;">
            Triagem biológica de produtos naturais e substâncias sintéticas na busca de novos fármacos</li>
        </ul>
      </li>
    </ul>

  </div>
  <div class="col-md-11 col-lg-10 d-flex
  justify-content-between  flex-wrap"
    style="height: auto;margin:2rem auto ; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);"
    *ngIf="dados?.nome.includes('LSSCDT')">

    <ul style="list-style-type: disc;margin: 2rem auto; width: 100%;">

      <li style="margin: 1rem auto;text-align: justify;font-size: 1.2rem;">
        <b> Linhas de Pesquisa:</b>
        <ul style="list-style-type: square;">
          <li style="margin: 1rem auto;text-align: justify;">
            Pesquisa e Desenvolvimento de síntese de compostos e química medicinal</li>
        </ul>
      </li>
    </ul>

  </div>



  <!-- ATIVIDADES -->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;"
    *ngIf="dados?.pesquisasProjetos.length >0">

    <div class="col-md-11 col-lg-10 d-flex
    justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-12 pt-md-4 pb-4">
        <h4 style="font-size: 1.2rem; color: gray; ">
          ATIVIDADES
        </h4>
        <h2 style="color:#2864AE; font-weight: bolder;">
          PESQUISAS E PROJETOS
        </h2>
        <p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('SFM')">
          <li>
            Parcerias formalizadas:
            <ul>
              <li>REDE- NanoSaúde-FAPERJ - Consolidação de rede multidisciplinar (NanoSaúde) para o desenvolvimento
                translacional de produtos nanoestruturados para o diagnóstico, tratamento de tumores, traumas e doenças
                degenerativas</li>
              <li>Grupo de Pesquisa CNPq: Sistemas avançados de liberação de fármacos; Líder do grupo: Helvécio Vinícius
                Antunes Rocha – link: <a
                  href="dgp.cnpq.br/dgp/espelhogrupo/8598452129413753">dgp.cnpq.br/dgp/espelhogrupo/8598452129413753</a>
              </li>
              <li>Grupo de Pesquisa CNPq: Pesquisa, desenvolvimento, e metodologias interdisciplinares para a inovação
                químico-farmacêutica de processos e produtos da diversidade vegetal; Líder do grupo: Antonio Carlos
                Siani – Link; <a
                  href="dgp.cnpq.br/dgp/espelhogrupo/5244501200113202">dgp.cnpq.br/dgp/espelhogrupo/5244501200113202</a>
              </li>
              <li>Grupo de Pesquisa CNPq: Produtos Naturais Bioativos de Plantas; Líder do grupo: Maria Raquel
                Figueiredo - <a
                  href="dgp.cnpq.br/dgp/espelhogrupo/4183786409382458">dgp.cnpq.br/dgp/espelhogrupo/4183786409382458</a>
              </li>

            </ul>
          </li>
        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LPNSP')">
          <li>
            Parcerias formalizadas:
            <ul>
              <li>Instituto Oswaldo Cruz/Fiocruz</li>
              <li>Escola Politécnica de Saúde Joaquim Venâncio/Fiocruz</li>
              <li>Fiocruz Bahia </li>
              <li>Fiocruz Brasília</li>
              <li>Instituto Vital Brasil</li>
              <li>Instituto de Pesquisas do Jardim Botânico</li>
              <li>Embrapa</li>
              <li>Centroflora</li>
            </ul>
          </li>
        </p>


        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LABFE')">
          <li>Principais atividades realizadas:
            <ul>
              <li>Impressão 3D de medicamentos: <a
                  href="https://www.youtube.com/watch?v=WuFchTVA-Qw">https://www.youtube.com/watch?v=WuFchTVA-Qw</a>
              </li>
              <li>
                Curso Pesquisa e Desenvolvimento de Medicamentos de Interesse para a Saúde Pública - Desenvolvimento de
                Formas Farmacêuticas Sólidas Orais - PARTE 1 e PARTE 2:
                <ul>
                  <li><a
                      href="https://www.youtube.com/watch?v=yK99z0xBYiI">https://www.youtube.com/watch?v=yK99z0xBYiI</a>
                  </li>
                  <li><a
                      href="https://www.youtube.com/watch?v=oArU86TfuHU">https://www.youtube.com/watch?v=oArU86TfuHU</a>
                  </li>
                </ul>
              </li>
              <li>Curso Pesquisa e Desenvolvimento de Medicamentos de Interesse para a Saúde Pública - Desenvolvimento
                de Formas Farmacêuticas Semissólidas: <a href="https://www.youtube.com/watch?v=pjdiwBYFrPU"
                  target="_blank">https://www.youtube.com/watch?v=pjdiwBYFrPU</a>
              </li>
            </ul>
          </li>
        </p>
        <p class=" last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LABTECBIO')">
          <li>
            Parcerias formalizadas:
            <ul>
              <li>Instituto Oswaldo Cruz/Fiocruz</li>
              <li>Centro de Pesquisa Gonçalo Moniz/Fiocruz</li>
              <li>Universidade Federal do Rio de Janeiro</li>
              <li>Universidade do Estado do Rio de Janeiro</li>
              <li>Universidade Federal Rural do Rio de Janeiro</li>
              <li>Universidade Federal Fluminense</li>
              <li>Universidade Federal de Juiz de Fora</li>
              <li>Universidade Federal de Pernambuco</li>
              <li>Inovet Rio - Industria E Comercio De Produtos Veterinários Ltda</li>
            </ul>
          </li>

          <!-- <img src="../../../assets/headerlabtecbio.png" alt="" style="width: 100%;"> -->


          <li> <b style="font-size: 1.3rem;">Apoio à pesquisa </b>
            <ul>
              Além dos laboratórios credenciados, a VDEPI conta com as seguintes estruturas:

              <li>Núcleo de Farmacocinética
                <ul>
                  <li>Pesquisador responsável – Filipe Quirino da Silva</li>
                </ul>
              </li>
              <li>Serviço de Biotério
                <ul>
                  <li>Pesquisador responsável: Elaine Cruz Rosas</li>
                </ul>
              </li>
              <li>Seção de Farmacologia Molecular
                <ul>
                  <li>Pesquisador responsável: André Luiz Franco Sampaio</li>
                </ul>
              </li>
              <li>Seção de Análise e Identificação de Compostos com Potencial Terapêutico
                <ul>
                  <li>Pesquisador Responsável: Eduardo Gomes Rodrigues de Sousa</li>
                </ul>
              </li>
            </ul>
            <ul>

            </ul>
          </li>

        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LASFAR')">
          <li>
            Parcerias formalizadas:
            <p>SENAI CETIQT - Instituto SENAI de Inovação em Biossintéticos e Fibras <a
                href="https://youtu.be/QyiMUl7dl7Y?si=3sUr9qtE-k-_mkc0">https://youtu.be/QyiMUl7dl7Y?si=3sUr9qtE-k-_mkc0</a>
            </p>
          </li>
          <li>
            Atividades de extensão:
            <p>Participação em feiras de ciências, atividades culturais (ciência e arte), atividades em escolas de
              ensino básico etc. Acolhimento de alunos do Programa de Vocação Científica (PROVOC) da Fiocruz e
              atividades de divulgação científica em escolas de ensino básico e médio.
            </p>
          </li>
        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('SSCDT')">
          Linha 1: Novas metodologias sintéticas utilizando o ultrassom
          Objetivo: Desenvolvimento de novas metodologias sintéticas utilizando ultrassom
          visando a aceleração e ou favorecimento na síntese de blocos de construção em aumento
          de escala e moléculas biologicamente ativas.
          1 - Projeto: Utilização do ultrassom na síntese de moléculas biologicamente ativas
          Descrição: O objetivo deste projeto é a utilização do ultrassom na aceleração e ou
          favorecimento na síntese de blocos de construção em aumento de escala e moléculas
          biologicamente ativas.
          2 - Projeto: Síntese de derivados de ácidos acrílicos em escala multigrama por
          irradiação de ultrassom
          Descrição: Derivados de ácidos acrílicos são amplamente utilizadas no
          desenvolvimento de novas moléculas bioativas contra diversas doenças, tais como:
          tuberculose, malária e câncer. Devido à importância desse building block, o objetivo
          deste projeto é o desenvolvimento de uma metodologia rápida, em escala multigrama
          para a síntese de alguns derivados de ácidos acrílicos por irradiação de ultrassom.

          Linha 2: Síntese de análogos baseados em compostos utilizados no tratamento da
          malária
          Objetivo: Obter uma biblioteca de substâncias derivados do fármaco mefloquina e
          outros análogos quinolínicos, que serão avaliadas quanto a sua atuação no combate à
          malária.
          1 - Projeto: Síntese e aumento de escala de intermediários chaves polifuncionalizados
          e suas aplicações na química medicinal
          Descrição: Universal (428920/2018-7) Devido à extrema importância dos blocos de
          construção em química medicinal, esse projeto, irá utilizar diferentes blocos de
          construção polifuncionalizados que, serão utilizados por nosso grupo de pesquisa na
          preparação de diferentes substâncias as quais, serão avaliadas frente a diferentes
          tipos de doenças, em especial as comumente conhecidas como doenças
          negligenciadas. A preparação dos blocos de construção e as substâncias líderes de
          cada classe irão ser preparadas em aumento de escala.

          Linha 3: Novos compostos no combate à Tuberculose

          Objetivo: Devido à importância da tuberculose no cenário da saúde pública mundial,
          necessita-se com urgência de novos fármacos mais potentes, de baixo custo, com
          menores efeitos colaterais e com reduzido tempo da terapia. Desta forma o objetivo
          desse trabalho é, a partir de grupos farmacofóricos reconhecidamente ativos contra o
          Mycobacterium tuberculosis, obter uma biblioteca de substâncias, que serão avaliadas
          quanto a sua atuação no combate à tuberculose.
          1 - Projeto: Síntese e avaliação antimicobacteriana de derivados benzotiazólicos,
          benzoimidazólicos e seus análogos estruturais
          Descrição: O objetivo deste projeto é a síntese e a avaliação antimicobacteriana de
          diversos derivados benzotiazólicos, benzimidazólicos e seus análogos estruturais. O
          planejamento das séries de substâncias foi baseado em um número reduzido de
          etapas e com materiais de partida facilmente disponíveis e de baixo custo.
          2 - Projeto: Síntese e aumento de escala de building-blocks quinolínicos
          intermediários-chave na busca por novas moléculas com atividade contra a
          tuberculose
          Descrição: PROEP-FAR II (44004/2022-5). O presente projeto visa à obtenção em
          escala multigrama de building blocks quinolínicos de interesse para o grupo na busca
          por novas moléculas com potencial atividade contra a tuberculose. Os building
          blocks propostos neste projeto são derivados do núcleo 7-cloroquinolina, com
          múltiplos padrões de substituição na posição C-6, e funcionalizados nas posições C-4
          e/ou C-2.
          3 - Projeto: Síntese e avaliação tuberculostática de substâncias baseadas no fármaco
          mefloquina
          Descrição: Cientista do Nosso Estado (E-26/201.187/2021) A proposta deste projeto
          é baseada no fármaco mefloquina, a partir do planejamento e síntese de uma
          biblioteca de substâncias quinolínicas funcionalizadas na posição C-4 que serão
          avaliadas quanto a sua atuação no combate à tuberculose. Esta funcionalização foi
          baseada na substância etilenodiamina, que é o grupo farmacofórico do fármaco
          etambutol, utilizado no tratamento de primeira escolha contra a tuberculose, além de
          seus respectivos 1,2-aminoálcoois e derivados. Isto permitirá estabelecer um estudo
          de relação estrutura-atividade que auxiliará na identificação do seu mecanismo de
          ação e na escolha de uma substância para estudos in vivo.
          4- Projeto: Planejamento, síntese e avaliação biológica de derivados da cânfora
          Descrição: Na área da química medicinal, estudos revelaram que a cânfora possui
          uma diversidade de atividades biológicas, atuando como antiviral, antimicrobiano,
          antitussígeno e como analgésico. Assim sendo, o objetivo geral deste projeto consiste
          na síntese em escala de multigramas utilizando a cânfora como material de partida,
          obtendo building-blocks, como a nitroimina da cânfora, utilizando o intermediário
          chave canfeceno que será transformado em um mesilato imino álcool da cânfora,
          todo esse processo sintético até o mesilato ocorrerá em escala multigramas. A partir
          do mesilato imino-alcool da cânfora será sintetizado novos derivados da cânfora,
          reagindo com aminas primárias, secundárias e disubstituidas.

          Linha 4: Novos compostos no combate a Leishmaniose

          Objetivo: Obter intermediários chaves polifuncionalizados de diferentes classes
          químicas e seus derivados em escala multigrama, que serão avaliadas quanto a sua
          atuação no combate à Leishmaniose.
          1- Projeto: Síntese e aumento de escala de intermediários chaves polifuncionalizados
          e suas aplicações na química medicinal
          Descrição: A obtenção de intermediários sintéticos chaves polifuncionalizados em
          escala otimizada, vem a ser uma estratégia fundamental para se obter diversos
          compostos de fundamental importância para estudos de suas propriedades
          farmacológicas. Tal estratégia permite o alcance de uma variabilidade de moléculas
          estruturalmente diversificadas, facilitando o estudo de relação estrutura atividade e a
          obtenção de um protótipo. Ademais, tal estratégia possibilita, para um dado produto
          promissor, a obtenção de quantidade de massa necessária para eventuais ensaios mais
          avançados in vivo e pré-clínico, bem como antecipa alguns parâmetros que viabiliza
          sua possível produção em escala otimizada. Neste contexto, o presente trabalho visa
          a obtenção em escala de multigramas de intermediários chaves (building blocks) de
          diferentes classes químicas, e seus derivados, com o fim de se obter potenciais
          substâncias bioativas que tenham propriedades farmacológicas de interesse, tais
          como leishmanicida.
          Linha 5: Novos compostos para o tratamento do câncer
          Objetivo: Obter uma biblioteca de substâncias derivadas do núcleo quinoxalínico e
          substâncias contendo selenoheterociclos do fármaco mefloquina e outros análogos
          quinolínicos, que serão avaliadas quanto a sua atuação no combate à malária.
          1- Projeto: Síntese de derivados quinoxalínicos com potencial atividade antitumoral
          Descrição: Este projeto tem como objetivo o desenvolvimento de novas séries de
          derivados quinoxalínicos como promissores agentes antitumorais. Com ênfase na
          síntese e avaliação farmacológica, exploramos o potencial antitumoral do núcleo
          quinoxalínico, respaldando-nos nos resultados prévios do grupo, que evidenciaram
          notável atividade antitumoral dos derivados quinoxalinil-hidrazônicos. Dessa forma,
          a abordagem deste projeto compreende a síntese de novas séries de derivados
          quinoxalínicos, visando ampliar a diversidade de compostos que contenham esse
          núcleo. Com isso, a finalidade é aprofundar a compreensão da atividade
          biológica desses compostos e contribuir para avanços significativos no campo da
          pesquisa de agentes antitumorais.
          2- Projeto: Síntese e avaliação biológica de selenoheterociclos como potenciais
          agentes antitumorais.
          Descrição: Nos últimos anos várias estruturas contendo os núcleos oxazol e tiazol
          tem sido reportadas como potenciais agentes anticâncer. Alguns estudos também
          tem reportado que a substituição do átomo de enxofre por seu isóstero selênio em
          diversas moléculas resulta em um aumento da atividade biológica dessas estruturas.
          Assim sendo, os objetivos específicos deste projeto são a síntese de compostos
          contendo selenoheterociclos, incluindo os selenoazois que serão avaliados frente a
          diferentes linhagens de células cancerosas além do estudo da relação estrutura-
          atividade dessas substâncias.
        </p>
        <div class=" last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LFA')">
          <ul>
            <li style="margin: 1rem auto;text-align: justify;">
              <span style="font-size: 1.2rem;"> Principais atividades de extensão:</span>
              <ul>
                <li>Bússola Ensaios Pré-Clínicos – Inovalabs - IV Rodada </li>
                <img src="../../../assets/bussola.jpg" style="width: 80%;">
              </ul>
            </li>
            <li>Dado Científico
              <ul>
                <li> <a href="https://dadocientifico.wixsite.com/dadocientfico"
                    target="_blank">https://dadocientifico.wixsite.com/dadocientfico</a>
                </li>
                <li>
                  <a href="https://www.instagram.com/dadocientifico?igsh=dWVhZ3NqY2JkcXhi"
                    target="_blank">https://www.instagram.com/dadocientifico?igsh=dWVhZ3NqY2JkcXhi</a>
                </li>
              </ul>
            </li>
            <img src="../../../assets/laboratorios/DF - Farmacologia/dado.png" style="margin: 1rem 0rem;">
            <li>Principais atividades realizadas:
              <ul>
                <li>iLabthon/ Rede Conexão Inovação Pública RJ. Dado Científico - Janeiro/2021;</li>
                <li>Série de entrevistas e lives com Mulheres e meninas nas Ciência - Fevereiro/2021;</li>
                <li>Apresentação oral -seção “Early Career Researcher Forum”- Comunicação Científica nas redes sociais
                  com o Dado Científico - VI Brazilian Meeting on Research Integrity, Science and Publication Ethics (VI
                  BRISPE); Informações disponíveis em: <a href="https://www.vibrispe2020.com/program"
                    target="_blank">https://www.vibrispe2020.com/program</a> - Outubro/2021;
                </li>
              </ul>
            </li>
            <li>
              Jogos Desenvolvidos:
              <ul>
                <li> Semana Nacional da Ciência e Tecnologia (SNCT) da FIOCRUZ – Outubro de 2021
                  Farmanji- uso racional de medicamentos - SNCT/ Fiocruz; Informações disponíveis em: <a
                    href="https://portal.fiocruz.br/noticia/conheca-farmanji-o-jogo-de-tabuleiro-virtual-de-farmanguinhos">https://portal.fiocruz.br/noticia/conheca-farmanji-o-jogo-de-tabuleiro-virtual-de-farmanguinhos.</a>
                </li>
                <li>
                  Sociedade Brasileira para o Progresso da Ciência (SBPC) – Julho de 2022
                  <ul>
                    <li>
                      Caça-Palavras - Encontrando as minas Líderes - SBPC; Informações disponíveis em: <a
                        href="https://educare.fiocruz.br/resource/show?id=JiVhHY6r">https://educare.fiocruz.br/resource/show?id=JiVhHY6r;</a>
                    </li>
                    <li>
                      Caça Jaleco - SBPC; Informações disponíveis em: <a
                        href="https://educare.fiocruz.br/resource/show?id=2bybAce7">https://educare.fiocruz.br/resource/show?id=2bybAce7;</a>
                    </li>
                    <li>
                      Jogo da memória- Encontro de Gerações - SBPC; Informações disponíveis em:
                      <a
                        href="https://educare.fiocruz.br/resource/show?id=xT09r05l">https://educare.fiocruz.br/resource/show?id=xT09r05l</a>
                    </li>
                    <li>
                      Jogo da Estória - SBPC; Informações disponíveis em:
                      <a
                        href="https://educare.fiocruz.br/resource/show?id=2YIAKNmY">https://educare.fiocruz.br/resource/show?id=2YIAKNmY</a>
                    </li>
                  </ul>
                </li>

                <li>
                  Semana Nacional da Ciência e Tecnologia (SNCT) da FIOCRUZ – Outubro de 2022

                  <ul>
                    <li>Laboratório das Cores- SNCT/Fiocruz; </li>
                    <li>Conhecendo as cientistas - SNCT/Fiocruz;</li>
                    <li>Jogo da Transparência - Feira de Ciências EPSJV/ Fiocruz;</li>
                  </ul>
                </li>
              </ul>
            </li>

            <li>
              Parcerias formalizadas:
              <p>REDE- NanoSaúde-FAPERJ - Consolidação de rede multidisciplinar (NanoSaúde) para o desenvolvimento
                translacional de nanoprodutos para o diagnóstico, tratamento de tumores, traumas e doenças degenerativas
              </p>
            </li>


          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- RECONHECIMENTOS -->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex
    justify-content-between align-items-center flex-wrap"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="col-md-12 col-lg-12 pt-md-4 pb-4">
        <h4 style="font-size: 1.2rem; color: gray; ">
          RECONHECIMENTOS

        </h4>
        <h2 style="color:#2864AE; font-weight: bolder;">
          PRÊMIOS E PROPRIEDADE INTELECTUAL
        </h2>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LMN')">
          <li>Prêmios/Destaques: (a partir de 2020)
            <ul>
              <li>Melhor trabalho na sessão de apresentações orais da I Jornada de Pós-Graduação Acadêmica em Pesquisa
                Translacional em Fármacos e Medicamentos (doutoranda Gabrielle Pereira das Neves), Farmanguinhos /
                Fiocruz, 2023;</li>
              <li>Menção Honrosa - III Congresso Digital de Nanobiotecnologia e Bioengenharia, Embrapa Recursos
                Genéticos e Biotecnologia, 2022</li>
            </ul>
          </li>
        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LPMD')">
          <li>Prêmios/Destaques:
            <ul>
              <li>Destaque de trabalho científico entre os dez mais citados no Brazilian Journal of Pharmacognosy em
                2021.</li>
            </ul>
          </li>
        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LPNSP')">
          <li>Prêmios/Destaques:
            <ul>
              <li>Estudo da atividade inibidora de protease em Arrabidaea chica, Federação das Sociedades de Biologia
                Experimentais, 2023;</li>
              <li>Menção Honrosa no XIII Simpósio Brasileiro de Farmacognosia, Sociedade Brasileira de Farmacognosia,
                2021;</li>
              <li>PRÊMIO PIO CORRÊA DE INOVAÇÃO EM CIÊNCIAS FARMACÊUTICAS DA BIODIVERSIDADE BRASILEIRA, Academia de
                Ciências Farmacêuticas do Brasil, 2021;</li>
              <li>PRÊMIO PIO CORRÊA DE INOVAÇÃO EM CIÊNCIAS FARMACÊUTICAS DA BIODIVERSIDADE BRASILEIRA, Academia de
                Ciências Farmacêuticas do Brasil,2021.</li>

            </ul>
          </li>
        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LABFE')">
          <li>Prêmios/Destaques:
            <ul>
              <li>Prémio José Pelegrino - melhor tese em esquistossomose, 16ª International Symposium on
                Schistosomiasis, 2022;</li>
              <li>Best poster presentation, 13 Th Conference of the European Paediatric Formulation Initiative (EuPFI),
                2021;</li>
              <li>Prêmio Maria Auxiliadora Kaplan - Menção Honrosa, IPPN Instituto de Pesquisas de Produtos Naturais da
                UFRJ, 2020.</li>
            </ul>
          </li>
        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LABTECBIO')">
          <li>Prêmios/Destaques:
            <ul>
              <li>2023. Destaque na 31ª RAIC, área PN (aluna Raquel Capilla Loureiro Alves de Santana), Farmanguinhos,
                Fundação Oswaldo Cruz;</li>
              <li>2022. Melhor poster Produtos Naturais, Sociedade Brasileira de Química (RASBQ2022). Marques, André M.;
                Kaplan, Maria Auxiliadora C.; Figueiredo, M. R. The role of Countercurrent Chromatography to separate
                major volatile compounds from essential oil of Manekia obtusa L.;</li>
              <li>2021. Destaque na 29ª Reunião Anual de Iniciação Científica, área PN (aluna Bianca Carvalho dos
                Santos), Farmanguinhos, Fundação Oswaldo Cruz.</li>

            </ul>
          </li>
        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LABFE')">
          <li>Prêmios/Destaques:
            <ul>
              <li>Prêmio MedChem - Divisão de Química Medicinal - SBQ - Aluna Marilia Oliva Gandi, Sociedade Brasileira
                de Química – 2020;;</li>
              <li>Brazilian Women in Chemistry ACS-SBQ, Os prêmios são patrocinados pela C&EN e CAS, da American
                Chemical Society, com apoio da da SBQ – 2021;</li>
              <li>Cientista do Nosso Estado 2020, Faperj – 2021;</li>
              <li>Mulheres na Fiocruz: trajetórias, Casa de Oswaldo Cruz – Fiocruz – 2021;</li>
              <li>Prêmio Kurt Politzer de Tecnologia, ABIQUIM - Associação Brasileira da Indústria Química – 2021;</li>
              <li>Menção Honrosa pelo case IFAs - Summit SENAI P&D + Impacto, SENAI – 2022.</li>
            </ul>
          </li>
        </p>
        <p class="text-about last-news-paragraph-farmacologia" *ngIf="dados?.nome.includes('LSSCDT')">
          <li>Prêmios/Destaques:
            <ul>
              <li>Um dos 979 cientistas brasileiros mais influentes no ambiente científico mundial (<a
                  href="https://elsevier.digitalcommonsdata.com/datasets/btchxktzyw/6">https://elsevier.digitalcommonsdata.com/datasets/btchxktzyw/6</a>),
                Mendeley Data, 2023</li>
              <li>Artigo Contracapa do Periódico QUÍMICA NOVA, vol. 45, No 7, Sociedade Brasileira de Química (SBQ),
                2022</li>
              <li>Um dos 812 cientistas brasileiros mais influentes no ambiente científico mundial (<a
                  href="https://elsevier.digitalcommonsdata.com/datasets/btchxktzyw/3">https://elsevier.digitalcommonsdata.com/datasets/btchxktzyw/3</a>),
                Mendeley Data, 2021</li>
              <li>Cientista do Nosso Estado, Faperj, 2021</li>
              <li>Artigo capa da revista JBCS - Journal of the Brazilian Chemical Society, vol. 33, No. 1, JBCS -
                Sociedade Brasileira de Química, 2021</li>
              <li>Artigo selecionado para participar da edição especial "ChemMedChem hot topic special collection of
                neglected & tropical diseases", Wiley, 2020</li>
              <li>Um dos 600 cientistas brasileiros mais influentes no ambiente científico mundial
                (<a
                  href="https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.3000918">https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.3000918</a>),
                Plos Biology, 2020</li>
            </ul>
          </li>
        </p>
        <p class="text-about last-news-paragraph-farmacologia"
          *ngIf="!dados?.nome.includes('LABTECBIO') && !dados?.nome.includes('LABFE') && !dados?.nome.includes('LPNSP') && !dados?.nome.includes('LPMD') && !dados?.nome.includes('LMN')">
          <li>Prêmios/Destaques: (a partir de 2020)
            <ul>
              <li>Cover Image: JOURNAL OF BIOMEDICAL MATERIALS RESEARCH PART B-APPLIED BIOMATERIALS, v. 111, p. 1-1,
                2023. <a href="https://doi.org/10.1002/jbm.b.35256">https://doi.org/10.1002/jbm.b.35256</a></li>
              <li>2021 ZIGMAN BRENER Award, XXXVI Annual Meeting of the Brazilian Society of Protozoology.</li>
            </ul>
          </li>
        </p>
      </div>
    </div>
  </div>

  <!-- GALERIA -->
  <div class=" row justify-content-center align-items-center m-0 p-0" style="margin-top: 20px !important;">

    <div class="col-md-11 col-lg-10 d-flex flex-column justify-content-start align-items-center"
      style="height: auto; background-color: white; border-radius: 20px; border: 1px solid rgb(219, 219, 219);">
      <div class="row w-100 justify-content-center">
        <div class="col-12" style="padding-top: 25px;">
          <h4 style="font-size: 1.2rem; color: rgb(44, 44, 44);">
            GALERIA
          </h4>
        </div>

        <div class="row flex-wrap pb-md-5 d-flex justify-content-center align-items-center" style="width: 90%;">
          <div class="col-md-6 col-lg-4 p-3" *ngFor="let image of _albums; let i=index">
            <img class="w-100" [src]="image.src" (click)="open(i)" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>